////
/// @group  Extend
////

%imageFill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

%radialGradientOrange {
  //background-image: radial-gradient(#ea8d23,#78371d);
  background-image: radial-gradient(#ea8d23,#c04d1f);
}
%radialGradientPink {
  //background-image: radial-gradient(#c359ff,#4b2483);
  background-image: radial-gradient(#c359ff,#701fe5);
}
%radialGradientBlue {
  //background-image: radial-gradient(#2cc1ff,#143977);
  background-image: radial-gradient(#2cc1ff,#215dc2);
}
%radialGradientGreen {
  //background-image: radial-gradient(#69bb1e,#175117);
  background-image: radial-gradient(#69bb1e,#227622);
}
%radialGradientGray {
  //background-image: radial-gradient(#bebebe,#646464);
  background-image: radial-gradient(#bebebe,#848282);
}

%borderOrange {
  border-style: solid;
  border-color: #ea8d23;
}
%borderPink {
  border-style: solid;
  border-color: #c359ff;
}
%borderBlue {
  border-style: solid;
  border-color: #2cc1ff;
}
%borderGreen {
  border-style: solid;
  border-color: #69bb1e;
}
%borderGray {
  border-style: solid;
  border-color: #bebebe;
}