//- DATA FORM :: START

-
  var dataFormObj = {
    inputName: {
      classMod: "",
      uniqueName: "name",
      labelVal: "",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "Name",
      val: ""
    },
    inputEmail: {
      classMod: "",
      uniqueName: "email",
      labelVal: "",
      inputType: "email",
      inputClassMod: "",
      placeholderVal: "Email",
      val: ""
    },
    inputPassword: {
      classMod: "",
      uniqueName: "password",
      labelVal: "Password",
      inputType: "password",
      inputClassMod: "",
      placeholderVal: "Type your password",
      val: ""
    },

    radioField: {
      classMod: "",
      labelVal: "Radio label name",
      uniqueName: "radio",
      radioGroupName: "radio",
      radioValue: "radio",
      radioClassMod: "",
      radioContent: "Some radio content"
    },

    checkboxFieldLegendary: {
      classMod: "c-form__field--checkbox-legendary",
      labelVal: "",
      uniqueName: "legendary",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Legendary"
    },
    checkboxFieldEpic: {
      classMod: "c-form__field--checkbox-epic",
      labelVal: "",
      uniqueName: "epic",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Epic"
    },
    checkboxFieldRare: {
      classMod: "c-form__field--checkbox-rare",
      labelVal: "",
      uniqueName: "rare",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Rare"
    },
    checkboxFieldUncommon: {
      classMod: "c-form__field--checkbox-uncommon",
      labelVal: "",
      uniqueName: "uncommon",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Uncommon"
    },
    checkboxFieldCommon: {
      classMod: "c-form__field--checkbox-common",
      labelVal: "",
      uniqueName: "common",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Common"
    },
    checkboxField1: {
      classMod: "",
      labelVal: "",
      uniqueName: "1",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Selectable Styles (Soon)"
    },
    checkboxField2: {
      classMod: "",
      labelVal: "",
      uniqueName: "2",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Unlockable Styles (Soon)"
    },
    checkboxField3: {
      classMod: "",
      labelVal: "",
      uniqueName: "3",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Progressive Skins"
    },
    checkboxField4: {
      classMod: "",
      labelVal: "",
      uniqueName: "4",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Challenges Skins"
    },
    checkboxField5: {
      classMod: "",
      labelVal: "",
      uniqueName: "5",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Promotional"
    },
    checkboxField6: {
      classMod: "",
      labelVal: "",
      uniqueName: "6",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Holidays"
    },
    checkboxField7: {
      classMod: "",
      labelVal: "",
      uniqueName: "7",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Saint Patrick’s Day Event"
    },
    checkboxField8: {
      classMod: "",
      labelVal: "",
      uniqueName: "8",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Lunar New Year Event"
    },
    checkboxField9: {
      classMod: "",
      labelVal: "",
      uniqueName: "9",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Valentine’s Day Event"
    },
    checkboxField10: {
      classMod: "",
      labelVal: "",
      uniqueName: "10",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Easter Event"
    },
    checkboxField11: {
      classMod: "",
      labelVal: "",
      uniqueName: "11",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Halloween Event"
    },
    checkboxField12: {
      classMod: "",
      labelVal: "",
      uniqueName: "12",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Christmas Event"
    },
    checkboxFieldSoldier: {
      classMod: "c-form__field--checkbox-soldier",
      labelVal: "",
      uniqueName: "soldier",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Soldier filter"
    },
    checkboxFieldBattlePass: {
      classMod: "c-form__field--checkbox-battlepass",
      labelVal: "",
      uniqueName: "battlepass",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Battle Pass"
    },
    checkboxField13: {
      classMod: "",
      labelVal: "",
      uniqueName: "13",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Season 5"
    },
    checkboxField14: {
      classMod: "",
      labelVal: "",
      uniqueName: "14",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Season 4"
    },
    checkboxField15: {
      classMod: "",
      labelVal: "",
      uniqueName: "15",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Season 3"
    },
    checkboxField16: {
      classMod: "",
      labelVal: "",
      uniqueName: "16",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Season 2"
    },
    checkboxField17: {
      classMod: "",
      labelVal: "",
      uniqueName: "17",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Season 1"
    },
    checkboxFieldVBucks: {
      classMod: "",
      labelVal: "",
      uniqueName: "vbucks",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "V Bucks"
    },
    checkboxField18: {
      classMod: "",
      labelVal: "",
      uniqueName: "18",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Season 5"
    },
    checkboxField19: {
      classMod: "",
      labelVal: "",
      uniqueName: "19",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Season 4"
    },
    checkboxField20: {
      classMod: "",
      labelVal: "",
      uniqueName: "20",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Season 3"
    },
    checkboxField21: {
      classMod: "",
      labelVal: "",
      uniqueName: "21",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: "Season 2"
    },

    textareaField: {
      classMod: "",
      uniqueName: "message",
      labelVal: "",
      textareaClassMod: "",
      placeholderVal: "Comment...",
      val: ""
    },

    selectFieldCustom: {
      classMod: "",
      uniqueName: "select",
      labelVal: "Select custom",
      selectClassMod: "",
      selectOption: [
        'Some option 1',
        'Some option 2',
        'Some option 3'
      ],
      placeholderVal: "Choose your..."
    },
    selectFieldSelectric: {
      classMod: "",
      uniqueName: "login_selectric",
      labelVal: "Select selectric",
      selectClassMod: "",
      selectOption: [
        'Some option 1',
        'Some option 2',
        'Some option 3'
      ],
      placeholderVal: "Choose your..."
    },

    notifyNameMessage : ['This field is required.'],
    notifyEmailMessage : ['Please enter a valid email address.'],
    notifyPasswordMessage : ['Please enter no more than {8} characters.'],
    notifyTextareaMessage : ['This field is required.'],
    notifySelectMessage : ['This field is required.'],
    notifyRadioMessage : ['This field is required.'],
    notifyCheckboxMessage : ['This field is required.']
  };

//- DATA FORM :: END