//- DATA FORM :: START

-
  var dataFormObj = {
    inputName: {
      classMod: "",
      uniqueName: "name",
      labelVal: "",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "Name",
      val: ""
    },
    inputEmail: {
      classMod: "",
      uniqueName: "email",
      labelVal: "",
      inputType: "email",
      inputClassMod: "",
      placeholderVal: "Email",
      val: ""
    },
    inputPassword: {
      classMod: "",
      uniqueName: "password",
      labelVal: "Password",
      inputType: "password",
      inputClassMod: "",
      placeholderVal: "Type your password",
      val: ""
    },

    radioField: {
      classMod: "",
      labelVal: "Radio label name",
      uniqueName: "radio",
      radioGroupName: "radio",
      radioValue: "radio",
      radioClassMod: "",
      radioContent: "Some radio content"
    },

    checkboxField: {
      classMod: "",
      labelVal: "Checkbox label name",
      uniqueName: "checkbox",
      checkboxValue: "checkbox",
      checkboxClassMod: "",
      checkboxContent: "Some checkbox content"
    },

    textareaField: {
      classMod: "",
      uniqueName: "message",
      labelVal: "",
      textareaClassMod: "",
      placeholderVal: "Comment...",
      val: ""
    },

    selectFieldCustom: {
      classMod: "",
      uniqueName: "select",
      labelVal: "Select custom",
      selectClassMod: "",
      selectOption: [
        'Some option 1',
        'Some option 2',
        'Some option 3'
      ],
      placeholderVal: "Choose your..."
    },
    selectFieldSelectric: {
      classMod: "",
      uniqueName: "login_selectric",
      labelVal: "Select selectric",
      selectClassMod: "",
      selectOption: [
        'Some option 1',
        'Some option 2',
        'Some option 3'
      ],
      placeholderVal: "Choose your..."
    },

    notifyNameMessage : ['This field is required.'],
    notifyEmailMessage : ['Please enter a valid email address.'],
    notifyPasswordMessage : ['Please enter no more than {8} characters.'],
    notifyTextareaMessage : ['This field is required.'],
    notifySelectMessage : ['This field is required.'],
    notifyRadioMessage : ['This field is required.'],
    notifyCheckboxMessage : ['This field is required.']
  };

//- DATA FORM :: END