//- MIXIN :: START

include ./_mixin/_title
include ./_mixin/_subtitle
include ./_mixin/_btn
include ./_mixin/_svg-icon
include ./_mixin/_picture
include ./_mixin/_logotype
include ./_mixin/_hamburger
include ./_mixin/_swiper
include ./_mixin/_modal
include ./_mixin/_nav
include ./_mixin/_form

//- MIXIN :: END

mixin comboSkin(classMod, idx)
  .combos__block(class!= "combos__block-" + idx + ' combos__block--' + classMod)
    .combos__block-top
      img(src="./img/img-combos-0.png" srcset="./img/img-combos-0@2x.png 2x" alt="" title="")

mixin comboSkinMore()
  .combos__block.combos__block--empty
    .combos__block-top
      p!= "+3"