// SECTION guides :: START

section#guides.guides

  .guides__bg
    .guides__bg-top

    img.guides__bg-triangle.guides__bg-triangle-0(src="./img/img-guides-triangle-0.svg" alt="" title="")
    img.guides__bg-triangle.guides__bg-triangle-1(src="./img/img-guides-triangle-1.svg" alt="" title="")

  .guides__triangle
    img.guides__triangle-img.guides__triangle-img-0(src="./img/img-guides-triangle-2.svg" alt="" title="")
    img.guides__triangle-img.guides__triangle-img-1(src="./img/img-guides-triangle-3.svg" alt="" title="")
    img.guides__triangle-img.guides__triangle-img-2(src="./img/img-guides-triangle-4.svg" alt="" title="")
    img.guides__triangle-img.guides__triangle-img-3(src="./img/img-guides-triangle-5.svg" alt="" title="")

  .c-grid
    .guides__wrapper

// SECTION guides :: END