// SECTION item :: START

section#item.item

  .item__bg
    .item__bg-bottom

    img.item__bg-triangle.item__bg-triangle-0(src="./img/img-item-triangle-0.svg" alt="" title="")
    img.item__bg-triangle.item__bg-triangle-1(src="./img/img-item-triangle-1.svg" alt="" title="")

  .item__triangle
    img.item__triangle-img.item__triangle-img-0(src="./img/img-item-triangle-2.svg" alt="" title="")
    img.item__triangle-img.item__triangle-img-1(src="./img/img-item-triangle-3.svg" alt="" title="")
    img.item__triangle-img.item__triangle-img-2(src="./img/img-item-triangle-4.svg" alt="" title="")
    img.item__triangle-img.item__triangle-img-3(src="./img/img-item-triangle-5.svg" alt="" title="")
    img.item__triangle-img.item__triangle-img-4(src="./img/img-item-triangle-6.svg" alt="" title="")

  .c-grid
    .item__wrapper

      .item__row.item__row-0
        .item__row-left
        .item__row-right

      .item__row.item__row-1
        .item__row-left
        .item__row-right

// SECTION item :: END