// SECTION item :: START

section#item.item
  .c-grid
    .item__wrapper

      .item__row.item__row-0
        .item__row-left
        .item__row-right

      .item__row.item__row-1
        .item__row-left
        .item__row-right

// SECTION item :: END