// COMMON :: START

// section
.section {
  &__wrapper {
    display: flex;

    &-left {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      max-width: calc(100% - 370px);
    }

    &-right {
      width: 100%;
      max-width: 370px;
    }
  }
}
// section :: end

// breadcrumbs
.breadcrumbs {
  padding-bottom: 50px;
  @include adaptive(575) {
    display: none;
  }

  &__list {
    position: relative;
    display: inline-flex;
    align-items: center;
    min-height: 41px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f4f6f6;
    clip-path: polygon(0 0, 100% 2%, 98% 98%, 0 100%);

    &:before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #eef0f7;
      clip-path: polygon(0 100%, 85% 65%, 100% 0, 100% 100%);
    }
  }

  &__item {
    padding-left: 17px;
    padding-right: 17px;
  }

  &__link {
    color: #282e42;
    line-height: 1;
    text-transform: uppercase;
    @include transition(color);
    @include fluid(font-size, 320px, 1440px, 12px, 14px);

    &:hover {
      color: #ff7236;
      @include transition(color);
    }
  }

  &__icon {
    color: #ff7236;
    font-size: 33px;
    font-family: 'DCC - Scisor', sans-serif;
  }
}
// breadcrumbs :: end

// info
.info {
  z-index: 2;
  position: relative;

  &--pp {
    .info__content {
      top: -60px;
      @include adaptive(991) {
        top: 0;
      }
    }
  }

  &--rewards {
    padding-bottom: 120px;
  }

  &__content {
    position: relative;
    top: 0;
    padding: 25px;
    background-color: #edf9fd;
    @include adaptive(767) {
      padding-left: 15px;
      padding-right: 15px;
    }

    &-figure {
      z-index: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 300px;

      img {
        position: absolute;
        top: 90%;

        &:nth-child(1) {
          left: 0;
        }
        &:nth-child(2) {
          left: 30%;
        }
        &:nth-child(3) {
          right: 30%;
        }
        &:nth-child(4) {
          right: 0;
        }
      }
    }
  }

  &__section {
    z-index: 1;
    position: relative;

    &-main {
      p {
        text-align: center;
      }
    }

    &-0 {
      display: flex;
      @include adaptive(767) {
        display: block;
      }

      .info__section-left {
        width: 100%;
        max-width: calc(100% - 330px);
        padding-right: 15px;
        @include adaptive(767) {
          max-width: 100%;
        }
      }

      .info__section-right {
        display: flex;
        justify-content: center;
        width: 330px;
        @include adaptive(767) {
          display: none;
        }
      }
    }
  }

  &__subtitle {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 71px;
    padding-left: 26px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 31px;
    background-color: #273c43;
    clip-path: polygon(0 6%, 100% 0, 99% 96%, 1% 100%);

    &:after,
    &:before {
      content: '';
      z-index: 0;
      position: absolute;
      top: 0;
      height: 100%;
    }

    &:before {
      left: 0;
      width: 406px;
      background-color: #1f2f35;
      clip-path: polygon(0 100%, 53% 20%, 53% 67%, 100% 100%);
    }

    &:after {
      right: 0;
      width: 195px;
      background-color: #4d6f7b;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%, 15% 47%, 12% 64%);
    }

    p {
      z-index: 1;
      position: relative;
      color: $c-white;
      @include fluid(font-size, 320px, 1440px, 28px, 36px);
    }
  }

  &__text {
    padding-left: 15px;
    padding-right: 15px;
    color: #273c43;
    font-family: "Ubuntu", sans-serif;
    @include fluid(font-size, 320px, 768px, 14px, 16px);
    @include adaptive(767) {
      padding: 0;
    }

    p {
      padding-bottom: 31px;
      line-height: 1.6;

      strong {
        font-weight: bold;
      }
    }

    a {
      color: #273c43;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      hyphens: auto;
    }

    ul {
      padding-left: 20px;
      padding-bottom: 31px;

      li {
        line-height: 1.6;
      }
    }
  }
}
// info :: end

// copyright
.copyright {
  display: flex;
  @include adaptive(767) {
    justify-content: center;
    padding-bottom: 24px;
  }

  p {
    color: $c-white;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    @include adaptive(767) {
      text-align: center;
    }

    span {
      font-weight: bold;
    }
  }
}
// copyright :: end

// newsletter
.newsletter {
  @include adaptive(1199) {
    margin-bottom: 54px;
  }

  &__text {
    padding-bottom: 25px;
    color: #657782;
    line-height: 1.8;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
  }

  &__form {
    &-cover {
      display: flex;
      width: 100%;
      max-width: 372px;
      height: 56px;
      background-image: url('../img/newsletter-form-bg.svg');
      background-repeat: no-repeat;
    }

    &-input {
      position: relative;
      width: 100%;
      max-width: calc(100% - 56px);
      height: 100%;

      input {
        outline: none;
        position: absolute;
        width: 100%;
        height: 100%;
        padding-left: 34px;
        padding-right: 34px;
        border: none;
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;
        font-size: 16px;
        font-weight: 300;
        font-family: 'Ubuntu', sans-serif;
        @include inputPlaceholder {
          color: #657782;
        }
      }
    }

    &-btn {
      position: relative;

      &:hover {
        &:before {
          top: 0;
          transform: translateY(0);
          height: 100%;
          background-color: #070c17;
          @include transition(top, transform, height, background-color);
        }

        i {
          color: #070c17;
          @include transition(color);
        }
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
        height: 31px;
        background-color: #c8ccd5;
        @include transition(top, transform, height, background-color);
      }

      button {
        cursor: pointer;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 100%;
        padding: 0;
        margin: 0;
        border: none;
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;

        i {
          color: #657782;
          font-size: 23px;
          @include transition(color);
        }
      }
    }
  }
}
// newsletter :: end

// social
.social {
  display: flex;
  align-items: center;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;

    i {
      color: $c-white;
      @include transition(color);
    }

    @each $className, $colorVal, $fontSize in
        ('facebook', '#3b5998', '20'),
        ('twitter', '#00aced', '22'),
        ('google-plus', '#dd4b39', '26'),
        ('rss', '#f26522', '18'),
        ('pinterest', '#cb2027', '20'),
        ('instagram', '#bc2a8d', '20')
    {
      &--#{$className} {
        i {
          font-size: #{$fontSize}px;
        }

        &:hover {
          i {
            color: #{$colorVal};
            @include transition(color);
          }
        }
      }
    }
  }
}
// social :: end

// COMMON :: END