// COMMON :: START

// section
.section {
  .c-grid {
    max-width: 1295px;
  }

  &-resize {
    z-index: -1;
    position: absolute;
    top: 0;
    height: 100%;
    @include adaptive(991) {
      left: -15px !important;
      width: calc(100% + 15px) !important;
    }
    @include adaptive(767) {
      left: -15px !important;
      width: calc(100% + 30px) !important;
    }

    .p-skin & {
      @include adaptive(1199) {
        left: -15px !important;
        width: calc(100% + 15px) !important;
      }
    }

    &-bg {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clip-path: polygon(0 0, 99% 5%, 100% 95%, 0 100%);
    }

    &-triangle {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
      }
    }
  }

  &__wrapper {
    display: flex;
    @include adaptive(767) {
      flex-wrap: wrap;
    }

    .p-beginners &,
    .p-home &,
    .p-leaked-sub &,
    .p-history & {
      @include adaptive(991) {
        flex-wrap: wrap;
      }
    }

    .p-shop &,
    .p-history &,
    .p-skin & {
      @include adaptive(1199) {
        flex-wrap: wrap;
      }
    }

    .p-home & {
      @include adaptive(991) {
        flex-direction: column-reverse;
      }
    }

    &-left {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: calc(100% - 470px);
      padding-right: 15px;
      @include adaptive(1199) {
        max-width: calc(100% - 370px);
      }
      @include adaptive(767) {
        max-width: 100%;
        padding-right: 0;
      }

      .p-beginners &,
      .p-home &,
      .p-leaked-sub &,
      .p-history & {
        @include adaptive(991) {
          max-width: 100%;
          padding-right: 0;
        }
      }

      .p-shop &,
      .p-history &,
      .p-skin & {
        @include adaptive(1199) {
          max-width: 100%;
          padding-right: 0;
        }
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 470px;
      padding-bottom: 50px;
      @include adaptive(1199) {
        max-width: 370px;
      }
      @include adaptive(767) {
        max-width: 100%;
      }

      .p-beginners &,
      .p-home &,
      .p-leaked-sub &,
      .p-history & {
        @include adaptive(991) {
          max-width: 100%;
        }
      }

      .p-shop &,
      .p-history &,
      .p-skin & {
        @include adaptive(1199) {
          max-width: 100%;
        }
      }
    }
  }
}
// section :: end

// sidebar
.sidebar {
  position: relative;
  width: 100%;
  max-width: 397px;
  margin-left: auto;
  margin-right: auto;

  &:after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__figure {
    z-index: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
  }
}
// sidebar :: end

// ratings
.ratings {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;

  &__btn {
    @include transition(opacity);

    &:hover {
      opacity: 0.75;
      @include transition(opacity);
    }
  }
}
// ratings :: end

// skin
.b-skin {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 175px;
  border: 5px solid $c-white;
  box-shadow: 0 2px 10px 2px rgba($c-black, 0.15);

  &--big {
    min-height: 288px;
  }

  &--small {
    height: 139px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
  }

  &:after {
    opacity: 0;
    background: radial-gradient(200px at center,hsla(0,0%,100%,.3),hsla(0,0%,100%,.05));
    @include transition(opacity);
  }

  &:hover {
    &:after {
      opacity: 1;
      @include transition(opacity);
    }

    > img {
      transform-origin: center;
      transform: scale(1.1);
      @include transition(transform-origin, transform);
    }
  }

  &--epic {
    border-color: #b04eec;

    &:before {
      @extend %radialGradientPink;
    }

    .e-skin__block-badge {
      &:before {
        background-color: #b04eec;
        //background-image: linear-gradient( 90deg, rgba(#f642c9, 1) 0%, rgba(#ff00e7, 1) 100%);
      }
    }
  }
  &--rare {
    border-color: #3ad6ff;

    &:before {
      @extend %radialGradientBlue;
    }

    .e-skin__block-badge {
      &:before {
        background-color: #3ad6ff;
        //background-image: linear-gradient( 90deg, rgba(#1f59ee, 1) 0%, rgba(#4cb8ff, 1) 100%);
      }
    }
  }
  &--legendary {
    border-color: #e38748;

    &:before {
      @extend %radialGradientOrange;
    }

    .e-skin__block-badge {
      &:before {
        background-color: #e38748;
        //background-image: linear-gradient( 90deg, rgba(#ea8d23, 1) 0%, rgba(#EABB07, 1) 100%);
      }
    }
  }
  &--uncommon {
    border-color: #8fee3b;

    &:before {
      @extend %radialGradientGreen;
    }

    .e-skin__block-badge {
      &:before {
        background-color: #8fee3b;
        //background-image: linear-gradient( 90deg, rgba(#0bb000, 1) 0%, rgba(#73d102, 1) 100%);
      }
    }
  }
  &--common {
    border-color: #bebebe;

    &:before {
      @extend %radialGradientGray;
    }

    .e-skin__block-badge {
      &:before {
        background-color: #bebebe;
        //background-image: linear-gradient( 90deg, rgba(#0bb000, 1) 0%, rgba(#73d102, 1) 100%);
      }
    }
  }

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    backface-visibility: hidden;
    transform-origin: center;
    @include transition(transform-origin, transform);
  }

  &__points {
    position: absolute;
    display: flex;
    align-items: center;
    top: 2px;
    left: 5px;
    padding-bottom: 0;

    img {
      padding-right: 5px;
    }

    span {
      padding-top: 3px;
      color: $c-white;
      line-height: 1;
      font-weight: 500;
      font-family: 'Rajdhani', sans-serif;
      @include fluid(font-size, 320px, 1200px, 16px, 18px);
    }
  }

  &__info {
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 54px;
    background-color: rgba($c-black, 0.57);

    &--ticker {
      white-space: nowrap;
    }

    p,
    h3,
    h4 {
      opacity: 0;
      overflow:hidden;
      white-space:nowrap;
      display:inline-block;
      padding-bottom: 3px;
      transition-property: all;
      color: $c-white;
      line-height: 1;
      text-transform: uppercase;
      font-size: 20px;
    }

    .e-skin__block-points {
      position: relative;
      padding-bottom: 0;

      span {
        color: $c-white;
        font-weight: 500;
      }
    }
  }

  &__out {
    display: flex;
    align-self: center;
    justify-content: space-between;
    position: absolute;
    left: 6px;
    bottom: 52px;
    width: 50px;
    //height: 23px;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    line-height: 1;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-family: "Rajdhani", sans-serif;

  }

  &__badge {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;

    .e-skin__block-badge {
      position: relative;
      display: inline-flex;

      &--style {
        height: 20px;

        &:before {
          //background-color: #ff3636;
          //background-image: none;
        }
      }
    }
  }

  &__view {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 57px;
    right: 6px;
  }

  &__sound {
    display: flex;
    color: $c-white;
    font-size: 18px;

    &:hover {
      color: $c-white;
    }
  }

  .e-skin__block-view {
    position: static;
    //bottom: 54px;
    //right: 5px;
  }
}
// skin :: end

// combo skin
.cm-skin {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  max-width: 175px;
  height: 139px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 5px solid $c-white;
  box-shadow: 0 2px 10px 2px rgba($c-black, 0.1);

  &:before,
  &:after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
  }

  &:after {
    opacity: 0;
    background: radial-gradient(200px at center,hsla(0,0%,100%,.3),hsla(0,0%,100%,.05));
    @include transition(opacity);
  }

  &:hover {
    &:after {
      opacity: 1;
      @include transition(opacity);
    }

    > img {
      transform: scale(1.1);
      @include transition(transform);
    }
  }

  &--epic {
    border-color: #b04eec;

    &:before {
      @extend %radialGradientPink;
    }

    .cm-skin__badge {
      background-color: #b04eec;
    }
  }

  img {
    position: relative;
    display: block;
    max-width: 100%;
    max-height: 100%;
    backface-visibility: hidden;
    transform-origin: center;
    @include transition(transform);
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &--half {
      > div {
        max-width: 50%;
        @include adaptive(575) {
          max-width: 100%;
        }
      }
    }

    &--full {
      > div {
        max-width: 100%;
      }
    }

    > div {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 10px;
      @include adaptive(575) {
        padding: 5px;
      }
    }
  }

  &__badge {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;

    i {
      transform: scale(0.75);
    }
  }

  &__info {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 54px;
    background-color: rgba($c-black, 0.57);

    &--ticker {
      white-space: nowrap;
    }

    &--wticker {
      p,
      h3,
      h4 {
        opacity: 1 !important;
      }
    }

    p,
    h3,
    h4 {
      opacity: 0;
      overflow:hidden;
      white-space:nowrap;
      display:inline-block;
      transition-property: all;
      color: $c-white;
      line-height: 1;
      text-transform: uppercase;
      font-size: 18px;
    }
  }

  &__points {
    display: flex;
    align-items: center;

    img {
      padding-right: 5px;
    }

    span {
      padding-top: 3px;
      color: $c-white;
      line-height: 1;
      font-weight: 500;
      font-family: 'Rajdhani', sans-serif;
      text-transform: uppercase;
      @include fluid(font-size, 320px, 1200px, 14px, 16px);
    }
  }
}
// combo skin :: end

// copyright
.copyright {
  display: flex;
  @include adaptive(767) {
    justify-content: center;
    padding-bottom: 24px;
  }

  p {
    color: $c-white;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    @include adaptive(767) {
      text-align: center;
    }

    span {
      font-weight: bold;
    }
  }
}
// copyright :: end

// newsletter
.newsletter {
  @include adaptive(1199) {
    margin-bottom: 54px;
  }

  &__text {
    padding-bottom: 25px;
    color: #657782;
    line-height: 1.8;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
  }

  &__form {
    &-cover {
      display: flex;
      width: 100%;
      max-width: 372px;
      height: 56px;
      background-image: url('../img/newsletter-form-bg.svg');
      background-repeat: no-repeat;
    }

    &-input {
      position: relative;
      width: 100%;
      max-width: calc(100% - 56px);
      height: 100%;

      input {
        outline: none;
        position: absolute;
        width: 100%;
        height: 100%;
        padding-left: 34px;
        padding-right: 34px;
        border: none;
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;
        font-size: 16px;
        font-weight: 300;
        font-family: 'Ubuntu', sans-serif;
        @include inputPlaceholder {
          color: #657782;
        }
      }
    }

    &-btn {
      position: relative;

      &:hover {
        &:before {
          top: 0;
          transform: translateY(0);
          height: 100%;
          background-color: #070c17;
          @include transition(top, transform, height, background-color);
        }

        i {
          color: #070c17;
          @include transition(color);
        }
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
        height: 31px;
        background-color: #c8ccd5;
        @include transition(top, transform, height, background-color);
      }

      button {
        cursor: pointer;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 100%;
        padding: 0;
        margin: 0;
        border: none;
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;

        i {
          color: #657782;
          font-size: 23px;
          @include transition(color);
        }
      }
    }
  }
}
// newsletter :: end

// social
.social {
  display: flex;
  align-items: center;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;

    i {
      color: $c-white;
      @include transition(color);
    }

    @each $className, $colorVal, $fontSize in
        ('facebook', '#3b5998', '20'),
        ('twitter', '#00aced', '22'),
        ('google-plus', '#dd4b39', '26'),
        ('rss', '#f26522', '18'),
        ('pinterest', '#cb2027', '20'),
        ('instagram', '#bc2a8d', '20')
    {
      &--#{$className} {
        i {
          font-size: #{$fontSize}px;
        }

        &:hover {
          i {
            color: #{$colorVal};
            @include transition(color);
          }
        }
      }
    }
  }
}
// social :: end

// COMMON :: END