// COMMON :: START

// section
.section {
  .c-grid {
    max-width: 1295px;
  }

  &__wrapper {
    display: flex;

    &-left {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: calc(100% - 370px);
    }

    &-right {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 470px;
      padding-bottom: 50px;
    }
  }
}
// section :: end

// sidebar
.sidebar {
  position: relative;
  width: 100%;
  max-width: 397px;
  margin-left: auto;
  margin-right: auto;

  &:after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__figure {
    z-index: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
  }
}
// sidebar :: end

// copyright
.copyright {
  display: flex;
  @include adaptive(767) {
    justify-content: center;
    padding-bottom: 24px;
  }

  p {
    color: $c-white;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    @include adaptive(767) {
      text-align: center;
    }

    span {
      font-weight: bold;
    }
  }
}
// copyright :: end

// newsletter
.newsletter {
  @include adaptive(1199) {
    margin-bottom: 54px;
  }

  &__text {
    padding-bottom: 25px;
    color: #657782;
    line-height: 1.8;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
  }

  &__form {
    &-cover {
      display: flex;
      width: 100%;
      max-width: 372px;
      height: 56px;
      background-image: url('../img/newsletter-form-bg.svg');
      background-repeat: no-repeat;
    }

    &-input {
      position: relative;
      width: 100%;
      max-width: calc(100% - 56px);
      height: 100%;

      input {
        outline: none;
        position: absolute;
        width: 100%;
        height: 100%;
        padding-left: 34px;
        padding-right: 34px;
        border: none;
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;
        font-size: 16px;
        font-weight: 300;
        font-family: 'Ubuntu', sans-serif;
        @include inputPlaceholder {
          color: #657782;
        }
      }
    }

    &-btn {
      position: relative;

      &:hover {
        &:before {
          top: 0;
          transform: translateY(0);
          height: 100%;
          background-color: #070c17;
          @include transition(top, transform, height, background-color);
        }

        i {
          color: #070c17;
          @include transition(color);
        }
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
        height: 31px;
        background-color: #c8ccd5;
        @include transition(top, transform, height, background-color);
      }

      button {
        cursor: pointer;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 100%;
        padding: 0;
        margin: 0;
        border: none;
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;

        i {
          color: #657782;
          font-size: 23px;
          @include transition(color);
        }
      }
    }
  }
}
// newsletter :: end

// social
.social {
  display: flex;
  align-items: center;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;

    i {
      color: $c-white;
      @include transition(color);
    }

    @each $className, $colorVal, $fontSize in
        ('facebook', '#3b5998', '20'),
        ('twitter', '#00aced', '22'),
        ('google-plus', '#dd4b39', '26'),
        ('rss', '#f26522', '18'),
        ('pinterest', '#cb2027', '20'),
        ('instagram', '#bc2a8d', '20')
    {
      &--#{$className} {
        i {
          font-size: #{$fontSize}px;
        }

        &:hover {
          i {
            color: #{$colorVal};
            @include transition(color);
          }
        }
      }
    }
  }
}
// social :: end

// COMMON :: END