.swiper-container {
  width: 100%;
  max-width: 500px;

  &--grantsNum,
  &--grantsBlueLine,
  &--grantsOrangeLine {
    max-width: 100%;
    height: 100%;
  }

  &--grantsBlueLine {
    margin-top: -90px;
    padding-top: 90px;
    height: calc(100% + 90px);

    .swiper-slide {
      position: relative;
    }

    .grants__num-btn {
      position: absolute;
      top: -90px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}