.swiper-container {
  width: 100%;
  max-width: 500px;

  &--grantsNum,
  &--grantsBlueLine,
  &--grantsOrangeLine {
    max-width: 100%;
    height: 100%;
  }

  &--grantsBlueLine {
    margin-top: -90px;
    padding-top: 90px;
    height: calc(100% + 90px);

    .swiper-slide {
      position: relative;
    }

    .grants__num-btn {
      position: absolute;
      top: -90px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &--featured,
  &--daily {
    width: 100%;
    height: 100%;

    .swiper {
      &-button {
        &-next,
        &-prev {
          transform: translateY(-50%);
          width: 18px;
          height: 17px;
          margin: 0;
          background-size: contain;
        }

        &-next {
          right: 5px;
          background-image: url('../img/next.svg');
        }

        &-prev {
          left: 5px;
          background-image: url('../img/prev.svg');
        }
      }

      &-slide {}
    }
  }

  &--daily {
    .swiper {
      &-button {
        &-next,
        &-prev {
          top: 40%;
        }
      }
    }
  }
}