// SECTION list :: START

section#list.list

  .list__bg(
    data-stellar-background-ratio="0.9"
    parallax-list-bg-js
  )

  .c-grid
    .list__wrapper
      .list__content

        include ./_listTitle

        p!= "The list of all Fortnite skins in one place/page can be searched easily & quickly by category, sets, rarity, promotions, holiday events, battle pass seasons, and much more!"

// SECTION list :: END