h1.list__title
  svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x='0' y='0' width="670px" height="105")
    defs
      mask(id="title-list-mask" x="0" y="0" width="657px" height="89px")
        rect(x="0" y="0" width="657px" height="89px")
        text(kerning="auto" x='50%' y='50%' alignment-baseline="middle" text-anchor='middle')
          tspan(fill="#fff" alignment-baseline="middle" text-anchor='middle')!= "List&#32;Of"
          tspan(fill="#FFFF00" alignment-baseline="middle" text-anchor='middle')!= "All&#32;Skins"

    text(kerning="auto" x='50%' y='50%' alignment-baseline="middle" text-anchor='middle')
      tspan(fill="#fff" alignment-baseline="middle" text-anchor='middle')!= "List&#32;Of"
      tspan(fill="#FFFF00" alignment-baseline="middle" text-anchor='middle')!= "All&#32;Skins"
    path(style='mask: url("#title-list-mask");' fill-rule="evenodd"  opacity="0.678" fill="rgb(255, 210, 0)" d="M709.000,-12.001 L634.362,60.808 L390.977,27.639 L340.678,54.336 L273.341,-1.484 L709.000,-12.001 Z")
