// SECTION rewards :: START

.rewards {
  position: relative;
  min-height: 272px;
  margin-bottom: 35px;
  @include adaptive(767) {
    overflow: hidden;
  }

  &__bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    background-image: url('../img/img-rewards-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    @include adaptive(767) {
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }
  }

  &__triangle {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;

      &:nth-of-type(1) {
        left: 3%;
        bottom: -25%;
      }
      &:nth-of-type(2) {
        left: 12%;
        bottom: -15%;
      }
      &:nth-of-type(3) {
        right: 12%;
        bottom: 3%;
      }
      &:nth-of-type(4) {
        right: 3%;
        bottom: 10%;
      }
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
    padding-top: 53px;
  }

  &__title {
    position: relative;
    width: 100%;
    max-width: 804px;
    margin-left: auto;
    margin-right: auto;
    color: $c-white;
    @include fluid(font-size, 320px, 1440px, 38px, 100px);

    span {
      color: #ffd600;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 10px;
      background-color: #1787a5;
      clip-path: polygon(0 0, 100% 7%, 97% 96%, 3% 100%);

      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0c7793;
        clip-path: polygon(0 100%, 85% 65%, 100% 0, 100% 100%);
      }
    }

      &-triangle {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
          position: absolute;
          top: -20px;

          &:nth-child(1) {
            left: 10px;
          }

          &:nth-child(2) {
            right: 20px;
          }
        }
      }
  }

  &__subtitle {
    position: relative;
    top: -15px;
    width: 100%;
    max-width: 711px;
    margin-left: auto;
    margin-right: auto;
    @include fluid(height, 320px, 1440px, 85px, 94px);

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: #ffb45d;
      clip-path: polygon(0 0, 100% 0, 98% 98%, 2% 100%);

      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #eb9f47;
        clip-path: polygon(0 0, 100% 0, 12% 30%, 7% 70%, 0 0);
      }
    }

    &-triangle {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include adaptive(575) {
        display: none;
      }

      img {
        position: absolute;
        bottom: -20px;

        &:nth-child(1) {
          left: 10px;
        }
        &:nth-child(2) {
          left: 75px;
        }
        &:nth-child(3) {
          right: 75px;
        }
        &:nth-child(4) {
          right: 10px;
        }
      }
    }

    h2,
    p {
      line-height: 1.2;
      text-align: center;
      text-transform: uppercase;
    }

    h2 {
      padding-top: 5px;
      color: $c-white;
      @include fluid(font-size, 320px, 1440px, 28px, 50px);
    }

    p {
      padding-bottom: 5px;
      color: #7e4b0f;
      @include fluid(font-size, 320px, 1440px, 14px, 18px);
    }
  }
}

// SECTION rewards :: END