// SECTION emotes :: START

section#emotes.emotes

  .emotes__figure
    img(src="./img/img-emotes-figure-0.svg" alt="" title="")
    img(src="./img/img-emotes-figure-1.svg" alt="" title="")
    img(src="./img/img-emotes-figure-2.svg" alt="" title="")

  .emotes__triangle
    img(src="./img/img-emotes-triangle-0.svg" alt="" title="")
    img(src="./img/img-emotes-triangle-1.svg" alt="" title="")
    img(src="./img/img-emotes-triangle-2.svg" alt="" title="")

  .c-grid
    .emotes__wrapper

      if(pageClassName === 'p-combos')
        h1.combo__title!= "<span>Fortnite</span> Combos"
      else
        h1.emotes__title!= "<span>Fortnite</span> Emotes"

      if(pageClassName === 'p-combos')
        p.combo__text!= "The <span>Pickaxe</span>, also know as <span>harvesting tool</span>, is a tool that players can use to mine and break materials in the world of Fortnite. The pickax tool can also be used to cause damage against enemies in-game."
      else
        p.emotes__text!= "Fortnite comes with different emotes (dances) that will allow users to express themselves uniquely on the battlefield. Users can choose from the six (6) emotes available and equip themselves with the ones that will be more useful to them on the battlefield."

// SECTION emotes :: END