// SECTION emotes :: START

section#emotes.emotes

  .emotes__figure
    img(src="./img/img-emotes-figure-0.svg" alt="" title="")
    img(src="./img/img-emotes-figure-1.svg" alt="" title="")
    img(src="./img/img-emotes-figure-2.svg" alt="" title="")

  .emotes__triangle
    img(src="./img/img-emotes-triangle-0.svg" alt="" title="")
    img(src="./img/img-emotes-triangle-1.svg" alt="" title="")
    img(src="./img/img-emotes-triangle-2.svg" alt="" title="")

  .c-grid
    .emotes__wrapper

      h1.emotes__title!= "Fortnite Emotes"
      p.emotes__text!= "Fortnite comes with different emotes (dances) that will allow users to express themselves uniquely on the battlefield. Users can choose from the six (6) emotes available and equip themselves with the ones that will be more useful to them on the battlefield."

// SECTION emotes :: END