// SECTION stats :: START

.stats {
  position: relative;
  display: flex;
  flex-direction: column;

  &__wrapper {
    &-0 {
      padding-bottom: 32px;
    }

    &-1 {
      padding-top: 32px;
      padding-bottom: 31px;
    }

    &-2 {
      padding-top: 31px;
      padding-bottom: 61px;
    }
  }

  // block
  &__block {
    position: relative;

    &-bg,
    &-triangle {
      position: absolute;
      left: 0;
      width: 100%;
    }

    &-bg {
      z-index: -1;
      top: 57px;
      height: calc(100% - 57px);
      background-color: #edf9fd;
      clip-path: polygon(0 0, 100% 0, 99.5% 99.5%, 1% 100%);
    }

    &-triangle {
      z-index: 0;
      top: 0;
      height: 100%;
    }

    &-header,
    &-body {
      z-index: 2;
      position: relative;
    }

    &-header {
      position: relative;
      min-height: 118px;
      padding: 15px 20px 15px 30px;

      &-bg {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #d735ca;
        clip-path: polygon(1.25% 2%, 94% 0, 97% 100%, 0.75% 97%);

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #ff00ea;
          clip-path: polygon(0 100%, 55% 70%, 100% 0, 100% 100%);
        }
      }
    }

    &-body {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 20px 23px 35px;
      @include adaptive(767) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &-title {
      display: flex;
      align-items: center;
      padding-bottom: 13px;
      color: $c-white;

      .icon-font {
        font-size: 34px;
      }

      h2 {
        padding-left: 14px;
        line-height: 1;
        text-transform: uppercase;
        @include fluid(font-size, 320px, 991px, 36px, 40px);
      }
    }

    &-text {
      width: 100%;
      max-width: 516px;
      color: $c-white;
      font-size: 14px;
      font-family: 'Ubuntu', sans-serif;
    }

    &-row {
      display: flex;
      flex-direction: column;
      width: calc((100% - 20px) / 3);
      @include adaptive(767) {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    &-category {
      position: relative;
      display: flex;
      align-items: center;
      height: 65px;
      padding-left: 32px;
      margin-bottom: 26px;
      color: $c-white;
      @include adaptive(767) {
        justify-content: center;
        padding-left: 15px;
        padding-right: 15px;
      }

      &-bg {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &-0 {
        .stats__block-category-bg {
          background-color: #ff7236;
        }
      }
      &-1 {
        .stats__block-category-bg {
          background-color: #ffd600;
        }
      }
      &-2 {
        .stats__block-category-bg {
          background-color: #1ac2fe;
        }
      }

      .icon-diamond {
        font-size: 15px;
      }

      .icon-table {
        font-size: 13px;
      }

      .icon-cup {
        font-size: 16px;
      }

      h3 {
        padding-left: 5px;
        line-height: 1;
        text-transform: uppercase;
        font-size: 18px;
      }
    }

    &-box {
      display: flex;
      align-items: flex-start;
      min-height: 95px;
      margin-bottom: 26px;
      @include adaptive(767) {
        width: 100%;
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      > div {
        &:nth-of-type(1) {
          width: 121px;
        }

        &:nth-of-type(2) {
          width: 100%;
          max-width: calc(100% - 121px);
          padding-top: 13px;
          padding-left: 10px;
        }

        .b-skin {
          width: 100%;
          height: 95px;
          border-width: 2px;
          border-color: #e4e6e6;

          &__view {
            top: 2px;
            bottom: auto;
          }
        }
      }
    }

    &-name {
      padding-bottom: 8px;
      color: #273c43;
      line-height: 1;
      text-transform: uppercase;
      @include fluid(font-size, 320px, 991px, 20px, 24px);
    }

    &-items {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 109px;
      min-height: 21px;
      padding: 0 5px;
      color: $c-white;
      line-height: 1;
      font-size: 12px;
      font-weight: bold;
      font-family: 'Ubuntu', sans-serif;

      i {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #d735ca;
        clip-path: polygon(1.25% 2%, 94% 0, 97% 100%, 0.75% 97%);

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #ff00ea;
          clip-path: polygon(0 100%, 55% 70%, 100% 0, 100% 100%);
        }
      }
    }

    &-like {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 90px;
      min-height: 25px;
      background-color: #ffd600;
      clip-path: polygon(0 0, 100% 1%, 98% 100%, 1% 100%);
      color: $c-white;

      > span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        color: $c-white;
        font-size: 12px;
        font-weight: bold;
        font-family: 'Ubuntu', sans-serif;
        @include adaptive(575) {
          font-size: 12px;
        }

        .icon {
          &-font {
            position: relative;
            font-size: 12px;
            @include adaptive(575) {
              font-size: 12px;
            }
          }
          &-like {
            top: -3px;
          }
          &-dislike {
            bottom: -2px;
          }
        }

        span {
          padding-left: 3px;
        }
      }
    }
  }
  // block :: end

  // rarity
  &__rarity {
    position: relative;
    min-height: 211px;

    &-bg {

      &,
      &:before {
        position: absolute;
        left: 0;
        width: 100%;
      }

      & {
        z-index: -1;
        top: 40px;
        height: calc(100% - 40px);
        background-color: #1f1f1f;
        clip-path: polygon(0 0, 100% 4%, 98% 97%, 1% 100%);
      }

      &:before {
        content: '';
        top: 0;
        height: 100%;
        background-color: #262626;
        clip-path: polygon(0 100%, 50% 90%, 90% 0, 100% 0, 100% 100%);
      }
    }

    &-header {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 625px;
      min-height: 97px;
      margin-left: 10px;
      padding-left: 26px;
      background-color: #181818;
      clip-path: polygon(0 0, 100% 5%, 98% 95%, 2% 100%);
      color: $c-white;

      .icon-font {
        font-size: 42px;
        @include fluid(font-size, 320px, 1439px, 35px, 42px);
      }

      h2 {
        padding-left: 12px;
        line-height: 1;
        text-transform: uppercase;
        @include fluid(font-size, 320px, 1439px, 33px, 40px);
      }
    }

    &-body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 22px 40px 40px;
      @include adaptive(767) {
        flex-wrap: wrap;
      }
    }

    &-btn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 152px;
      min-height: 57px;
      clip-path: polygon(0 0, 100% 5%, 98% 95%, 2% 100%);
      @include adaptive(767) {
        margin: 10px 30px;
      }

      &--0 {
        background-color: #09b958;

        &:before {
          background-color: #00aa4c;
        }
      }
      &--1 {
        background-color: #0aa4db;

        &:before {
          background-color: #008ec1;
        }
      }
      &--2 {
        background-color: #bb2eea;

        &:before {
          background-color: #ac00e6;
        }
      }
      &--3 {
        background-color: #e9af35;

        &:before {
          background-color: #db9e1c;
        }
      }

      &:before {
        content: '';
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 100%, 50% 80%, 100% 0, 100% 100%);
        @include transition(clip-path);
      }

      &:hover {
        &:before {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          @include transition(clip-path);
        }
      }

      span {
        z-index: 1;
        position: relative;
        color: $c-white;
        line-height: 1;
        text-transform: uppercase;
        font-size: 30px;
      }
    }
  }
  // rarity :: end

  // follow
  &__follow {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 111px;
    padding: 40px 45px;
    @include adaptive(767) {
      flex-wrap: wrap;
    }
    @include adaptive(575) {
      padding: 20px 25px;
    }

    &-bg,
    &-triangle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &-bg {
      z-index: -1;
      background-color: #edf9fd;
      clip-path: polygon(0 0, 98% 3%, 100% 96%, 1% 100%);

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #d5ecf4;

        &:nth-of-type(1) {
          clip-path: polygon(0 0, 15% 55%, 50% 55%, 0 100%);
        }
        &:nth-of-type(2) {
          clip-path: polygon(65% 93%, 75% 25%, 100% 0, 100% 100%);
        }
      }
    }

    &-triangle {
      z-index: 0;

      img {
        position: absolute;

        &:nth-of-type(1) {
          top: -30px;
          left: 10%;
        }
        &:nth-of-type(2) {
          top: 5%;
          right: -3%;
        }
        &:nth-of-type(3) {
          bottom: -30px;
          left: 15%;
        }
        &:nth-of-type(4) {
          bottom: -5%;
          right: 15%;
        }
        &:nth-of-type(5) {
          bottom: -40px;
          right: 0;
        }
      }
    }

    &-left {
      z-index: 2;
      position: relative;
      width: 150px;
      @include adaptive(767) {
        width: 100%;
        padding-bottom: 30px;
      }

      p {
        color: #273c43;
        line-height: 1;
        text-transform: uppercase;
        font-size: 36px;
      }
    }

    &-right {
      z-index: 3;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      max-width: calc(100% - 150px);
      @include adaptive(767) {
        max-width: 100%;
      }
      @include adaptive(575) {
        flex-direction: column;
        align-items: flex-start;

        > div {
          margin-bottom: 30px;
        }
      }
    }
  }
  // follow :: end
}

// SECTION stats :: END