// SECTION sets :: START

.sets {
  position: relative;

  // common
  &__top,
  &__bottom {
    position: relative;

    &-bg {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  // common :: end

  // top
  &__top {
    z-index: 1;

    &-bg {
      height: 100%;
      background-color: #5a1e74;
      background-image: url('../img/img-sets-bg.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    }

    &-title,
    &-text {
      color: $c-white;
      text-align: center;
    }

    &-title {
      padding-bottom: 20px;
      line-height: 1;
      text-transform: uppercase;
      font-size: 100px;
      @include fluid(font-size, 320px, 1439px, 55px, 100px);

      span {
        color: #ffff00;
      }
    }

    &-text {
      font-family: 'Ubuntu', sans-serif;
      @include fluid(font-size, 320px, 1439px, 16px, 20px);
    }
  }
  // top :: end

  // bottom
  &__bottom {
    z-index: 0;
    top: -50px;
    min-height: 461px;

    &-bg {
      height: calc(100% - 60px);
      background-image: linear-gradient(180deg, rgb(215,53,202) 0%, rgb(255,0,234) 99%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &:nth-of-type(1) {
          background-color: #f611e6;
          clip-path: polygon(80% 0, 100% 0%, 100% 30%, 65% 55%);
        }
      }
    }

    &-triangle {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;

        &:nth-of-type(1) {
          left: 0;
          bottom: 40px;
        }
        &:nth-of-type(2) {
          right: 10%;
          bottom: 80px;
        }
        &:nth-of-type(3) {
          right: 0;
          bottom: 40px;
        }
      }
    }

    .c-grid {
      max-width: 1260px;
    }

    &-title {
      position: absolute;
      display: flex;
      align-items: center;
      left: 0;
      top: calc(100% - 61px);
      width: 100%;
      max-width: 590px;
      height: 102px;
      padding-left: 41px;
      background-color: #871cea;
      clip-path: polygon(1% 1%, 96% 0, 100% 100%, 0 98%);

      &:before {
        content: '';
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #740cd5;
        clip-path: polygon(0 100%, 55% 65%, 100% 0, 100% 100%);
      }

      h2 {
        z-index: 1;
        position: relative;
        color: $c-white;
        line-height: 1;
        text-transform: uppercase;
        @include fluid(font-size, 320px, 1439px, 36px, 48px);
      }
    }
  }
  // bottom :: end

  &__wrapper {
    z-index: 2;
    position: relative;

    &-0 {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 319px;
    }

    &-1,
    &-2 {
      display: flex;
      @include adaptive(767) {
        flex-wrap: wrap;
      }
    }

    &-1 {
      align-items: center;
      padding-top: 70px;

      @include adaptive(767) {
        .sets__wrapper-right {
          display: none;
        }
      }
    }

    &-2 {
      align-items: flex-start;
      @include adaptive(767) {
        flex-direction: column-reverse;
      }
    }

    &-left {
      width: 100%;
      max-width: calc(100% - 370px);
      @include adaptive(767) {
        max-width: 100%;
      }
    }

    &-right {
      width: 370px;
      @include adaptive(767) {
        width: 100%;
      }
    }
  }

  &__content {
    position: relative;
    width: 100%;
    max-width: 805px;
    min-height: 248px;
    padding: 47px 54px;
    @include adaptive(1199) {
      padding: 30px 40px;
    }

    &-bg {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &:nth-of-type(1) {
          top: 10px;
          background-color: #ba1bad;
          clip-path: polygon(0 0, 100% 3%, 97% 98%, 2% 100%);
        }

        &:nth-of-type(2) {
          left: 15px;
          background-color: #d545de;
          clip-path: polygon(0 0, 100% 3%, 97% 98%, 2% 100%);

          &:before {
            content: '';
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #e84cf2;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 35% 65%, 0 0);
          }
        }
      }
    }

    &-text {
      padding-bottom: 20px;
      color: $c-white;
      font-family: 'Ubuntu', sans-serif;
      @include fluid(font-size, 320px, 1439px, 14px, 18px);

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }

  &__note {
    position: relative;
    width: 100%;
    max-width: 805px;
    min-height: 83px;
    margin-top: 20px;
    padding: 24px 39px;
    background-color: #dc602c;
    clip-path: polygon(0 3%, 100% 0, 96% 98%, 3% 100%);

    &:before {
      content: '';
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ff7236;
      clip-path: polygon(0 100%, 75% 65%, 90% 0, 100% 0, 100% 100%);
    }

    p {
      z-index: 1;
      position: relative;
      color: $c-white;
      line-height: 1.6;
      font-family: 'Ubuntu', sans-serif;
      @include fluid(font-size, 320px, 1439px, 14px, 18px);

      span {
        font-weight: bold;
      }

      a {
        color: #ffff00;
      }
    }
  }

  &__search {
    width: 100%;
    min-height: 73px;
    padding: 21px 28px;
    background-color: #ff00ee;
    clip-path: polygon(2% 0, 98% 0, 100% 100%, 0 93%);
    @include adaptive(767) {
      max-width: 370px;
      margin-left: auto;
      margin-right: auto;
    }

    &-content {
      position: relative;
      display: flex;
      min-height: 63px;
      padding-top: 13px;
      padding-bottom: 7px;
      background-color: $c-white;
      clip-path: polygon(1% 2%, 98% 0, 100% 100%, 0 97%);

      > div {
        &:nth-of-type(1) {
          position: relative;
          width: 100%;
          max-width: calc(100% - 74px);
        }

        &:nth-of-type(2) {
          display: flex;
          justify-content: center;
          width: 74px;
        }
      }
    }

    &-input {
      outline: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-left: 21px;
      border: none;
      box-shadow: none;
      border-radius: 0;
      font-size: 14px;
      font-family: 'Ubuntu', sans-serif;
      @include inputPlaceholder {
        color: #bfbfbf;
      }
    }

    &-btn {
      cursor: pointer;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      box-shadow: none;
      border-radius: 0;
      width: 46px;
      height: 44px;
      background-color: #ffd600;
      color: $c-white;
      font-size: 27px;
      clip-path: polygon(0 0, 100% 5%, 97% 97%, 4% 100%);
    }
  }
}

// SECTION sets :: END