// SECTION item :: START

.item {
  position: relative;
  padding-top: 13px;
  min-height: 497px;

  &__bg {
    overflow: hidden;
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 90deg, rgb(227,171,65) 0%, rgb(221,149,47) 99%);

    &-bottom {
      position: absolute;
      left: 0;
      bottom: -23px;
      width: 100%;
      height: 50px;
      background-color: $c-white;
      transform: skewY(1deg);
    }

    &-triangle {
      position: absolute;

      &-0 {
        top: 3%;
        left: 0;
      }

      &-1 {
        right: 0;
        bottom: 20%;
      }
    }
  }

  &__triangle {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-img {
      position: absolute;

      &-0 {
        left: 0;
        bottom: 0;
      }
      &-1 {
        left: 30%;
        bottom: 0;
      }
      &-2 {
        left: 45%;
        bottom: 0;
      }
      &-3 {
        left: 65%;
        bottom: 0;
      }
      &-4 {
        right: 0;
        bottom: 0;
      }
    }
  }

  .c-grid {
    max-width: 1240px;
  }

  &__wrapper {
    z-index: 2;
    position: relative;
  }

  &__row {
    &.item__row--2-3 {
      .item__row {
        &-left {
          width: 520px;
          @include adaptive(1199) {
            width: 100%;
          }
        }
        &-right {
          max-width: calc(100% - 520px);
          @include adaptive(1199) {
            max-width: 100%;
          }
        }
      }
      .item__slider {
        margin-right: 11px;

        &-wrapper {
          @include adaptive(1199) {
            justify-content: flex-start;
          }
          @include adaptive(767) {
            justify-content: center;
          }
        }
      }
    }

    &-0 {
      display: flex;
      align-items: center;
      padding-bottom: 40px;
      @include adaptive(1199) {
        flex-direction: column;
      }
      @include adaptive(767) {
        flex-direction: row;
      }
      @include adaptive(575) {
        flex-direction: column;
      }

      .item__row-left {
        width: 289px;
        @include adaptive(1199) {
          display: flex;
          justify-content: center;
          width: 100%;
          padding-bottom: 13px;
        }
        @include adaptive(767) {
          justify-content: flex-start;
          padding-bottom: 0;
        }
        @include adaptive(575) {
          justify-content: center;
          padding-bottom: 13px;
        }
      }

      .item__row-right {
        display: flex;
        align-items: flex-end;
        width: 100%;
        max-width: calc(100% - 289px);
        @include adaptive(1199) {
          justify-content: center;
          max-width: 100%;
        }
      }
    }

    &-1 {
      display: flex;
      align-items: center;
      min-height: 300px;
      @include adaptive(1199) {
        flex-direction: column;
      }

      .item__row-left,
      .item__row-right {
        display: flex;
        align-items: center;
        @include adaptive(767) {
          flex-direction: column;
        }
      }

      .item__row-left {
        width: 720px;
        padding-left: 23px;
        padding-right: 23px;
        @include adaptive(1365) {
          padding-left: 0;
        }
        @include adaptive(1199) {
          width: 100%;
          padding-right: 0;
          margin-bottom: 40px;
        }
      }

      .item__row-right {
        width: 100%;
        max-width: calc(100% - 720px);
        padding-right: 23px;
        @include adaptive(1365) {
          padding-right: 0;
        }
        @include adaptive(1199) {
          max-width: 100%;
        }
      }
    }

    &-2 {
      display: flex;
      justify-content: flex-end;
      padding-right: 25px;
      padding-top: 20px;
    }
  }

  &__title {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 286px;
    height: 65px;
    background-color: #ffd600;
    clip-path: polygon(0 0, 100% 2%, 97% 100%, 3% 100%);
    padding-left: 22px;
    color: $c-white;

    .icon-font {
      @include fluid(font-size, 320px, 992px, 36px, 41px);
    }

    h2 {
      padding-left: 12px;
      line-height: 1;
      text-transform: uppercase;
      @include fluid(font-size, 320px, 992px, 35px, 40px);
    }
  }

  &__subtitle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
    height: 289px;
    margin-right: 8px;
    @include adaptive(767) {
      width: 100%;
      max-width: 289px;
      height: 68px;
      margin-right: auto;
      margin-bottom: 30px;
    }

    &:before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 5px;
      left: 0;
      width: 75px;
      height: 100%;
      clip-path: polygon(0 0, 100% 5%, 94% 96%, 6% 100%);
      @include adaptive(767) {
        width: 100%;
      }
    }

    &-bg {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 75px;
      height: 100%;
      clip-path: polygon(0 0, 100% 5%, 94% 96%, 6% 100%);
      @include adaptive(767) {
        width: 100%;
      }

      &:after {
        z-index: -1;
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &-0 {
      &:before {
        background-color: #dd9c25;
      }

      .item__subtitle-bg {
        background-color: #f66d33;

        &:after {
          background-color: #ff7236;
          clip-path: polygon(0 100%, 55% 85%, 100% 0, 100% 100%, 0 100%);
        }
      }

      .icon-btn-arrow {
        color: #ff7236;

        &:nth-of-type(2) {
          color: #dd9c25;
        }
      }
    }

    &-1 {
      &:before {
        background-color: #dd9722;
      }

      .item__subtitle-bg {
        background-color: #f4d180;

        &:after {
          background-color: #fcdb90;
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 55% 25%, 0 0);
        }
      }

      .icon-btn-arrow {
        color: #fcdb90;

        &:nth-of-type(2) {
          color: #dd9722;
        }
      }
    }

    .icon-btn-arrow {
      z-index: 0;
      position: absolute;
      top: 50%;
      right: 7px;
      transform: translateY(-50%) rotate(-90deg);
      font-size: 40px;
      @include adaptive(767) {
        top: 75%;
        right: auto;
        left: 50%;
        transform: translateX(-50%) rotate(0deg);
      }

      &:nth-of-type(2) {
        z-index: -1;
        top: calc(50% + 5px);
      }
    }

    &-name {
      z-index: 2;
      position: relative;
      padding-bottom: 10px;
      color: $c-white;
      line-height: 1;
      text-transform: uppercase;
      font-size: 40px;
      transform: rotate(-90deg);
      @include adaptive(767) {
        transform: rotate(0);
        padding-bottom: 0;
      }
    }
  }

  &__dropdown {
    display: none;
    flex-direction: column;
    width: 100%;
    @include adaptive(767) {
      display: flex;
      align-items: flex-end;
    }
    @include adaptive(575) {
      align-items: center;
    }

    .dropdown {
      position: relative;
      width: 100%;
      max-width: 261px;

      &__btn {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 83px;
        padding-right: 35px;

        &:before {
          content: '';
          z-index: -1;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #efac4b;
          clip-path: polygon(5% 3%, 100% 0, 95% 98%, 0 100%);
        }

        > div {
          &:nth-of-type(1) {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 54px;
          }

          &:nth-of-type(2) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: calc(100% - (54px));
            padding-left: 9px;

            p {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding-right: 5px;
              width: 100%;
              max-width: 100%;
              color: $c-white;
              line-height: 1;
              text-transform: uppercase;
              font-size: 30px;
            }

            span {
              padding: 3px;
              background-color: #ff3636;
              clip-path: polygon(0 0, 100% 10%, 95% 95%, 0 100%);
              color: $c-white;
              font-size: 24px;
            }
          }

          &:nth-of-type(3) {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            right: 0;
            width: 45px;
            height: 100%;

            span {
              transform: rotate(90deg);
              color: $c-white;
              font-size: 20px;
              font-family: 'DCC-Scisor', sans-serif;
            }
          }
        }
      }

      &-menu {
        position: relative;
        width: 100%;
        padding: 0;
        border: none;
        box-shadow: none;
        border-radius: 0;
        background-color: #eec76d;
        clip-path: polygon(0 1%, 100% 0, 99% 99%, 1% 100%);
      }

      &__link {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 65px;
        padding-left: 13px;
        padding-right: 10px;
        @include transition(background-color);

        &:hover {
          background-color: #efac4b;
          @include transition(background-color);

          > div {
            &:nth-of-type(2) {
              span {
                background-color: #ff3636;
                @include transition(background-color);
              }
            }
          }
        }

        > div {
          &:nth-of-type(1) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
          }

          &:nth-of-type(2) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: calc(100% - (50px));
            padding-left: 9px;

            p {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding-right: 5px;
              width: 100%;
              max-width: 100%;
              color: $c-white;
              line-height: 1;
              text-transform: uppercase;
              font-size: 20px;

              br {
                display: none;
              }
            }

            span {
              padding: 3px;
              background-color: #ff7336;
              clip-path: polygon(0 0, 100% 10%, 95% 95%, 0 100%);
              color: $c-white;
              font-size: 14px;
              @include transition(background-color);
            }
          }
        }
      }
    }
  }

  &__nav {
    position: relative;
    width: 100%;
    max-width: 856px;
    @include adaptive(767) {
      display: none;
    }

    &-bg {
      z-index: -1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      height: 85%;
      background-color: #efac4b;
      clip-path: polygon(4% 2%, 100% 0, 97% 98%, 3% 100%);
      @include adaptive(991) {
        clip-path: polygon(2% 2%, 100% 0, 98% 98%, 1% 100%);
      }
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 60px;
      justify-content: center;
      height: 89px;
      padding: 5px;
      margin-left: 3px;
      margin-right: 3px;
      clip-path: polygon(0 0, 100% 5%, 94% 95%, 6% 100%);
      @include transition(opacity, background-color, clip-path);

      &:hover {
        background-color: rgba(#ffd600, 0.5);
        @include transition(opacity, background-color, clip-path);
      }

      &.is-active {
        background-color: #ffd600;
        @include transition(background-color, clip-path);

        i {
          opacity: 0.3;
          filter: invert(1);
          @include transition(opacity, filter);
        }
        
        span {
          background-color: #ff3636;
          @include transition(background-color);
        }

        p {
          color: #b5970a;
          @include transition(color);
        }
      }

      > div {
        &:first-of-type {
          position: relative;
          display: flex;
          align-items: center;
          height: 35px;
          margin-bottom: 8px;
        }
        &:last-of-type {}
      }

      i {
        @include transition(opacity, filter);
      }

      span {
        position: absolute;
        right: -5px;
        bottom: -5px;
        padding: 3px;
        background-color: #ff7336;
        clip-path: polygon(0 0, 100% 10%, 95% 95%, 0 100%);
        color: $c-white;
        font-size: 10px;
        @include transition(background-color);
      }

      p {
        color: $c-white;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Rajdhani', sans-serif;
        @include fluid(font-size, 768px, 1200px, 12px, 14px);
      }
    }
  }

  &__slider {
    position: relative;
    width: 175px;

    .b-skin {
      overflow: hidden;
      position: relative;

      &:hover {
        &:after {
          opacity: 1;
          @include transition(opacity);
        }

        img {
          transform: scale(1.1);
          @include transition(transform);
        }
      }

      img {
        will-change: contents;
        backface-visibility: hidden;
        transform-origin: center;
        @include transition(transform);
      }
    }

    &-0,
    &-1,
    &-2 {
      height: 288px;
      @include adaptive(575) {
        margin-bottom: 15px;
      }
    }

    &-3,
    &-4,
    &-5,
    &-6,
    &-7,
    &-8 {
      height: 139px;
      margin-bottom: 11px;
    }

    &-3 {}
    &-4 {}
    &-5 {
      margin-bottom: 0;
    }
    &-6,
    &-7,
    &-8 {
      margin-bottom: 0;
      @include adaptive(767) {
        margin-bottom: 11px;
      }
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: calc(100% - 92px);
      @include adaptive(767) {
        max-width: 100%;
      }

      &-0 {
        align-items: flex-start;
        @include adaptive(575) {
          flex-direction: column;
          align-items: center;
        }
      }

      &-1 {
        flex-wrap: wrap;
        @include adaptive(424) {
          justify-content: center;
        }
      }
    }
  }
}

// SECTION item :: END