// SECTION beginners comments :: START

section.beginners.beginners--comments

  .beginners__bg

  .beginners__triangle
    img(src="./img/img-b-comments-triangle-0.svg" alt="" title="")
    img(src="./img/img-b-comments-triangle-1.svg" alt="" title="")

  .beginners__wrapper

    .beginners__wrapper-left
      .beginners__user
        // (un)comment test images if need
        //img(src="./img/img-top-0.png" srcset="./img/img-top-0@2x.png 2x" alt="" title="")

    .beginners__wrapper-right
      h2!= "Neo"
      p!= "I am a hard-working web developer with a passion for gaming and eSports events. If you have any issues related to the game or site, leave a comment below, and I will help you as soon as I can."

// SECTION beginners comments :: END