// SECTION beginners notes :: START

section.beginners.beginners--notes

  .beginners__bg

  .beginners__triangle
    img(src="./img/img-b-notes-triangle-0.svg" alt="" title="")
    img(src="./img/img-b-notes-triangle-1.svg" alt="" title="")
    img(src="./img/img-b-notes-triangle-2.svg" alt="" title="")
    img(src="./img/img-b-notes-triangle-3.svg" alt="" title="")

  .beginners__wrapper
    .beginners__notes
      .beginners__notes-triangle
        img(src="./img/img-b-notes-triangle-4.svg" alt="" title="")
        img(src="./img/img-b-notes-triangle-5.svg" alt="" title="")
        img(src="./img/img-b-notes-triangle-6.svg" alt="" title="")
        img(src="./img/img-b-notes-triangle-7.svg" alt="" title="")

      p!= "<span>Fortnite Battle Royale</span> is one of the most popular games this year, we will try to give you the best tips and trick for beginners and pro players.  If you have other tips or trick, leave a comment below."

// SECTION beginners notes :: END