// SECTION beginners ratings :: START

section.beginners.beginners--ratings
  .beginners__bg
  .beginners__triangle
    img(src="./img/img-beginners-triangle-0.svg" alt="" title="")
    img(src="./img/img-beginners-triangle-1.svg" alt="" title="")
    img(src="./img/img-beginners-triangle-2.svg" alt="" title="")
    img(src="./img/img-beginners-triangle-3.svg" alt="" title="")
    img(src="./img/img-beginners-triangle-4.svg" alt="" title="")
    img(src="./img/img-beginners-triangle-5.svg" alt="" title="")

  .beginners__wrapper
    .beginners__wrapper-left
      .ratings
        a.ratings__btn(href="#" class="" title="")
          i.icon-png.star-full
        a.ratings__btn(href="#" class="" title="")
          i.icon-png.star-full
        a.ratings__btn(href="#" class="" title="")
          i.icon-png.star-full
        a.ratings__btn(href="#" class="" title="")
          i.icon-png.star-full
        a.ratings__btn(href="#" class="" title="")
          i.icon-png.star-half

    .beginners__wrapper-right
      .beginners__statistic.beginners__statistic-0
        p!= "4.4/5"
      .beginners__statistic.beginners__statistic-1
        p!= "7 Ratings"

// SECTION beginners ratings :: END