// SECTION main banner :: START

section#banner.banner--main
  .banner__box-wrapper

      // del after add banner
      .banner__box
        p!= "Ad Leaderboard size 728x90"

// SECTION main banner :: END