// SECTION section banner :: START

section#banner.banner--section
  .banner__box-wrapper

      // del after add banner
      .banner__box
        p!= "Ad Medium Rectangle<br>size 300x250"

// SECTION section banner :: END