---
title: Fortnite - 404

pageClassName: p-404
---
extends shared/_layout

block content
  div.body.body--start(class!= pageClassName)

    include ./components/_mainBanner
    include ./components/404/_nfound

