---
title: Fortnite - Beginners Tips

pageClassName: p-beginners
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    include components/common/_mainBanner

    section.section
      .c-grid
        .section__wrapper
          .section__wrapper-left

            section#beginners
              include ./components/beginners/_beginers-main
              include ./components/beginners/_beginers-notes
              include ./components/beginners/_beginers-description
              include ./components/beginners/_beginers-rating
              include ./components/common/_breadcrumbs
              include ./components/beginners/_beginners-comments

          .section__wrapper-right(section-right-js)

            include components/common/_search
            include components/common/_latest
            include components/common/_sectionBanner
            include components/common/_top
            include components/common/_royal
            include components/common/_sectionBanner

    include components/common/_reply

    section.section
      .c-grid
        .section__wrapper
          .section__wrapper-left
            include components/common/_comments

          .section__wrapper-right
