---
title: Fortnite - combo single page

pageClassName: p-combo
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    include components/common/_mainBanner

    section.section
      .c-grid
        .section__wrapper
          .section__wrapper-left

            section#combo

              include ./components/combo/_combo-item

              .updated--medium
                include ./components/common/_updated

              include ./components/common/_breadcrumbs

              include ./components/combo/_combo-like

          .section__wrapper-right(section-right-js)

            include components/common/_search
            include components/common/_sectionBanner
            include components/common/_latest
            include components/common/_sectionBanner
            include components/common/_top
            include components/common/_combos
            include components/common/_royal
            include components/common/_categories

    include components/common/_reply

    section.section
      .c-grid
        .section__wrapper
          .section__wrapper-left
            include components/common/_comments

          .section__wrapper-right
