---
title: Fortnite

pageClassName: p-home
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    include components/common/_mainBanner
    include ./components/home/_item

    section.section
      .c-grid
        .section__wrapper
          .section__wrapper-left

            section#home

              include ./components/home/_home-leaked
              include ./components/home/_home-browse

              include ./components/home/_challenges

          .section__wrapper-right(section-right-js)

              include components/common/_sectionBanner
              include components/common/_latest
              include components/common/_top
              include components/common/_sectionBanner
              include components/common/_royal

    include ./components/home/_combos
    include ./components/home/_guides
