---
title: Fortnite

pageClassName: p-home
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    include ./components/_mainBanner
    include ./components/home/_item

    //section#section.section
    //  .section__wrapper
    //    .section__wrapper-left
    //      div.section__content
    //
    //    .section__wrapper-right
    //      div.section__content
    //
    //        include ./components/_sectionBanner
    //        include ./components/_sectionBanner
