---
title: Fortnite

pageClassName: p-home
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    include ./components/_mainBanner
    include ./components/home/_item

    section.section
      .c-grid
        .section__wrapper
          .section__wrapper-left


          .section__wrapper-right

              include ./components/_sectionBanner
              include ./components/_sectionBanner


    include ./components/home/_guides
