---
title: Fortnite - Leaked

pageClassName: p-leaked
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    include components/common/_mainBanner

    include components/leaked/_leaked
    include components/leaked/_leak

    include ./components/common/_reply
    include ./components/common/_comments
