---
title: Fortnite - List of all skins

pageClassName: p-list
---
extends shared/_layout

block content
  div.body.body--start(class!= pageClassName)

    include ./components/list/_list
    include ./components/list/_filter
