---
title: Fortnite - List of all skins - table

pageClassName: p-list
flagBool: false
---
extends shared/_layout

block content
  div.body.body--start(class!= pageClassName)

    include components/common/_mainBanner
    include ./components/list/_list
    include ./components/list/_filter
    include ./components/list/_browse
    include ./components/common/_spinner
