---
title: Fortnite - Privacy Policy

pageClassName: p-privacy-policy
---
extends shared/_layout

block content
  div.body.body--start(class!= pageClassName)

    include ./components/_mainBanner

    include ./components/privacy-policy/_pp
