---
title: Fortnite - Search

pageClassName: p-search
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    include components/common/_mainBanner

    section.section
      .c-grid
        .section__wrapper
          .section__wrapper-left

          .section__wrapper-right

            include components/common/_search
            include components/common/_latest
            include components/common/_sectionBanner
            include components/common/_top
            include components/common/_royal
            include components/common/_sectionBanner
