---
title: Fortnite - Sets

pageClassName: p-sets
---
extends shared/_layout

block content
  div.body.body--start(class!= pageClassName)

    include components/common/_mainBanner

    include ./components/sets/_sets
    include ./components/sets/_set

    include ./components/common/_updated
    include ./components/common/_reply
    include ./components/common/_comments
