---
title: Fortnite - Shop rotation

pageClassName: p-shop-rotation
---
extends shared/_layout

block header

block content
  div.body(class!= pageClassName)

    include ./components/shop/_rotation

block footer
