---
title: Fortnite - Shop

pageClassName: p-shop
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    include components/common/_mainBanner
    include ./components/shop/_shop
    .shop--item
      include ./components/home/_item

    section.section
      .c-grid
        .section__wrapper
          .section__wrapper-left

            include ./components/shop/_stats

          .section__wrapper-right

            include components/common/_sectionBanner
            include components/common/_daily
            include components/common/_sectionBanner
