// HEADER :: START

.header {
  overflow: hidden;
  background-color: #2a2a2a;

  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 90px;
    @include adaptive(767) {
      min-height: 67px;
    }
  }

  &__col {
    &-0 {
      width: 100%;
      max-width: 270px;
      @include adaptive(1199) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
      }
    }

    &-mobile {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: calc(100% - 270px);
      @include adaptive(1199) {
        opacity: 0;
        z-index: 1000;
        overflow-y: auto;
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        max-width: 60%;
        height: 100%;
        background-color: #2a2a2a;
        transform: translateX(100%);
        @include transition(transform 0.35s);

        &.is-open {
          opacity: 1;
          transform: translateX(0);
          @include transition(transform 0.35s);
        }
      }
    }

    &-1 {
      width: 100%;
      max-width: calc(100% - 70px);
      @include adaptive(1199) {
        max-width: 100%;
        padding-top: 15px;
      }
    }

    &-2 {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      max-width: 70px;
      @include adaptive(1199) {
        max-width: 100%;
        justify-content: space-between;
        padding-bottom: 15px;
      }
    }
  }

  // navigation
  &__nav {
    display: flex;
    align-items: center;
    min-height: 90px;
    @include adaptive(1199) {
      flex-direction: column;
    }

    &-left {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      max-width: 281px;
      padding-right: 15px;
      @include adaptive(1199) {
        flex-direction: column;
        align-items: flex-start;
        max-width: 100%;
        margin-bottom: 15px;
        border-bottom: 1px solid #4f4e4e;
        padding-left: 40px;
        padding-right: 40px;
      }
      @include adaptive(575) {
        padding-left: 15px;
        padding-right: 15px;
      }

      &:after {
        content: '';
        z-index: 0;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 38px;
        background-color: #4f4e4e;
        @include adaptive(1199) {
          display: none;
        }
      }
    }

    &-right {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: calc(100% - 281px);
      padding-left: 26px;
      @include adaptive(1199) {
        flex-direction: column;
        align-items: flex-start;
        max-width: 100%;
        padding-left: 0;
        padding-bottom: 15px;
      }
    }

    &-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: calc(100% / 4);
      min-height: 90px;
      padding-top: 15px;
      @include adaptive(1199) {
        flex-direction: row;
        width: 100%;
        padding-top: 0;
        min-height: 60px;
      }

      &:hover {
        i {
          color: #d4d4d4;
          @include transition(color);
        }
      }

      span {
        height: 28px;
        @include adaptive(1199) {
          width: 40px;
          height: auto;
        }
      }

      i {
        color: $c-white;
        @include transition(color);

        &.icon-all {
          font-size: 18px;
        }
        &.icon-sets {
          font-size: 20px;
        }
        &.icon-preview {
          font-size: 13px;
        }
        &.icon-shop {
          font-size: 14px;
        }
      }

      p {
        color: #d4d4d4;
        line-height: 1;
        font-size: 16px;
        font-family: "Rajdhani", sans-serif;
        @include adaptive(1199) {
          width: 100%;
          max-width: calc(100% - 40px);
          font-size: 18px;
        }
      }
    }

    &-link {
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 90px;
      padding-left: 18px;
      padding-right: 18px;
      background-color: transparent;
      color: $c-white;
      line-height: 1.6;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      font-family: "Rajdhani", sans-serif;
      @include transition(background-color);
      @include adaptive(1199) {
        justify-content: flex-start;
        width: 100%;
        min-height: 60px;
        padding-left: 40px;
      }
      @include adaptive(575) {
        padding-left: 15px;
      }

      &--wrapper {
        @include adaptive(1199) {
          width: 100%;
        }
      }

      &:after {
        content: '';
        z-index: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: transparent;
        transform: translateY(100%);
        @include transition(background-color, transform);
        @include adaptive(1199) {
          top: 0;
          bottom: auto;
          width: 4px;
          height: 100%;
        }
      }

      &:hover,
      &.is-active {
        color: $c-white;
        background-color: #313131;
        @include transition(background-color);

        &:after {
          background-color: #ffff00;
          transform: translateY(0);
          @include transition(background-color, transform);
        }
      }

      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
        border-width: 3px;
        border-style: solid;
        border-color: $c-white transparent transparent transparent;
      }

      + .dropdown-menu {

        &.show {
          @include adaptive(1199) {
            position: static !important;
            transform: translate3d(0,0,0) !important;
            width: 100%;
            border-radius: 0;
            background-color: rgba($c-black, 0.15);

            a {
              color: $c-white;
              padding-left: 30px;
            }
          }
        }

        a {
          display: flex;
          align-items: center;
          min-height: 40px;
          padding: 0 15px;
          color: #2a2a2a;
          font-family: 'Ubuntu', sans-serif;
        }
      }
    }
  }

  // search
  &__search {
    display: flex;
    @include adaptive(1199) {

      .header & {
        align-items: center;
        justify-content: space-between;
        width: 100%;
        min-height: 44px;
        border-top: 1px solid #4f4e4e;
        border-bottom: 1px solid #4f4e4e;
      }
    }

    span {
      display: none;
      padding-left: 40px;
      color: $c-white;
      line-height: 1.6;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      font-family: "Rajdhani", sans-serif;
      @include adaptive(1199) {
        display: block;
      }
      @include adaptive(575) {
        padding-left: 15px;
      }
    }

    &-btn {
      outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 46px;
      height: 44px;
      border: none;
      background-color: #ffd500;
      clip-path: polygon(0 0, 100% 7%, 98% 95%, 3% 100%);
      @include adaptive(1199) {
        background-color: #ffd400;
      }

      .icon-font {
        color: #2a2a2a;
        font-size: 27px;
      }
    }
  }
}

// HEADER :: END