// SECTION search :: START

section#search.search.sidebar

  .search__figure.sidebar__figure
    img(src="./img/img-search-figure-0.svg" alt="" title="")
    img(src="./img/img-search-figure-1.svg" alt="" title="")
    img(src="./img/img-search-figure-2.svg" alt="" title="")

  form.search__wrapper.sidebar__wrapper
    .search__wrapper-left
      input(type='text' placeholder='Search')

    .search__wrapper-right
      .header__search
        button.header__search-btn(type="submit")
          i.icon-font.icon-search

// SECTION search :: END