// SECTION section banner :: START

section#banner.banner.banner--section
  .banner__box-wrapper

      // del after add banner
      .banner__box
        p!= "Ad Medium Rectangle<br>banner"

// SECTION section banner :: END