// SECTION updated :: START

section#updated.updated

  .updated__bg
    span
    span
    span

  .updated__triangle
    img(src="./img/img-updated-triangle-0.svg" srcset="" alt="" title="")
    img(src="./img/img-updated-triangle-1.svg" srcset="" alt="" title="")
    img(src="./img/img-updated-triangle-2.svg" srcset="" alt="" title="")
    img(src="./img/img-updated-triangle-3.svg" srcset="" alt="" title="")

  .c-grid
    .updated__wrapper
      .updated__wrapper-left

        p.updated__title!= "Last Updated:"

        .updated__follow
          a(href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false")!= "Follow @TwitterDev"
        .updated__like
          iframe(src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=124&layout=button_count&action=like&size=small&show_faces=false&share=true&height=46&appId=326194251067521" width="124" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media")

      .updated__wrapper-right

        p.updated__data.updated__data-0!= "16"
        p.updated__data.updated__data-1!= "October <span>2018</span>"

// SECTION updated :: END