// SECTION not found :: START

section#nfound.nfound

  .nfound__traiangle
    img.nfound__traiangle-img.nfound__traiangle-img-0(src="./img/img-404-triangle-0.svg" alt="" title="")
    img.nfound__traiangle-img.nfound__traiangle-img-1(src="./img/img-404-triangle-1.svg" alt="" title="")
    img.nfound__traiangle-img.nfound__traiangle-img-2(src="./img/img-404-triangle-2.svg" alt="" title="")
    img.nfound__traiangle-img.nfound__traiangle-img-3(src="./img/img-404-triangle-3.svg" alt="" title="")

  .c-grid
    .nfound__wrapper

      p!= "We could not find the page you were looking for."

      img(src="./img/404.png" srcset="./img/404@2x.png 2x" alt="" title="")

// SECTION not found :: END