// SECTION pp :: START

section#pp.pp
  .pp__wrapper.pp__wrapper-0

    .pp__bg
      .pp__bg-corner

      img.pp__bg-figure.pp__bg-figure-0(src="./img/img-figure-pp-0.svg" alt="" title="")
      img.pp__bg-figure.pp__bg-figure-1(src="./img/img-figure-pp-1.svg" alt="" title="")

    .pp__figure
      img.pp__figure-img.pp__figure-img-0(src="./img/img-figure-pp-2.svg" alt="" title="")
      img.pp__figure-img.pp__figure-img-1(src="./img/img-figure-pp-3.svg" alt="" title="")
      img.pp__figure-img.pp__figure-img-2(src="./img/img-figure-pp-4.svg" alt="" title="")
      img.pp__figure-img.pp__figure-img-3(src="./img/img-figure-pp-5.svg" alt="" title="")

    .c-grid
      include ./_mainTitle

  .pp__wrapper.pp__wrapper-1.info--pp
    .c-grid
      .pp__content.info__content

        .pp__content-figure
          img(src="./img/img-pp-content-figure-0.svg" alt="" title="")
          img(src="./img/img-pp-content-figure-1.svg" alt="" title="")
          img(src="./img/img-pp-content-figure-2.svg" alt="" title="")
          img(src="./img/img-pp-content-figure-3.svg" alt="" title="")

        .pp__section.info__section.info__section-0
          .info__section-left
            .info__subtitle
              +subtitleHalf('1.', "Introduction")

          .info__section-right

            include ../_sectionBanner

        .pp__section.info__section.info__section-1
          .info__subtitle
            +subtitle('2.', "Credit")

        .pp__section.info__section.info__section-2
          .info__subtitle
            +subtitle('3.', "How we use your personal data")

        .pp__section.info__section.info__section-3
          .info__subtitle
            +subtitle('4.', "Providing your personal data to others")

        .pp__section.info__section.info__section-4
          .info__subtitle
            +subtitle('5.', "International transfers of your personal data")

        .pp__section.info__section.info__section-5
          .info__subtitle
            +subtitle('6.', "Retaining and deleting personal data")

        .pp__section.info__section.info__section-6
          .info__subtitle
            +subtitle('7.', "Amendments")

        .pp__section.info__section.info__section-7
          .info__subtitle
            +subtitle('8.', "Your rights")

        .pp__section.info__section.info__section-8
          .info__subtitle
            +subtitle('9.', "About cookies")

        .pp__section.info__section.info__section-9
          .info__subtitle
            +subtitle('10.', "Cookies that we use")

        .pp__section.info__section.info__section-10
          .info__subtitle
            +subtitle('11.', "Cookies used by our service providers")

        .pp__section.info__section.info__section-11
          .info__subtitle
            +subtitle('12.', "Managing cookies")

        .pp__section.info__section.info__section-12
          .info__subtitle
            +subtitle('13.', "Our details")

          include ../_sectionBanner



// SECTION pp :: END