// SECTION browse :: START

.browse {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  @include adaptive(767) {
    overflow: hidden;
  }

  &__bg,
  &__triangle {
    position: absolute;
    left: 0;
    width: 100%;
  }

  &__bg {
    z-index: -1;
    top: 78px;
    height: calc(100% - 78px);
    background-color: #edf9fd;
    clip-path: polygon(0 0, 100% 20px, 99% 100%, 1% 99.99%);
  }

  &__triangle {
    z-index: 0;
    top: 0;
    height: 100%;

    img {
      position: absolute;

      &:nth-child(1) {
        top: -3%;
        right: -2%;
        @include adaptive(767) {
          display: none;
        }
      }
      &:nth-child(2) {
        right: 100px;
        bottom: -10px;
      }
      &:nth-child(3) {
        right: -15px;
        bottom: -15px;
      }
    }
  }

  .c-grid {
    max-width: 100%;
  }

  &__wrapper {
    padding-left: 30px;
    @include adaptive(575) {
      padding-left: 0;
    }
  }

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 50px;
    @include adaptive(1199) {
      flex-wrap: wrap;
    }

    &-left {
      width: 100%;
      max-width: 444px;
      @include adaptive(1199) {
        max-width: 100%;
      }
    }

    &-middle {
      width: 100%;
      max-width: 377px;
      @include adaptive(1199) {
        max-width: 50%;
      }
      @include adaptive(575) {
        max-width: 100%;
      }

      .search {
        min-height: 0;
        margin-bottom: 0;
        padding: 15px 10px 0;
        background-color: #edf9fd;
        clip-path: polygon(0 5%, 100% 0, 98% 100%, 1% 99%);
      }
    }

    &-right {
      position: relative;
      width: 100%;
      max-width: calc(100% - (444px + 377px + 30px));
      @include adaptive(1199) {
        max-width: 50%;
      }
      @include adaptive(575) {
        max-width: 100%;
      }

      .latest__btn-wrapper {
        @include adaptive(575) {
          position: static;
          justify-content: center;
        }
      }
    }
  }

  &__footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__title {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 33px;
    width: 100%;
    height: 100px;
    background-color: #ffe000;
    clip-path: polygon(0 0, 100% 2%, 97% 100%, 3% 95%);
    @include adaptive(1199) {
      max-width: 444px;
    }

    &:before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #e1be1c;
      clip-path: polygon(0 100%, 75% 15%, 100% 0, 100% 100%, 0 100%);
    }

    .icon-browse,
    h2 {
      color: $c-white;
      @include fluid(font-size, 320px, 992px, 30px, 48px);
    }

    h2 {
      padding-left: 15px;
      text-transform: uppercase;
    }
  }

  &__block {
    &--grid {
      .browse__box {
        width: 211px;
        height: 166px;
        margin: 16px;
        @include adaptive(1365) {
          margin: 18px 9px;
        }
        @include adaptive(575) {
          width: 100%;
          max-width: calc((100% - 12px) / 2);
          margin: 3px;
        }
        @include adaptive(424) {
          width: 100%;
          max-width: calc((100% - 12px) / 2);
          height: 156px;
          margin: 3px;
        }
        @include adaptive(374) {
          height: 136px;
        }

        &-wrapper {
          display: flex;
          flex-wrap: wrap;
          margin-left: -8px;
          @include adaptive(767) {
            justify-content: space-between;
            margin-left: 0;
            padding-right: 30px;
          }
          @include adaptive(767) {
            justify-content: center;
          }
          @include adaptive(575) {
            padding-right: 0;
          }
        }
      }
    }
    &--table {}
  }

  &__filter {
    display: flex;
    align-items: center;

    &-wrapper {
      min-height: 40px;
    }

    p {
      padding-right: 12px;
      color: #273c43;
      line-height: 1;
      text-transform: uppercase;
      @include fluid(font-size, 320px, 1200px, 16px, 18px);
    }

    &-btn,
    &-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 78px;
      height: 30px;
      padding-left: 12px;
      padding-right: 12px;

      span {
        font-size: 16px;
        font-family: 'Ubuntu', sans-serif;
        @include fluid(font-size, 320px, 1200px, 14px, 16px);
      }
    }

    &-btn {
      margin-right: 10px;
      background-color: #273c43;
      clip-path: polygon(0 0, 100% 5%, 97% 98%, 4% 100%);
      color: $c-white;

      &:hover {
        color: $c-white;
      }

      i {
        font-size: 8px;
        transform: rotate(90deg);
      }
    }

    &-link {
      color: #273c43;
    }
  }

  &__table {
    font-family: 'Ubuntu', sans-serif;

    &-head {
      @include adaptive(767) {
        display: none;
      }

      .browse__table-tr {
        margin-bottom: 41px;
      }

      .browse__table-th {
        &-0 {
          padding-left: 144px;
        }
      }

      .browse__filter-btn {
        display: inline-flex;
      }
    }

    &-body {
      .browse__table-tr {
        min-height: 137px;
        margin-bottom: 27px;

        &:before {
          content: '';
          z-index: -1;
          position: absolute;
          top: 50%;
          right: 15px;
          transform: translateY(-50%);
          width: 95%;
          height: 70%;
          background-color: #dcf1f8;
          clip-path: polygon(0 0, 100% 2%, 99% 99%, 2% 98%);
          @include adaptive(767) {
            height: 100%;
          }
        }
      }
    }

    &-tr {
      display: flex;
      align-items: center;
      position: relative;
      padding-right: 30px;
      @include adaptive(767) {
        flex-wrap: wrap;
      }

      @each $className, $colorName in
          (legendary, #ea8d23),
          (epic, #c359ff),
          (rare, #2cc1ff),
          (uncommon, #69bb1e)
          (default, #bebebe)
      {
        &--#{$className} {
          .browse__table-td-1 {
            color: $colorName;
          }
        }
      }
    }

    &-th,
    &-td {
      width: 100%;

      &-0 {
        max-width: 52%;
        @include adaptive(767) {
          max-width: 100%;
        }
      }

      &-1,
      &-2,
      &-3 {
        display: flex;
        justify-content: center;
        max-width: calc(48% / 3);
        padding: 5px 10px;
        text-align: center;
        @include adaptive(767) {
          max-width: calc(100% / 3);
        }
      }
    }

    &-th {
      color: #273c43;
      @include fluid(font-size, 320px, 1200px, 12px, 16px);
    }

    &-td {
      display: flex;
      align-items: center;
      color: #728388;
      @include fluid(font-size, 320px, 1200px, 14px, 18px);

      .e-skin__block-points {
        display: flex;
        align-items: center;
        padding-bottom: 0;

        span {
          color: #728388;
          font-family: 'Ubuntu', sans-serif;
          @include fluid(font-size, 320px, 1200px, 14px, 18px);
        }
      }
    }

    h3 {
      padding-left: 18px;
      color: #273c43;
      line-height: 1;
      text-transform: uppercase;
      font-family: 'Anton', sans-serif;
      @include fluid(font-size, 320px, 1200px, 24px, 30px);
    }
  }

  &__box {
    overflow: hidden;
    position: relative;
    width: 173px;
    height: 137px;
    border: 5px solid #e8f2ff;

    @each $className, $gradName, $borderVal in
        (legendary, '%radialGradientOrange', #e38748),
        (epic, '%radialGradientPink', #b04eec),
        (rare, '%radialGradientBlue', #3ad6ff),
        (uncommon, '%radialGradientGreen', #8fee3b),
        (default, '%radialGradientGray', #bebebe)
    {
      &--#{$className} {
        border-color: $borderVal;

        &:before {
          @extend #{$gradName};
        }
      }
    }

    &:hover {
      &:after {
        opacity: 1;
        @include transition(opacity);
      }

      > img {
        transform: scale(1.1);
        @include transition(transform);
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
    }

    &:after {
      opacity: 0;
      background: radial-gradient(200px at center,hsla(0,0%,100%,.3),hsla(0,0%,100%,.05));
      @include transition(opacity);
    }

    &-name {
      z-index: 1;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 44px;
      background-color: rgba(#273c43, 0.57);

      h3 {
        color: $c-white;
        line-height: 1;
        text-transform: uppercase;
        font-family: 'Anton', sans-serif;
        @include fluid(font-size, 320px, 1200px, 18px, 24px);
      }
    }

    .e-skin__block-points {
      position: absolute;
      display: flex;
      align-items: center;
      top: 2px;
      left: 5px;
      padding-bottom: 0;

      span {
        padding-top: 3px;
        color: $c-white;
        line-height: 1;
        font-weight: 500;
        @include fluid(font-size, 320px, 1200px, 14px, 18px);
      }
    }

    .e-skin__block-view {
      top: 4px;
      bottom: auto;
      font-family: 'Anton', sans-serif;

      i {
        font-size: 16px;
      }
      span {
        font-size: 14px;
      }
    }

    > img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      transform-origin: center;
      @include transition(transform);
    }
  }
}

// SECTION browse :: END