include ../utilities/_mixin
include ../utilities/_dataForm
include ../utilities/_data

doctype html
html(lang="en")

  head
    include _head

  body

    block header
      include ../components/_header


    //- #barba-wrapper
      .barba-container
    block content


    block footer
      include ../components/_footer


  block script
    include _script
