include ../utilities/_mixin
include ../utilities/_dataForm
include ../utilities/_data

doctype html
html(lang="en")

  head
    include _head

      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
      script(async).
          function initSectionBGResize(parentNodeName) {
            if($('[section-resize-js]').length) {
              const sectionResize = $('[section-resize-js]');

              const sectionRight = $('[section-right-js]'),
                widthElem = sectionRight[0].getBoundingClientRect().left,
                leftOffset = sectionResize.closest(parentNodeName)[0].getBoundingClientRect().left;

              if($(window).width() > 991) {
                sectionResize.css({
                  'left' : -(leftOffset),
                  'width' : widthElem
                });
              }
            }
          };

          $(window).on("load resize", function(ev) {
            initSectionBGResize('.beginners--main, .home--leaded, .skin--like, .skin--main, .combo--item, .combo--custom');
          });

  body

    block header
      include ../components/_header


    //- #barba-wrapper
      .barba-container
    block content


    block footer
      include ../components/_footer

    include ../components/combo/_combo-drop


  block script
    include _script
