// SECTION not found :: START

.nfound {
  position: relative;
  background-color: #1ac2fe;
  background-image: url('../img/img-404-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__wrapper {
    z-index: 1;
    position: relative;
    padding-top: 54px;
    padding-bottom: 88px;
  }

  p {
    color: $c-white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    @include fluid(font-size, 320px, 767px, 20px, 24px);
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

// SECTION not found :: END