// BUTTON :: START

// ==================================================
// ==================================================
// ==================================================

$bth-width: auto;
$bth-height: 59px;
$btn-border-width: 0;
$btn-border-color: transparent;
$bth-border-radius: 0;
$bth-box-shadow: 0 4px 9px 0px rgba($c-black, 0.21);
$bth-background-color: rgba(#1ac2fe, 1);
$bth-color: rgba(#0183b1, 1);
$bth-font-size: 24px;
$bth-font-weight: normal;

$btn-color--border: rgba(#000, 1);

// ==================================================
// ==================================================
// ==================================================

.c-btn {
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: $bth-width;
  height: $bth-height;
  border: $btn-border-width solid $btn-border-color;
  box-shadow: $bth-box-shadow;
  border-radius: $bth-border-radius;
  color: $bth-color;
  text-transform: uppercase;
  font-weight: $bth-font-weight;
  font-family: "Anton", sans-serif;
  clip-path: polygon(0 0, 100% 2%, 97% 98%, 2% 100%);
  padding-left: 25px;
  padding-right: 30px;
  @include transition(color, clip-path);
  @include fluid(font-size, 320px, 768px, 19px, 24px);
  @include adaptive(575) {
    padding-left: 20px;
    padding-right: 25px;
  }

  &:hover {
    color: $c-white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    @include transition(color, clip-path);

    span {
      transform: translateX(10px);
      @include transition(transform);
    }
  }

  &--border {
    background-color: transparent;
    color: $btn-color--border;
  }

  &--bg {
    background-color: $bth-background-color;
  }

  &__text {
    &-wrap {}
  }

  &__icon {
    &-wrap {}
  }

  i {
    padding-left: 13px;
    font-size: 12px;
    transform: translateX(0);
    @include transition(transform);
  }
}

// BUTTON :: END