// HAMBURGER :: START

$whenShowHamburgerMenu: 'max-large';
$hamburger-box-width: 28px;
$hamburger-box-height: 20px;
$hamburger-line-height: 5px;
$hamburger-line-borderRadius: 0;
$hamburger-line-backgroundColor: #2a2a2a;

.c-hamburger {
  cursor: pointer;
  display: none;
  width: 46px;
  height: 44px;
  background-color: transparent;
  background-image: url('../img/header-search-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  @include transition(transform 0.35s);
  @include respond($whenShowHamburgerMenu) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.is-active {
    z-index: 1001;
    position: relative;
    @include transition(transform 0.35s);

    .c-hamburger__box {
      transform: rotate(-90deg);
      @include transition(transform 0.35s);
    }
  }

  &__box {
    position: relative;
    width: $hamburger-box-width;
    height: $hamburger-box-height;
    @include transition(transform 0.35s);
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $hamburger-line-height;
    border-radius: $hamburger-line-borderRadius;
    background-color: $hamburger-line-backgroundColor;
    @include transition(background-color);

    &:after,
    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: $hamburger-line-height;
      border-radius: $hamburger-line-borderRadius;
      background-color: $hamburger-line-backgroundColor;
      @include transition(transform, background-color);
    }

    &:before {
      bottom: -8px;
      transform: translateX(0);
    }

    &:after {
      bottom: -16px;
      transform: translateX(0);
    }
  }
}

// HAMBURGER :: END