// SECTION beginners :: START

#beginners {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 679px;
  margin-left: auto;

  .breadcrumbs {
    padding-left: 0;
    padding-bottom: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.beginners {
  margin-top: 30px;
  margin-bottom: 30px;

  // common
  &--notes,
  &--description,
  &--ratings,
  &--comments {
    position: relative;

    .beginners {
      &__bg,
      &__triangle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &__bg {
        z-index: -1;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      &__triangle {
        z-index: 0;

        img {
          position: absolute;
        }
      }
    }
  }
  // common :: end

  // main
  &--main {
    position: relative;
    margin-top: 0;
    padding-bottom: 90px;

    .section-resize {
      &-bg {
        background-color: #aecc2c;

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #bfd52d;
        }

        &:before {
          clip-path: polygon(0 0, 30% 0, 50% 30%, 0 45%);
        }

        &:after {
          clip-path: polygon(20% 65%, 95% 15%, 100% 0, 100% 100%, 20% 65%);
        }
      }

      &-triangle {
        img {
          &:nth-child(1) {
            top: 10%;
            right: -10px;
          }
          &:nth-child(2) {
            left: 5%;
            bottom: -8%;
          }
          &:nth-child(3) {
            left: 25%;
            bottom: -5%;
          }
          &:nth-child(4) {
            right: 20%;
            bottom: 10px;
          }
          &:nth-child(5) {
            right: 2%;
            bottom: 0;
          }
        }
      }
    }
  }

  &__main {
    &-header {
      z-index: 1;
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 461px;
      min-height: 96px;
      background-color: #3f6c7c;
      clip-path: polygon(0 0, 100% 7%, 97% 96%, 2% 100%);

      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #34606f;
        clip-path: polygon(0 100%, 85% 75%, 100% 0, 100% 100%);
      }

      p {
        padding-left: 35px;
        color: $c-white;
        line-height: 1;
        text-transform: uppercase;
        font-size: 48px;
      }
    }

    &-subheader {
      z-index: 0;
      position: relative;
      top: -30px;
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 514px;
      min-height: 89px;
      padding-left: 35px;
      color: #273c43;
      font-family: "Ubuntu", sans-serif;
      background-color: #ffff00;
      clip-path: polygon(0 0, 100% 7%, 97% 96%, 2% 100%);

      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffd400;
        clip-path: polygon(0 100%, 85% 75%, 100% 0, 100% 100%);
      }

      a {
        display: flex;
        align-items: center;
        padding-left: 5px;
        color: #273c43;

        .icon-font {
          padding-right: 5px;
        }
      }
    }

    &-img {
      text-align: center;

      > div {
        display: inline-flex;
        border: 7px solid #fff;
        background-color: #e8f7fc;
        box-shadow: 2px 5px 0 0 #a3be2a;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }
  // main :: end

  // notes
  &--notes {
    display: flex;
    align-items: center;
    min-height: 257px;

    .beginners {
      &__bg {
        background-color: #edf9fd;
        clip-path: polygon(0 5%, 100% 0, 98% 100%, 2% 100%);

        &:before {
          display: none;
        }
      }
      &__triangle {
        img {
          &:nth-child(1) {
            top: -10%;
            left: 0;
          }
          &:nth-child(2) {
            top: -20%;
            right: 0;
          }
          &:nth-child(3) {
            top: 15%;
            right: -2%;
          }
          &:nth-child(4) {
            left: -5%;
            bottom: -10%;
          }
        }
      }

      &__wrapper {
        padding: 15px 25px;
      }
    }
  }
  &__notes {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 133px;
    padding: 30px;

    &:before {
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #e1f1f7;
      clip-path: polygon(0 0, 100% 2%, 99% 100%, 2% 98%);
    }

    &-triangle {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;

        &:nth-child(1) {
          left: 5%;
          top: -7%;
        }
        &:nth-child(2) {
          top: -25%;
          right: 15%;
        }
        &:nth-child(3) {
          right: 15%;
          bottom: -5%;
        }
        &:nth-child(4) {
          bottom: -10%;
          right: 3%;
        }
      }
    }

    p {
      line-height: 1.6;
      font-size: 16px;
      font-family: 'Ubuntu', sans-serif;

      span {
        font-weight: bold;
      }
    }
  }
  // notes :: end

  // description
  &--description {

    .info__subtitle {
      p {
        font-size: 24px;
      }
    }

    .beginners__notes {
      margin-bottom: 40px;

      &-wrapper {
        display: flex;
        align-items: flex-start;
      }

      &-left {
        width: 30px;
      }

      &-right {
        width: 100%;
        max-width: calc(100% - 30px);
      }
    }

    .beginners {
      &__bg {
        &:before {
          top: 42px;
          height: calc(100% - 42px);
          background-color: #edf9fd;
          clip-path: polygon(0 4%, 100% 0, 97% 97%, 2% 100%);
        }
      }

      &__triangle {
        img {
          &:nth-child(1) {
            bottom: -8%;
            left: 4%;
          }
          &:nth-child(2) {
            bottom: -1%;
            left: 20%;
          }
          &:nth-child(3) {
            bottom: -1%;
            right: 20%;
          }
          &:nth-child(4) {
            bottom: -5%;
            right: 3%;
          }
        }
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
      }
    }
  }
  &__description {
    position: relative;
    padding-bottom: 60px;
    margin-bottom: 60px;

    @each $id, $start-color, $end-color in
        (0, #36caff, #1ac2fe),
        (1, #ff7236, #dc602c),
        (2, #518da4, #45839a),
        (3, #9fa451, #8b9a45),
        (4, #febc6f, #ffb45d),
        (5, #3d9e03, #007804),
        (6, #36caff, #1ac2fe),
    {
      &-#{$id} {
        .beginners__description-header {
          background-color: $start-color;

          &:before {
            background-color: $end-color;
          }
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-header,
    &-body {
      z-index: 2;
      position: relative;
    }

    &-header {
      position: relative;
      display: flex;
      align-items: center;
      width: 90%;
      min-height: 97px;
      padding-left: 20px;
      clip-path: polygon(0 0, 100% 7%, 97% 96%, 2% 100%);

      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 100%, 80% 75%, 100% 0, 100% 100%);
      }

      p {
        color: $c-white;
        line-height: 1;
        text-transform: uppercase;
        font-size: 30px;
      }
    }

    &-body {
      padding: 25px 35px 0;

      > p,
      > span {
        padding-bottom: 25px;
        line-height: 1.6;
        font-family: 'Ubuntu', sans-serif;
      }

      > p {
        font-size: 16px;

        > span {
          font-weight: bold;
        }
      }

      > span {
        display: block;
        font-size: 18px;
        font-weight: bold;
      }

      > a {
        display: block;
        margin-bottom: 15px;
        color: #808e92;
        font-size: 12px;
        font-family: 'Ubuntu', sans-serif;
      }
    }

    &-img {
      text-align: center;
      margin-bottom: 25px;

      > div {
        display: inline-flex;
        border: 5px solid #fff;
        background-color: #e8f7fc;
        box-shadow: 4px 14px 0 0 #e8f7fc;
      }

      &--wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .beginners__description-img {
          width: calc((100% - 10px) / 2);
        }
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }
  // description :: end

  // ratings
  &--ratings {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 156px;

    .ratings {
      margin-top: 10px;
    }

    .beginners {
      &__bg {
        background-color: #273f48;
        clip-path: polygon(0 5%, 100% 0, 98% 100%, 2% 98%);

        &:before {
          background-color: #4d6f7b;
          clip-path: polygon(0 100%, 25% 30%, 100% 0, 80% 20%, 90% 35%, 100% 100%, 0 100%);
        }
      }

      &__triangle {
        img {
          &:nth-child(1) {
            top: -30%;
            left: 15%;
          }
          &:nth-child(2) {
            top: -30%;
            right: 5%;
          }
          &:nth-child(3) {
            bottom: -20%;
            left: 0;
          }
          &:nth-child(4) {
            bottom: -15%;
            left: 15%;
          }
          &:nth-child(5) {
            bottom: -15%;
            right: 15%;
          }
          &:nth-child(6) {
            bottom: -30%;
            right: 0;
          }
        }
      }

      &__wrapper {
        display: flex;
        align-items: center;
        width: 100%;

        &-left,
        &-right {
          display: flex;
          align-items: center;
          width: 50%;
        }

        &-left {
          justify-content: flex-end;
          padding-right: 16px;
        }
        &-right {
          padding-left: 16px;
        }
      }

      &__statistic {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 97px;
        height: 44px;
        font-size: 16px;
        background-color: #ffffff;
        clip-path: polygon(0 0, 100% 7%, 97% 96%, 3% 100%);

        &:before {
          content: '';
          z-index: -1;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #edf9fd;
          clip-path: polygon(0 100%, 65% 65%, 100% 0, 100% 100%);
        }

        &-0 {
          margin-right: 5px;
        }

        &-wrapper {
          display: flex;
          align-items: center;
          width: 100%;
        }
      }
    }
  }
  // ratings :: end

  // comments
  &--comments {
    position: relative;
    min-height: 229px;

    .beginners {
      &__bg {
        background-color: #edf9fd;
        clip-path: polygon(0 0, 98% 2%, 100% 94%, 2% 100%);

        &:before,
        &:after {
          background-color: #d5ecf4;
        }

        &:before {
          clip-path: polygon(0 0, 20% 50%, 55% 50%, 0 100%);
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          clip-path: polygon(55% 95%, 70% 30%, 98% 0, 100% 100%, 55% 95%);
        }
      }

      &__triangle {
        img {
          &:nth-child(1) {
            right: 15%;
            bottom: -15%;
          }
          &:nth-child(2) {
            right: 2%;
            bottom: -15%;
          }
        }
      }

      &__wrapper {
        display: flex;
        align-items: center;

        &-left {
          display: flex;
          justify-content: flex-end;
          width: 182px;
          padding-right: 25px;
        }

        &-right {
          width: 100%;
          max-width: calc(100% - 182px);
          padding-top: 28px;
        }
      }

      &__user {
        position: relative;
        width: 120px;
        height: 120px;
        border: 6px solid #fff;
        background-color: #d5ecf4;
        box-shadow: 6px 6px 0 0 rgba(#628e9d, 0.35);

        img {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          max-height: 100%;
          max-width: 100%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    p {
      padding-bottom: 15px;
      color: #273c43;
      font-size: 36px;
    }

    span {
      line-height: 1.6;
      font-size: 16px;
      font-family: 'Ubuntu', sans-serif;
    }
  }
  // comments :: end
}

// SECTION beginners :: END