// SECTION categories :: START

.categories {
  margin-top: 50px;

  &:after {
    background-color: #f4f6f6;
    clip-path: polygon(0 0, 100% 2%, 98% 98%, 3% 100%);
  }

  &__figure {
    img {
      &:nth-of-type(1) {
        top: 0;
        right: 0;
      }
      &:nth-of-type(2) {
        bottom: -25px;
        left: 0;
      }
      &:nth-of-type(3) {
        bottom: -15px;
        right: 0;
      }
    }
  }

  &__wrapper {
    padding: 50px 22px 27px;
  }

  &__title {
    z-index: 3;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -30px;
    left: 28px;
    width: 203px;
    height: 65px;
    background-color: #2a2a2a;
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.08);
    clip-path: polygon(0 5%, 98% 0, 100% 100%, 0 90%);
    color: $c-white;
    line-height: 1;
    text-transform: uppercase;
    font-size: 36px;
  }

  &__block {
    display: flex;
    background-color: #e2e9e9;
    min-height: 56px;
    margin-bottom: 4px;
    clip-path: polygon(0 2%, 100% 0, 98% 98%, 2% 100%);

    &:last-of-type {
      margin-bottom: 0;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
    }

    &-left {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: calc(100% - 85px);
    }

    &-right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 85px;
    }

    &-name {
      padding-left: 21px;
      color: #273c43;
      line-height: 1;
      text-transform: uppercase;
      font-size: 18px;
    }

    &-num {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 43px;
      height: 33px;
      background-color: #1ac2fe;
      color: $c-white;
      clip-path: polygon(0 5%, 100% 0, 95% 93%, 10% 100%);
    }
  }
}

// SECTION categories :: END