// SECTION comments :: START

.comments {
  padding-bottom: 100px;

  .c-grid {
    max-width: 1295px;
  }

  &__wrapper {
    &-2 {
      padding-bottom: 31px;
      @include fluid(padding-top, 320px, 1440px, 55px, 30px);
    }
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 118px;
    padding-left: 31px;

    &:after {
      content: '';
      z-index: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #1ac2fe;
      clip-path: polygon(0 0, 100% 5%, 99% 100%, 1% 95%);
    }

    .icon-font {
      color: #273c43;
      @include fluid(font-size, 320px, 1440px, 20px, 35px);
    }

    h3 {
      padding-left: 10px;
      color: #273c43;
      text-transform: uppercase;
      @include fluid(font-size, 320px, 1440px, 30px, 48px);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding-top: 46px;
  }

  &__messages {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 189px;
    margin-bottom: 31px;
    margin-left: auto;
    padding: 27px 14px;
    background-color: #edf9fd;
    clip-path: polygon(0 0, 100% 1%, 99% 97%, 1% 98%);
    @include adaptive(575) {
      padding: 30px 15px;
    }

    &-figure {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;

        &:nth-of-type(1) {
          top: -10px;
          left: 15%;
        }

        &:nth-of-type(2) {
          bottom: 0;
          left: 10px;
        }
      }
    }

    &--main {
      max-width: calc(100% - (12px + 43px));
      @include adaptive(767) {
        max-width: 100%;
      }
    }
    &--additional {
      max-width: calc(100% - (104px + 43px));
      @include adaptive(767) {
        max-width: calc(100% - (45px));
      }
      @include adaptive(575) {
        max-width: calc(100% - (30px));
      }
    }

    &-left,
    &-right {
      z-index: 1;
      position: relative;
    }

    &-left {
      width: 116px;
      @include adaptive(575) {
        width: 79px;
        padding-top: 34px;
      }
    }

    &-right {
      width: 100%;
      max-width: calc(100% - 116px);
      @include adaptive(575) {
        max-width: calc(100% - 79px);
        padding-top: 34px;
      }
    }

    &-bottom {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      max-width: 100%;
      padding: 15px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 75px;
        height: 35px;
        background-color: #daf0f8;
        clip-path: polygon(0 0, 100% 2%, 99% 97%, 1% 98%);
        color: #273c43;
        font-size: 18px;
        text-transform: uppercase;
        @include transition(clip-path);

        &:nth-of-type(1) {
          margin-right: 5px;
        }

        &:hover {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          @include transition(clip-path);
        }
      }
    }

    &-badge {
      z-index: 1;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      right: 0;
      width: 100%;
      @include fluid(max-width, 320px, 1440px, 165px, 195px);
      @include fluid(height, 320px, 1440px, 49px, 80px);
      background-color: #daf0f8;
      clip-path: polygon(0 0, 100% 2%, 99% 97%, 1% 98%);

      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        color: #273c43;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Ubuntu', sans-serif;

        .icon {
          &-font {
            position: relative;
            font-size: 20px;
          }
          &-like {
            top: -4px;
          }
          &-dislike {
            bottom: -3px;
          }
        }

        span {
          padding-left: 5px;
        }
      }
    }

    &-photo {
      overflow: hidden;
      position: relative;
      width: 84px;
      height: 84px;
      border: 3px solid $c-white;
      @include adaptive(575) {
        width: 64px;
        height: 64px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-name {
      padding-bottom: 15px;
      line-height: 1;
      @include fluid(font-size, 320px, 1440px, 20px, 24px);
    }

    &-time {
      padding-bottom: 22px;
      color: #bfbfbf;
      line-height: 1;
      font-family: 'Ubuntu', sans-serif;
      @include fluid(font-size, 320px, 1440px, 14px, 16px);
    }

    &-text {
      color: #657782;
      line-height: line-height-convert(30, 18);
      font-weight: 300;
      font-family: 'Ubuntu', sans-serif;
      @include fluid(font-size, 320px, 1440px, 16px, 18px);
    }
  }
}

// SECTION comments :: END