// SECTION info :: START

.info {
  z-index: 2;
  position: relative;

  &--pp {
    .info__content {
      top: -60px;
      @include adaptive(991) {
        top: 0;
      }
    }
  }

  &--rewards {
    padding-bottom: 120px;
    @include adaptive(767) {
      overflow: hidden;
    }
  }

  &__content {
    position: relative;
    top: 0;
    padding: 25px;
    background-color: #edf9fd;
    @include adaptive(767) {
      padding-left: 15px;
      padding-right: 15px;
    }

    &-figure {
      z-index: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 300px;

      img {
        position: absolute;
        top: 90%;

        &:nth-child(1) {
          left: 0;
          @include adaptive(767) {
            display: none;
          }
        }
        &:nth-child(2) {
          left: 30%;
        }
        &:nth-child(3) {
          right: 30%;
        }
        &:nth-child(4) {
          right: 0;
          @include adaptive(767) {
            display: none;
          }
        }
      }
    }
  }

  &__section {
    z-index: 1;
    position: relative;

    &-main {
      p {
        text-align: center;
      }
    }

    &-0 {
      display: flex;
      @include adaptive(767) {
        display: block;
      }

      .info__section-left {
        width: 100%;
        max-width: calc(100% - 330px);
        padding-right: 15px;
        @include adaptive(767) {
          max-width: 100%;
        }
      }

      .info__section-right {
        display: flex;
        justify-content: center;
        width: 330px;
        @include adaptive(767) {
          display: none;
        }
      }
    }
  }

  &__subtitle {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 71px;
    padding-left: 26px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 31px;
    background-color: #273c43;
    clip-path: polygon(0 6%, 100% 0, 99% 96%, 1% 100%);
    @include adaptive(767) {
      padding-left: 15px;
    }

    &:after,
    &:before {
      content: '';
      z-index: 0;
      position: absolute;
      top: 0;
      height: 100%;
    }

    &:before {
      left: 0;
      width: 406px;
      background-color: #1f2f35;
      clip-path: polygon(0 100%, 53% 20%, 53% 67%, 100% 100%);
    }

    &:after {
      right: 0;
      width: 195px;
      background-color: #4d6f7b;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%, 15% 47%, 12% 64%);
    }

    &--featured,
    &--daily {
      margin-bottom: 13px;
    }

    &--featured {
      background-color: #f66d33;

      &:before {
        background-color: #de561c;
      }

      &:after {
        background-color: #ff814c;
      }
    }

    &--daily {
      background-color: #f4d180;

      &:before {
        background-color: #e3c171;
      }

      &:after {
        background-color: #fcdb90;
      }
    }

    p,
    h2,
    h3 {
      z-index: 1;
      position: relative;
      color: $c-white;
      @include fluid(font-size, 320px, 1440px, 24px, 36px);
    }

    h2,
    h3 {
      padding-left: 5px;
      text-transform: uppercase;
    }
  }

  &__text {
    padding-left: 15px;
    padding-right: 15px;
    color: #273c43;
    font-family: "Ubuntu", sans-serif;
    @include fluid(font-size, 320px, 768px, 14px, 16px);
    @include adaptive(767) {
      padding: 0;
    }

    p {
      padding-bottom: 31px;
      line-height: 1.6;

      strong {
        font-weight: bold;
      }
    }

    a {
      color: #273c43;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      hyphens: auto;
    }

    ul {
      padding-left: 20px;
      padding-bottom: 31px;

      li {
        line-height: 1.6;
      }
    }
  }
}

// SECTION info :: END