// SECTION latest :: START

.latest {
  min-height: 820px;
  margin-top: 77px;
  margin-bottom: 12px;
  @include adaptive(575) {
    min-height: 0;
  }

  &:after {
    background-color: #e6f3f8;
    clip-path: polygon(0 0, 100% 1%, 98% 98%, 3% 100%);
  }

  &__figure {
    img {
      &:nth-of-type(1) {
        top: -5px;
        right: -10px;
      }
      &:nth-of-type(2) {
        bottom: 0;
        right: 0;
      }
    }
  }

  &__wrapper {
    padding: 33px 0 31px;
  }

  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 54px;
    transform: translateX(-11px) translateY(7px);
    @include transition(transform);

    &-0 {
      z-index: 1;
      max-width: 147px;

      &:after {
        clip-path: polygon(0 0, 100% 1%, 98% 98%, 3% 100%);
      }
    }

    &-1 {
      z-index: 0;
      max-width: 180px;

      &:after {
        clip-path: polygon(7% 3%, 100% 0, 97% 97%, 0 100%);
      }
    }

    &:hover {
      &:after {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        @include transition(clip-path);
      }

      .icon-btn-arrow {
        transform: translateY(-10px);
        @include transition(transform);
      }
    }

    &:after {
      content: '';
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #edf9fd;
      @include transition(background-color, clip-path);
    }

    > div {
      z-index: 1;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span {
      padding-top: 3px;
      line-height: 1;
      text-transform: uppercase;
      color: #1ac2fe;
      @include transition(color);
      @include fluid(font-size, 320px, 768px, 19px, 24px);
    }

    .icon-btn-arrow {
      z-index: 0;
      position: absolute;
      bottom: -20px;
      left: 0;
      right: 0;
      width: 26px;
      margin-left: auto;
      margin-right: auto;
      color: #edf9fd;
      font-size: 40px;
      transform: translateY(-20px);
      @include transition(transform);
    }

    .icon-grid,
    .icon-table,
    .icon-star,
    .icon-bubble {
      margin-right: 11px;
      color: #1ac2fe;
      @include transition(color);
    }

    .icon-grid,
    .icon-table {
      @include fluid(font-size, 320px, 768px, 16px, 18px);
    }

    .icon-star {
      @include fluid(font-size, 320px, 768px, 21px, 26px);
    }

    .icon-bubble {
      @include fluid(font-size, 320px, 768px, 17px, 19px);
    }

    &.is-active {
      transform: translateX(0) translateY(0);
      @include transition(transform);

      &:hover {
        .icon-btn-arrow {
          transform: translateY(-10px);
          @include transition(transform);
        }
      }

      &:after {
        background-color: #fe23a9;
        @include transition(background-color, clip-path);
      }

      .icon-btn-arrow {
        color: #fe23a9;
        transform: translateY(5px);
        @include transition(transform, color);
      }

      .icon-grid,
      .icon-table,
      .icon-star,
      .icon-bubble,
      span {
        color: $c-white;
        @include transition(color);
      }
    }

    &-wrapper {
      position: absolute;
      display: flex;
      top: -71px;
      left: 0;
      width: 100%;
      height: 77px;
      padding: 24px 11px 0;
    }
  }

  &__block {
    display: flex;
    min-height: 136px;
    margin-bottom: 19px;
    @include adaptive(575) {
      min-height: 0;
    }

    @each $className, $colorVal in
      (0, 'radial-gradient(#ea8d23,#c04d1f)'),
      (1, 'radial-gradient(#c359ff,#701fe5)'),
      (2, 'radial-gradient(#2cc1ff,#215dc2)'),
      (3, 'radial-gradient(#69bb1e,#227622)'),
      (4, 'radial-gradient(#bebebe,#848282)')
    {
      &-#{$className} {
        .latest__block-photo {
          > div {
            background-image: #{$colorVal};
          }
        }
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      padding: 0 25px;
      @include adaptive(575) {
        padding: 0 15px;
      }
    }

    &-left {
      width: 158px;
      @include adaptive(575) {
        width: 128px;
      }
    }

    &-right {
      width: 100%;
      max-width: calc(100% - 158px);
      padding-top: 20px;
      @include adaptive(575) {
        max-width: calc(100% - 128px);
      }
    }

    &-photo {
      cursor: pointer;
      overflow: hidden;
      z-index: 1;
      position: relative;
      top: 0;
      left: 0;
      width: 138px;
      height: 126px;
      background-color: $c-white;
      clip-path: polygon(0 0, 100% 3%, 97% 95%, 5% 100%);
      box-shadow: 0 10px 18px 0 rgba($c-black, 0.08);
      @include adaptive(575) {
        width: 108px;
        height: 106px;
      }

      &:hover {
        img {
          transform: scale(1.1);
          @include transition(transform);
        }
      }

      > div {
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        clip-path: polygon(0 0, 100% 3%, 97% 95%, 5% 100%);
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        @include transition(transform);
      }
    }

    &-header {
      display: flex;
      align-items: center;
      padding-bottom: 12px;
      @include adaptive(575) {
        justify-content: space-between;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 43px;
        height: 33px;
        background-color: #1ac2fe;
        clip-path: polygon(0 5%, 100% 0, 97% 95%, 5% 100%);
        color: $c-white;
        text-transform: uppercase;
        font-size: 14px;
      }
    }

    &-title {
      font-size: 24px;
      padding-right: 5px;
      @include fluid(font-size, 320px, 768px, 19px, 24px);
      @include adaptive(575) {
        width: 100%;
        max-width: calc(100% - 43px);
      }
    }

    &-desc,
    &-data {
      font-family: 'Rajdhani', sans-serif;
    }

    &-desc {
      line-height: 1.2;
      font-weight: 600;
      @include fluid(font-size, 320px, 768px, 14px, 16px);
    }

    &-data {
      @include fluid(font-size, 320px, 768px, 12px, 14px);
    }
  }
}

// SECTION latest :: END