// SECTION emotes skin :: START

.e-skin {
  position: relative;
  top: -31px;

  &__wrapper {
    width: 100%;
    max-width: 680px;
    margin-left: auto;
    padding-top: 43px;
    @include adaptive(767) {
      margin-right: auto;
    }
  }

  &__block {
    display: flex;
    width: 100%;
    max-width: calc((100% - 20px) / 2);
    min-height: 220px;
    margin-bottom: 30px;
    @include adaptive(1199) {
      max-width: 100%;
    }

    &--epic {
      .e-skin__block-image {
        border-color: #b04eec;

        &:before {
          @extend %radialGradientPink;
        }
      }
      .e-skin__block-badge {
        &:before {
          background-color: #b04eec;
          //background-image: linear-gradient( 90deg, rgba(#f642c9, 1) 0%, rgba(#ff00e7, 1) 100%);
        }
      }
    }
    &--uncommon {
      .e-skin__block-image {
        border-color: #8fee3b;

        &:before {
          @extend %radialGradientGreen;
        }
      }
      .e-skin__block-badge {
        &:before {
          background-color: #8fee3b;
          //background-image: linear-gradient( 90deg, rgba(#0bb000, 1) 0%, rgba(#73d102, 1) 100%);
        }
      }
    }
    &--rare {
      .e-skin__block-image {
        border-color: #3ad6ff;

        &:before {
          @extend %radialGradientBlue;
        }
      }
      .e-skin__block-badge {
        &:before {
          background-color: #3ad6ff;
          //background-image: linear-gradient( 90deg, rgba(#1f59ee, 1) 0%, rgba(#4cb8ff, 1) 100%);
        }
      }
    }
    &--legendary {
      .e-skin__block-image {
        border-color: #e38748;

        &:before {
          @extend %radialGradientOrange;
        }
      }
      .e-skin__block-badge {
        &:before {
          background-color: #e38748;
          //background-image: linear-gradient( 90deg, rgba(#1f59ee, 1) 0%, rgba(#4cb8ff, 1) 100%);
        }
      }
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &-left {
      display: flex;
      align-items: center;
      width: 162px;
    }

    &-right {
      position: relative;
      width: 100%;
      max-width: calc(100% - 162px);
      @include adaptive(1199) {
        display: flex;
        align-items: center;
      }

      &:before {
        content: '';
        z-index: 0;
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% + 35px);
        height: 100%;
        background-color: #edf9fd;
        clip-path: polygon(3% 3%, 100% 0, 97% 100%, 0 97%);
      }
    }

    &-image {
      overflow: hidden;
      z-index: 2;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 152px;
      height: 199px;
      border: 4px solid transparent;

      &:before,
      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
      }

      &:after {
        opacity: 0;
        background: radial-gradient(200px at center,hsla(0,0%,100%,.3),hsla(0,0%,100%,.05));
        @include transition(opacity);
      }

      &:hover {
        &:after {
          opacity: 1;
          @include transition(opacity);
        }

        img {
          transform: scale(1.1);
          @include transition(transform);
        }
      }

      img {
        backface-visibility: hidden;
        transform-origin: center;
        display: block;
        max-width: 100%;
        max-height: 100%;
        //width: 100%;
        //height: 100%;
        //object-fit: cover;
        //object-position: center;
        @include transition(transform);
      }
    }

    &-badge {
      position: absolute;
      display: flex;
      align-items: center;
      top: 0;
      left: 0;
      height: 16px;
      padding-left: 5px;
      padding-right: 5px;
      color: $c-white;

      &:before {
        content: '';
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 0, 100% 0, 97% 99%, 0 100%);
      }

      i,
      span {
        z-index: 1;
        position: relative;
      }

      .icon-font {
        font-size: 10px;
      }

      span {
        padding-left: 5px;
        text-transform: uppercase;
        font-size: 11px;
      }
    }

    &-view {
      position: absolute;
      display: flex;
      align-items: center;
      bottom: 0;
      right: 0;
      height: 16px;
      padding-left: 2px;
      padding-right: 2px;
      color: $c-white;

      .icon-font {
        font-size: 11px;
      }

      span {
        padding-left: 2px;
        text-transform: uppercase;
        font-size: 11px;
      }
    }

    &-figure {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;

        &:nth-of-type(1) {
          top: -10px;
          left: 0;
        }
        &:nth-of-type(2) {
          top: -10px;
          right: 0;
        }
        &:nth-of-type(3) {
          bottom: -20px;
          right: 0;
        }
      }
    }

    &-content {
      z-index: 1;
      position: relative;
      @include adaptive(575) {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }

    &-name {
      padding-top: 20px;
      padding-bottom: 10px;
      color: #273c43;
      line-height: 1;
      text-transform: uppercase;
      @include fluid(font-size, 320px, 767px, 19px, 24px);
      @include adaptive(575) {
        padding-top: 10px;
      }
    }

    &-points {
      display: flex;
      align-items: flex-start;
      padding-bottom: 7px;

      img {
        padding-right: 5px;
      }

      span {
        color: #273c43;
        font-family: 'Rajdhani', sans-serif;
      }
    }

    &-desc {
      width: 100%;
      max-width: 153px;
      border-bottom: 1px solid #e3e3e3;
      color: #657782;
      line-height: 1.6;
      font-size: 12px;
      font-family: 'Ubuntu', sans-serif;
      padding-bottom: 7px;
      margin-bottom: 7px;
      @include adaptive(1199) {
        max-width: calc(100% - 15px);
      }
    }

    &-date {
      color: #9eadb7;
      font-size: 11px;
      font-family: 'Ubuntu', sans-serif;
      padding-bottom: 7px;

      a {
        color: #9eadb7;
      }
    }

    &-comments {
      display: flex;
      align-items: center;
      color: #beced8;
      font-size: 11px;
      font-family: 'Ubuntu', sans-serif;
      @include transition(color);

      &:hover {
        color: #b1b1b1;
        @include transition(color);
      }

      .icon-font {
        padding-right: 5px;
        color: #b1b1b1;
        font-size: 10px;
      }
    }
  }
}

// SECTION emotes skin :: END