// SECTION skin gameplay :: START

section.skin.skin--gameplay
  .skin__bg

  .skin__triangle
    img(src="./img/img-b-description-triangle-0.svg" alt="" title="")
    img(src="./img/img-b-description-triangle-1.svg" alt="" title="")
    img(src="./img/img-b-description-triangle-2.svg" alt="" title="")
    img(src="./img/img-b-description-triangle-3.svg" alt="" title="")

  .skin__wrapper

    .skin__gameplay
      .skin__header
        i.icon-font.icon-gameplay
        p!= "Gameplay"

      .skin__body

        .s-leak__preview-body
          .s-leak__preview-video
            video#video-skin-gameplay(poster='./img/img-guides-0.png')
              source(src="./media/video.mp4" type="video/mp4")

            a.s-leak__preview-play(href="#" class="" title="")
              i.icon-font.icon-play-button

// SECTION skin gameplay :: END