// SECTION skin gallery :: START

section.skin.skin--gallery
  .skin__bg

  .skin__triangle
    img(src="./img/img-b-description-triangle-0.svg" alt="" title="")
    img(src="./img/img-b-description-triangle-1.svg" alt="" title="")
    img(src="./img/img-b-description-triangle-2.svg" alt="" title="")
    img(src="./img/img-b-description-triangle-3.svg" alt="" title="")

  .skin__wrapper

    .skin__gallery
      .skin__header
        i.icon-font.icon-polaroid
        p!= "Gallery"

      .skin__body

        .skin__gallery-images
          .skin__gallery-images-left
            div
              img(src="./img/img-skin-gallery.jpg" srcset="./img/img-skin-gallery@2x.jpg 2x" alt="" title="")

          .skin__gallery-images-right
            .skin__gallery-images-top
              .skin__gallery-images-left
                div
                  img(src="./img/img-skin-gallery.jpg" srcset="./img/img-skin-gallery@2x.jpg 2x" alt="" title="")

              .skin__gallery-images-right
                div
                  img(src="./img/img-skin-gallery.jpg" srcset="./img/img-skin-gallery@2x.jpg 2x" alt="" title="")

            .skin__gallery-images-bottom
              .skin__gallery-images-left
                div
                  img(src="./img/img-skin-gallery.jpg" srcset="./img/img-skin-gallery@2x.jpg 2x" alt="" title="")

              .skin__gallery-images-right
                div
                  img(src="./img/img-skin-gallery.jpg" srcset="./img/img-skin-gallery@2x.jpg 2x" alt="" title="")


        .info__subtitle
          p!= "Wallpaper"

        .skin__gallery-wallpaper
          img(src="./img/img-skin-gallery.jpg" srcset="./img/img-skin-gallery@2x.jpg 2x" alt="" title="")

        p.skin__gallery-note!= "If you like to download this wallpaper, please use this <a href='#'>link</a> to get the image in high resolution and without any compression."

// SECTION skin gallery :: END