// SECTION skin styles :: START

section.skin.skin--styles
  .skin__bg

  .skin__triangle
    img(src="./img/img-b-description-triangle-0.svg" alt="" title="")
    img(src="./img/img-b-description-triangle-1.svg" alt="" title="")
    img(src="./img/img-b-description-triangle-2.svg" alt="" title="")
    img(src="./img/img-b-description-triangle-3.svg" alt="" title="")

  .skin__wrapper

    .skin__styles
      .skin__header
        i.icon-png.styles
        p!= "Selectable Styles"

      .skin__body

// SECTION skin styles :: END