// SECTION skin gallery :: START

section.skin.skin--gallery
  .skin__bg

  .skin__triangle
    img(src="./img/img-b-description-triangle-0.svg" alt="" title="")
    img(src="./img/img-b-description-triangle-1.svg" alt="" title="")
    img(src="./img/img-b-description-triangle-2.svg" alt="" title="")
    img(src="./img/img-b-description-triangle-3.svg" alt="" title="")

  .skin__wrapper

    .skin__gallery
      .skin__header
        i.icon-font.icon-polaroid
        p!= "Gallery"

      .skin__body

// SECTION skin gallery :: END