// SECTION skin description :: START

section.skin.skin--description
  .skin__bg

  .skin__triangle
    img(src="./img/img-b-description-triangle-0.svg" alt="" title="")
    img(src="./img/img-b-description-triangle-1.svg" alt="" title="")
    img(src="./img/img-b-description-triangle-2.svg" alt="" title="")
    img(src="./img/img-b-description-triangle-3.svg" alt="" title="")

  .skin__wrapper

    .skin__description
      .skin__header
        i.icon-font.icon-info
        p!= "Description"

      .skin__body

// SECTION skin description :: END