.leaked__middle

  .leaked__middle-bg
    span
    span

  .leaked__middle-triangle
    img(src="./img/img-leaked-triangle-0.svg" alt="" title="")
    img(src="./img/img-leaked-triangle-1.svg" alt="" title="")
    img(src="./img/img-leaked-triangle-2.svg" alt="" title="")
    img(src="./img/img-leaked-triangle-3.svg" alt="" title="")

  .c-grid
    .leaked__wrapper.leaked__wrapper-1
      .leaked__wrapper-left

        .leaked__middle-box
          .leaked__middle-box-bg
            span
            span

          p!= "All of the leaked skins can be found in the source file of Fortnite; we use <span>UE Viewer (Unreal Model Viewer)</span> for datamining through the game files. If one of the cosmetic items has been added in the game and is still on the leaked page, please let us know by adding your comment below."

      .leaked__wrapper-right

        include ../common/_sectionBanner

    .leaked__middle-row

      .leaked__bottom-title.leaked__bottom-title--0
        .leaked__bottom-title-bg
          span
          span

        i.icon-font.icon-menology
        p!= "Upcoming Skins"
