.leaked__top

  .leaked__top-bg(
    data-stellar-background-ratio="0.85"
    parallax-leaked-bg-js
  )

  .c-grid
    .leaked__wrapper.leaked__wrapper-0

      .leaked__top-row.leaked__top-row-0
        h1.leaked__top-title!= "<span>Fortnite</span> Leaked & Upcoming Skins"
        p.leaked__top-text!= "Here is a list of all leaked and upcoming skins that will be added shortly in Fortnite Battle Royale. Some items may be added this week, or in the future, we will have to see what Epic Games will do."

      .leaked__top-row.leaked__top-row-1
        .leaked__middle-title
          p!= "Fortnite Leaked Skins"
