.s-leak__audio

  .s-leak__audio-bg

  .s-leak__audio-triangle
    img(src="./img/img-sleak-triangle-ipa-0.svg" alt="" title="")
    img(src="./img/img-sleak-triangle-ipa-1.svg" alt="" title="")
    img(src="./img/img-sleak-triangle-ipa-2.svg" alt="" title="")

  .s-leak__audio-wrapper

    .s-leak__audio-head

      .s-leak__title
        i.icon-font.icon-sound2
        h2!= "Audio"

    .s-leak__audio-body

      .s-leak__empty

        .s-leak__empty-wrapper
          .s-leak__empty-head

            i.icon-font.icon-alert

          .s-leak__empty-body
            .s-leak__empty-bg
            .s-leak__empty-triangle
              img(src="./img/img-sleak-empty-triangle-0.svg" alt="" title="")
              img(src="./img/img-sleak-empty-triangle-1.svg" alt="" title="")
              img(src="./img/img-sleak-empty-triangle-2.svg" alt="" title="")

            p!= "Audio is currently not available for this item."
