.s-leak__preview

  .s-leak__preview-bg

  .s-leak__preview-triangle
    img(src="./img/img-sleak-triangle-ipa-0.svg" alt="" title="")
    img(src="./img/img-sleak-triangle-ipa-1.svg" alt="" title="")
    img(src="./img/img-sleak-triangle-ipa-2.svg" alt="" title="")

  .s-leak__preview-wrapper

    .s-leak__preview-head

      .s-leak__title
        i.icon-font.icon-box-closed
        h2!= "3D Preview"

    .s-leak__preview-body

      .s-leak__preview-video
        iframe(width="100%" height="386" src="https://sketchfab.com/models/173b82b226a64a68bdd2528810bab2ce/embed" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true")
