.s-leak__preview.s-leak__preview--empty

  .s-leak__preview-bg

  .s-leak__preview-triangle
    img(src="./img/img-sleak-triangle-ipa-0.svg" alt="" title="")
    img(src="./img/img-sleak-triangle-ipa-1.svg" alt="" title="")
    img(src="./img/img-sleak-triangle-ipa-2.svg" alt="" title="")

  .s-leak__preview-wrapper

    .s-leak__preview-head

      .s-leak__title
        i.icon-font.icon-box-closed
        h2!= "3D Preview"

    .s-leak__preview-body

      .s-leak__empty

        .s-leak__empty-wrapper
          .s-leak__empty-head

            i.icon-font.icon-alert

          .s-leak__empty-body
            .s-leak__empty-bg
            .s-leak__empty-triangle
              img(src="./img/img-sleak-empty-triangle-0.svg" alt="" title="")
              img(src="./img/img-sleak-empty-triangle-1.svg" alt="" title="")
              img(src="./img/img-sleak-empty-triangle-2.svg" alt="" title="")

            p!= "3D Preview is currently not available for this item."

