.s-leak__note

  .s-leak__note-bg
    span
    span

  .s-leak__note-triangle
    img(src="./img/img-sleak-note-triangle-0.svg" alt="" title="")
    img(src="./img/img-sleak-note-triangle-1.svg" alt="" title="")
    img(src="./img/img-sleak-note-triangle-2.svg" alt="" title="")
    img(src="./img/img-sleak-note-triangle-3.svg" alt="" title="")

  .s-leak__note-wrapper

    .s-leak__note-head
      i.icon-font.icon-info
      h2!= "Note!"

    .s-leak__note-body
      p!= "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost."

    .s-leak__note-footer
      a.c-btn.c-btn--bg(href="#" class="" title="")!= "Go to the Skin Page <i class='icon-font icon-arr-dcc'></i>"