.rewards__title-text
  svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x='0' y='0' width="718" height="104")
    defs
      mask(id="title-rewards-mask" x="0" y="0" width="708px" height="94px")
        rect(x="0" y="0" width="708px" height="94px")
        text(kerning="auto" x='50%' y='50%' alignment-baseline="middle" text-anchor='middle' font-size="100px" font-family="Anton")
          tspan(fill="#fff" alignment-baseline="middle" text-anchor='middle')!= "Fortnite"
          tspan(fill='#ffd600' alignment-baseline="middle" text-anchor='middle')!= "Season 3"

      filter(id="title-rewards-shadow" x="0" y="0" width="708px" height="94px")
        feOffset(result="offOut" in="SourceGraphic" dx='0' dy="3")
        feGaussianBlur(result="blurOut" in="offOut" stdDeviation="0" flood-color="#000")
        feBlend(in="SourceGraphic" in2="blurOut" mode="normal")
        feComponentTransfer
          feFuncA(type="linear" slope="0.2")
        feMerge
          feMergeNode
          feMergeNode(in="SourceGraphic")

    text(filter="url(#title-rewards-shadow)" kerning="auto" x='50%' y='50%' alignment-baseline="middle" text-anchor='middle' font-size="100px" font-family="Anton")
      tspan(fill="#fff" alignment-baseline="middle" text-anchor='middle')!= "Fortnite"
      tspan(fill='#ffd600' alignment-baseline="middle" text-anchor='middle')!= "Season 3"
    path(style='mask: url("#title-rewards-mask");' fill-opacity='0.08' fill-rule='evenodd' d="M11,34l-6,57,54-4,143,2,63-19,219,18,136-24,67,17,35-4,5,52L380,419Z")