// SECTION rewards :: START

section#rewards.rewards

  .rewards__bg
    .rewards__bg-bottom

  .c-grid
    .rewards__wrapper

      .rewards__title
        .rewards__title-triangle
          img(src="./img/img-rewards-title-triangle-0.svg" alt="" title="")
          img(src="./img/img-rewards-title-triangle-1.svg" alt="" title="")

          include ./_mainTitle

      .rewards__subtitle
        .rewards__subtitle-triangle
          img(src="./img/img-rewards-subtitle-triangle-0.svg" alt="" title="")
          img(src="./img/img-rewards-subtitle-triangle-1.svg" alt="" title="")
          img(src="./img/img-rewards-subtitle-triangle-2.svg" alt="" title="")
          img(src="./img/img-rewards-subtitle-triangle-3.svg" alt="" title="")

        h1!= "Battle Pass Rewards"
        p!= "All rewards from Fortnite: Season 3 "

// SECTION rewards :: END