// SECTION history :: START

#history {
  width: 100%;
  max-width: 711px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  @include adaptive(991) {
    max-width: 100%;
  }

  .p-history & {
    max-width: 100%;
  }
}

.history {
  position: relative;

  // top
  &__top {
    z-index: 1;
    position: relative;
    min-height: 325px;

    &-bg {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #5a1e74;
      background-image: url('../img/img-history-main.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

    &-title {
      position: absolute;
      display: flex;
      align-items: center;
      bottom: -102px;
      left: 0;
      width: 100%;
      max-width: 654px;
      min-height: 102px;
      padding-left: 16px;
      background-color: #fe23a9;
      clip-path: polygon(0 3%, 96% 0, 100% 98%, 0 100%);
      color: $c-white;
      line-height: 1;
      text-transform: uppercase;
      @include fluid(font-size, 320px, 1439px, 26px, 36px);

      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #dd128e;
        clip-path: polygon(0 100%, 65% 70%, 100% 0, 100% 100%, 0 100%);
      }
    }
  }
  // top :: end

  // bottom
  &__bottom {
    z-index: 0;
    position: relative;
    top: -50px;
    min-height: 364px;

    &-bg,
    &-triangle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &-bg {
      z-index: -1;
      background-image: linear-gradient( 41deg, rgba(#ff6a4c, 1) 0%, rgba(#da543a, 1) 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fe7653;

        &:nth-of-type(1) {
          clip-path: polygon(0 0, 10% 0, 35% 35%, 0 20%);
        }
        &:nth-of-type(2) {
          clip-path: polygon(45% 0, 75% 0, 76% 5%, 70% 55%, 60% 30%, 38% 25%, 45% 0);
        }
        &:nth-of-type(3) {
          clip-path: polygon(70% 60%, 100% 15%, 100% 90%, 95% 95%, 70% 60%);
        }
      }
    }

    &-triangle {
      z-index: 0;

      img {
        position: absolute;

        &:nth-of-type(1) {
          left: 0;
          bottom: 40px;
        }
        &:nth-of-type(2) {
          left: 42%;
          bottom: 0;
        }
        &:nth-of-type(3) {
          right: 15%;
          bottom: -5%;
        }
        &:nth-of-type(4) {
          right: 0;
          bottom: -7%;
        }
      }
    }

    .c-grid {
      max-width: 1260px;
    }
  }
  // bottom :: end

  &__wrapper {
    z-index: 2;
    position: relative;

    &-0 {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
      @include fluid(padding-top, 320px, 1439px, 30px, 60px);
    }

    &-1 {
      display: flex;
      padding-top: 75px;
      @include adaptive(767) {
        flex-wrap: wrap;
      }

      .history__wrapper-left {
        width: 100%;
        max-width: calc(100% - 370px);
        padding-right: 15px;
        @include adaptive(767) {
          max-width: 100%;
        }
      }

      .history__wrapper-right {
        width: 370px;
        padding-bottom: 75px;
        @include adaptive(767) {
          display: none;
        }
      }
    }
  }

  &__title,
  &__text {
    color: $c-white;
    text-align: center;
  }

  &__title {
    padding-bottom: 20px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 100px;
    @include fluid(font-size, 320px, 1439px, 55px, 100px);
  }

  &__text {
    width: 100%;
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    @include fluid(font-size, 320px, 1439px, 16px, 20px);
  }

  &__content {
    position: relative;
    max-width: 805px;
    min-height: 248px;
    padding: 47px 54px;
    @include adaptive(991) {
      padding: 37px 44px;
    }
    @include adaptive(575) {
      padding-top: 77px;
    }

    &-bg {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &:nth-of-type(1) {
          top: 10px;
          background-color: #e65a3e;
          clip-path: polygon(0 0, 100% 3%, 97% 98%, 2% 100%);
        }

        &:nth-of-type(2) {
          left: 15px;
          background-color: #fc8646;
          clip-path: polygon(0 0, 100% 3%, 97% 98%, 2% 100%);

          &:before {
            content: '';
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #e87a3e;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 35% 65%, 0 0);
          }
        }
      }
    }

    &-triangle {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;

        &:nth-of-type(1) {}
        &:nth-of-type(2) {}
      }
    }

    &-text {
      color: $c-white;
      font-size: 18px;
      font-family: 'Ubuntu', sans-serif;
      @include fluid(font-size, 320px, 767px, 14px, 18px);

      &-0 {
        padding-bottom: 30px;
        font-weight: 500;
      }

      span {
        color: #ffff00;
      }
    }
  }

  &__subtitle {
    position: relative;
    top: -15px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 453px;
    height: 83px;
    margin-left: 50px;
    padding-left: 29px;
    background-color: #2a2a2a;
    clip-path: polygon(0 3%, 100% 0, 96% 97%, 3% 100%);
    @include adaptive(575) {
      margin-left: auto;
    }

    &:before {
      content: '';
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #313131;
      clip-path: polygon(0 100%, 75% 70%, 100% 0, 100% 100%, 0 100%);
    }

    p {
      z-index: 2;
      position: relative;
      color: $c-white;
      font-size: 18px;
      font-weight: 500;
      font-family: 'Ubuntu', sans-serif;
      
      a {
        color: #ffff00;
      }
    }
  }
}

// SECTION history :: END