.sets__title
  svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x='0' y='0' width="536px" height="99px")
    defs
      mask(id="title-sets-0-mask" x="0" y="0" width="526px" height="89px")
        rect(x="0" y="0" width="526px" height="89px")
        text(kerning="auto" x='50%' y='50%' alignment-baseline="middle" text-anchor='middle' font-size="100px" font-family="Anton" )
          tspan(fill="#FFFFFF" alignment-baseline="middle" text-anchor='middle')!= "FORTNITE"
          tspan(fill="#FFFF00" alignment-baseline="middle" text-anchor='middle')!= "SETS"

    text(kerning="auto" x='50%' y='50%' alignment-baseline="middle" text-anchor='middle' font-size="100px" font-family="Anton" )
      tspan(fill="#FFFFFF" alignment-baseline="middle" text-anchor='middle')!= "FORTNITE"
      tspan(fill="#FFFF00" alignment-baseline="middle" text-anchor='middle')!= "SETS"
    path(style='mask: url("#title-sets-0-mask");' fill-rule="evenodd"  opacity="0.678" fill="rgb(255, 210, 0)" d="M613.000,-46.001 L538.362,56.808 L425.977,21.639 L375.678,48.336 L308.341,-7.484 L613.000,-16.001 Z")
