// SECTION skin :: START

#skin {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 696px;
  margin-left: auto;
  @include adaptive(1199) {
    max-width: 100%;
  }
  @include adaptive(767) {
    overflow: hidden;
  }
}

.skin {
  // common
  &--description,
  &--gameplay,
  &--gallery,
  &--styles,
  &--images,
  &--history {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;

    .skin {
      &__bg,
      &__triangle {
        position: absolute;
        left: 0;
        width: 100%;
      }

      &__bg {
        z-index: -1;
        top: 42px;
        height: calc(100% - 42px);
        background-color: #edf9fd;
        clip-path: polygon(0 2%, 100% 0, 99% 99.75%, 1% 100%);
      }

      &__triangle {
        z-index: auto;
        top: 0;
        height: 100%;

        img {
          position: absolute;

          &:nth-child(1) {
            bottom: -35px;
            left: 4%;
            @include adaptive(575) {
              display: none;
            }
          }
          &:nth-child(2) {
            bottom: -10px;
            left: 20%;
          }
          &:nth-child(3) {
            bottom: -15px;
            right: 20%;
          }
          &:nth-child(4) {
            bottom: -30px;
            right: 3%;
            @include adaptive(575) {
              display: none;
            }
          }
        }
      }

      &__wrapper {
        z-index: 2;
        position: relative;
        width: 100%;
        min-height: 300px;
      }

      &__header {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        max-width: 90%;
        min-height: 97px;
        padding-left: 20px;
        clip-path: polygon(0 0, 100% 7%, 97% 96%, 2% 100%);

        &:before {
          content: '';
          z-index: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          clip-path: polygon(0 100%, 80% 75%, 100% 0, 100% 100%);
        }

        i,
        h2 {
          color: $c-white;
        }

        .icon {
          &-info {
            font-size: 36px;
          }
          &-gameplay {
            font-size: 45px;
          }
          &-polaroid {
            font-size: 50px;
          }
        }

        h2 {
          padding-left: 15px;
          line-height: 1;
          text-transform: uppercase;
          @include fluid(font-size, 320px, 767px, 25px, 48px);
        }
      }
    }
  }
  // common :: end

  // main
  &--main {
    position: relative;
    padding-top: 30px;
    padding-bottom: 75px;

    .section {
      &-resize {
        &--0 {
          z-index: 1;
          height: 209px;

          .section-resize {
            &-bg {
              background-color: #2a2a2a;
              clip-path: polygon(0 0, 95% 10%, 97% 90%, 0 100%);

              &:before {
                content: '';
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #313131;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
              }
            }

            &-triangle {
              img {
                top: 2%;
                right: 3%;
              }
            }
          }
        }
        &--1 {
          z-index: 0;
          top: 100px;
          height: calc(100% - 100px);

          .section-resize {
            &-bg {
              background-color: #dd952f;
              clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);

              &:before,
              &:after {
                content: '';
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #e3a837;
              }

              &:before {
                clip-path: polygon(0 0, 40% 0, 70% 45%, 0 20%);
              }

              &:after {
                clip-path: polygon(100% 0, 100% 35%, 40% 65%, 100% 0);
              }

              span {
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #e4ac3c;
                clip-path: polygon(100% 50%, 100% 95%, 65% 70%, 95% 65%, 100% 50%);
              }
            }

            &-triangle {
              img {
                &:nth-of-type(1) {
                  top: 5%;
                  right: -20px;
                }
                &:nth-of-type(2) {
                  left: 20%;
                  bottom: -15px;
                }
                &:nth-of-type(3) {
                  right: 10%;
                  bottom: 0;
                }
              }
            }
          }
        }
      }
    }

    .skin {
      &__wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;

        &-0 {
          margin-bottom: 25px;
        }
        &-1 {}
      }

      &__body {
        padding-right: 20px;
      }
    }
  }
  &__main {
    &-header {
      display: flex;
      @include adaptive(575) {
        flex-wrap: wrap;
      }

      &-left {
        z-index: 2;
        position: relative;
        width: 198px;
        @include adaptive(575) {
          margin-left: auto;
          margin-right: auto;
        }

        .b-skin {
          width: 100%;
          height: 200px;
        }
      }

      &-right {
        z-index: 1;
        position: relative;
        width: 100%;
        max-width: calc(100% - 198px);
        @include adaptive(575) {
          max-width: 100%;
        }
      }

      &-title {
        z-index: 2;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 20px;
        left: -15px;
        width: calc(100% + 15px);
        min-height: 96px;
        padding-left: 32px;
        @include adaptive(575) {
          min-height: 76px;
        }

        > span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #3f6c7c;
          clip-path: polygon(0 0, 100% 1%, 96% 100%, 0 100%);

          &:before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #34606f;
            clip-path: polygon(0 100%, 70% 55%, 100% 0, 100% 100%);
          }
        }

        h1 {
          z-index: 2;
          position: relative;
          color: $c-white;
          line-height: 1;
          text-transform: uppercase;
          @include fluid(font-size, 320px, 991px, 30px, 48px);
        }
      }

      &-like {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -5px;
        width: 162px;
        min-height: 93px;
        @include adaptive(575) {
          min-height: 73px;
        }

        &-bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &:nth-of-type(1) {
              top: 10px;
              left: 5px;
              background-color: #2ab3e4;
              clip-path: polygon(0 0, 100% 1%, 96% 100%, 0 100%);
            }
            &:nth-of-type(2) {
              background-color: #35b8e7;
              clip-path: polygon(0 0, 100% 1%, 96% 100%, 0 100%);

              &:before {
                content: '';
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #5fd5ff;
                clip-path: polygon(0 100%, 80% 65%, 100% 0, 100% 100%);
              }
            }
          }
        }

        > a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50%;
          height: 100%;
          color: $c-white;
          font-size: 18px;
          font-weight: bold;
          font-family: 'Ubuntu', sans-serif;
          @include adaptive(575) {
            font-size: 14px;
          }

          .icon {
            &-font {
              position: relative;
              font-size: 16px;
              @include adaptive(575) {
                font-size: 14px;
              }
            }
            &-like {
              top: -3px;
            }
            &-dislike {
              bottom: -2px;
            }
          }

          span {
            z-index: 2;
            position: relative;
            color: $c-white;
            padding-left: 3px;
          }
        }
      }

      &-info {
        z-index: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: calc(100% + 20px);
        min-height: 89px;
        padding: 25px 15px 5px 5px;
        background-color: #fcdb90;
        clip-path: polygon(0 0, 100% 1%, 96% 100%, 0 100%);
        @include adaptive(575) {
          flex-wrap: wrap;
          padding-top: 35px;
          padding-bottom: 10px;
        }

        &:before {
          content: '';
          z-index: -1;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #f4d180;
          clip-path: polygon(0 100%, 80% 75%, 100% 0, 100% 100%);
        }

        p {
          color: #273c43;
          font-family: 'Ubuntu', sans-serif;

          span,
          a {
            color: #273c43;
          }
        }

        > a {
          &:nth-of-type(1) {
            display: flex;
            align-items: center;
            color: #273c43;
            font-family: 'Ubuntu', sans-serif;

            .icon-font {
              margin-right: 5px;
            }
          }
          &:nth-of-type(2) {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 99px;
            height: 33px;
            color: $c-white;
            line-height: 1;
            text-transform: uppercase;
            background-color: #e9af35;
            clip-path: polygon(0 0, 100% 1%, 97% 100%, 0 100%);
            @include fluid(font-size, 320px, 991px, 14px, 18px);
            @include adaptive(575) {
              margin-top: 10px;
            }

            &:before {
              content: '';
              z-index: -1;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: #db9e1c;
              clip-path: polygon(0 100%, 80% 75%, 100% 0, 100% 100%);
            }
          }
        }
      }
    }

    &-image {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: calc(100% - 20px);
      min-height: 612px;
      //padding: 15px;
      border: 5px solid $c-white;
      box-shadow: 0 2px 10px 2px rgba($c-black, 0.15);
      @extend %radialGradientOrange;
      @include adaptive(767) {
        min-height: 0;
      }
      @include adaptive(575) {
        max-width: 100%;
      }

      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 15px;
        left: 8px;
        width: 100%;
        height: 100%;
        background-color: #d68000;
      }

      img {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      &-fullscreen {
        z-index: 1;
        position: absolute;
        right: 15px;
        bottom: 15px;

        &:hover {
          .icon-font {
            opacity: 1;
            @include transition(opacity);
          }
        }

        .icon-font {
          opacity: 0.72;
          color: $c-white;
          font-size: 31px;
          @include transition(opacity);
        }
      }

      &-area {
        display: flex;
        position: absolute;
        top: 35px;
        left: 50%;
        transform: translateX(-50%);
        width: 109px;
        height: 100px;

        > span {
          z-index: 2;
          cursor: pointer;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: -10px;
          right: -5px;
          width: 32px;
          height: 34px;
          background-color: #2a2a2a;
          clip-path: polygon(0 0, 100% 10%, 96% 95%, 0 100%);

          .icon-font {
            color: $c-white;
            font-size: 22px;
          }
        }

        .c-form {
          z-index: -1;
          position: absolute;
          top: calc(100% - 10px);
          left: calc(100% - 10px);
          width: 282px;
          min-height: 229px;
          padding: 16px 25px 15px 14px;
          background-color: rgba(#313131, 0.9);
          clip-path: polygon(0 3%, 100% 0, 97% 100%, 1% 96%);
          @include adaptive(767) {
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
          }
          @include adaptive(575) {
            left: -85px;
          }

          > div {
            &:nth-of-type(1) {
              padding-bottom: 13px;
            }
            &:nth-of-type(2) {}
            &:nth-of-type(3) {
              display: flex;
              justify-content: flex-end;
              padding-top: 13px;
            }
          }

          &__field {
            margin-bottom: 0;
          }

          &__input-wrapper {
            height: 47px;
          }

          &__textarea-wrapper {
            height: 87px;
          }
        }
      }
    }
  }
  // main :: end

  // description
  &--description {
    .skin {
      &__header {
        background-color: #ffd600;

        &:before {
          background-color: #f0ca07;
        }
      }

      &__body {
        display: flex;
        flex-direction: column;
        padding: 25px 20px 65px;
      }
    }
  }
  &__description {

    &-subtitle {
      @each $classMod, $c1, $c2 in
          (0, #fe23a9, #e81797),
          (1, #057298, #0183b1),
          (2, #ef6013, #dd570f),
          (3, #ffb45d, #eea341),
          (4, #36caff, #1ac2fe),
          (5, #0183b1, #047ca7)
      {
        &-#{$classMod} {
          .info__subtitle {
            background-color: $c1;

            &:before,
            &:after {
              background-color: $c2;
            }

            p {
              padding-left: 14px;
              text-transform: uppercase;
            }
          }
        }
      }

      .icon {
        &-font {
          z-index: 2;
          position: relative;
          color: $c-white;
        }
        &-atom {
          font-size: 38px;
        }
        &-reach {
          font-size: 31px;
        }
        &-tools {
          font-size: 31px;
        }
        &-sets {
          font-size: 42px;
        }
      }
    }

    &-content {

      &-2,
      &-4 {
        .skin__description-desc {
          padding-left: 20px;
        }
      }
    }

    &-block {
      position: relative;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      border: 4px solid $c-white;
      box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.08);
      background: radial-gradient(ellipse at center, rgba(0,3,51,1) 0%, rgba(0,0,0,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000333',GradientType=1 );
      @include adaptive(767) {
        width: 100%;
        max-width: 621px;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
      }

      > div {
        margin-left: auto;
        margin-right: auto;
      }

      .twentytwenty-handle {
        cursor: ew-resize;
        top: 0;
        width: 9px;
        height: 100%;
        background-color: #b70e0e;
        margin: 0;
        border: none;
        border-radius: 0;

        &:before,
        &:after {
          display: none;
        }

        span {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          top: 50%;
          left: 0;
          transform: translateX(-13px) translateY(-50%);
          width: 25px;
          height: 76px;
          margin-left: 0;
          background-color: #ffffff;
          clip-path: polygon(0 0, 100% 15%, 94% 90%, 8% 100%);

          &:before,
          &:after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-49%);
            width: 13px;
            height: 6px;
            background-color: #83b4c4;
          }

          &:before {
            top: 38%;
          }

          &:after {
            bottom: 38%;
          }

          &:nth-of-type(2) {
            display: none;
          }
        }
      }

      &-btn {
        position: absolute;
        z-index: 50;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 39px;
        width: 100%;
        max-width: 58px;
        height: 36px;
        color: $c-white;
        line-height: 1;
        text-transform: uppercase;
        font-size: 18px;
        clip-path: polygon(0 5%, 97% 0, 100% 100%, 0 95%);
        @include transition(color);

        &:hover {
          color: $c-white;
          @include transition(color);

          &:before {
            clip-path: polygon(0 5%, 97% 0, 100% 100%, 0 95%);
            @include transition(clip-path);
          }
        }

        &:before {
          content: '';
          z-index: -1;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          clip-path: polygon(0 100%, 20% 35%, 100% 0, 100% 100%);
          @include transition(clip-path);
        }

        &--on {
          left: 5px;
          background-color: #ffd600;

          &:before {
            background-color: #f0ca07;
          }
        }

        &--off {
          right: 5px;
          background-color: #057298;

          &:before {
            background-color: #046181;
          }
        }
      }
    }

    &-info {
      min-height: 213px;
      margin-bottom: 20px;
      padding: 17px 13px 13px 7px;
      background-color: #acdaea;
      clip-path: polygon(0 0, 100% 1%, 98% 100%, 2% 97%);

      &-title {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 52px;
        margin-bottom: 9px;
        background-color: #e1f7ff;
        clip-path: polygon(0 5%, 100% 0, 99% 100%, 0.5% 95%);

        > span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          &:before,
          &:after {
            content: '';
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #c4e7f3;
          }

          &:before {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 30%);
          }

          &:after {
            clip-path: polygon(0 100%, 5% 50%, 9% 85%, 100% 100%);
          }
        }

        h3 {
          z-index: 2;
          position: relative;
          padding-left: 10px;
          color: #273c43;
          font-size: 24px;
          text-transform: uppercase;
        }
      }

      &-desc {
        display: flex;
        align-items: center;
        min-height: 43px;
        padding: 5px 15px 5px 30px;
        margin-bottom: 2px;
        background-color: #5c9ab0;
        @include adaptive(575) {
          flex-wrap: wrap;
        }

        &:nth-of-type(1) {
          clip-path: polygon(0 0, 99% 2%, 100% 100%, 0.5% 97%);
        }
        &:nth-of-type(2) {
          clip-path: polygon(1% 0, 100% 0, 99% 100%, 1.5% 97%);
        }
        &:nth-of-type(3) {
          clip-path: polygon(2% 0, 98% 2%, 99% 100%, 1.5% 97%);
        }

        span {
          padding-right: 5px;
          color: #90cee4;
          line-height: 1;
          font-size: 18px;
          text-transform: uppercase;
        }

        p {
          color: $c-white;
          font-size: 16px;
          font-family: 'Ubuntu', sans-serif;
          @include adaptive(575) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }

    &-skin {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &-col {
        display: flex;
        align-items: flex-start;
        width: 50%;
        max-width: calc((100% - 14px) / 2);
        padding-bottom: 14px;
        @include adaptive(767) {
          width: 100%;
          max-width: 100%;
        }
        @include adaptive(374) {
          flex-wrap: wrap;
        }
      }

      &-left {
        width: 153px;
        @include adaptive(575) {
          width: 143px;
        }
        @include adaptive(375) {
          margin-left: auto;
          margin-right: auto;
        }

        .b-skin {
          width: 100%;
          height: 120px;
        }
      }

      &-right {
        width: 100%;
        max-width: calc(100% - 153px);
        padding-left: 14px;
        @include adaptive(575) {
          max-width: calc(100% - 143px);
        }
        @include adaptive(374) {
          max-width: 100%;
          text-align: center;
          padding-left: 0;
          padding-top: 5px;
        }

        h4 {
          color: #273c43;
          font-size: 18px;
          text-transform: uppercase;
        }

        p,
        span {
          font-family: 'Ubuntu', sans-serif;
        }

        span {
          display: block;
          padding-bottom: 10px;
          color: #9eadb7;
        }

        p {
          color: #657782;
          font-size: 12px;
        }
      }
    }

    &-btn {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
    }

    &-desc,
    &-note {
      color: #273c43;
      font-family: 'Ubuntu', sans-serif;
    }

    &-desc {
      padding-bottom: 22px;
      font-size: 18px;
      font-weight: 500;

      &--color {
        color: #ff7738;
      }
    }

    &-note {
      padding-left: 20px;
      padding-bottom: 20px;
      line-height: 1.6;
      font-size: 16px;

      span {
        font-weight: bold;
      }
    }
  }
  // description :: end

  // gameplay
  &--gameplay {
    .skin__header {
      background-color: #36caff;

      &:before {
        background-color: #1ac2fe;
      }
    }
  }
  // gameplay :: end

  // gallery
  &--gallery {
    .skin {
      &__header {
        background-color: #ff7236;

        &:before {
          background-color: #dc602c;
        }
      }

      &__body {
        display: flex;
        flex-direction: column;
        padding: 25px 20px 65px;
      }
    }
  }
  &__gallery {
    .info__subtitle {
      text-transform: uppercase;
    }

    &-images {
      display: flex;
      justify-content: space-between;
      min-height: 342px;
      margin-bottom: 20px;
      @include adaptive(575) {
        flex-wrap: wrap;
      }

      &-left,
      &-right {
        width: 100%;
        max-width: calc((100% - 20px) / 2);
        @include adaptive(575) {
          max-width: 100%;
        }
      }

      &-left {
        > div {
          position: relative;
          width: 100%;
          height: 100%;
          border: 4px solid $c-white;
          background-color: $c-white;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            @include adaptive(575) {
              position: relative;
            }
          }
        }
      }

      &-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .skin__gallery-images-top,
        .skin__gallery-images-bottom {
          height: calc((342px - 10px) / 2);
        }

        .skin__gallery-images-left,
        .skin__gallery-images-right {
          max-width: calc((100% - 10px) / 2);

          > div {
            position: relative;
            width: 100%;
            height: 100%;
            border: 4px solid $c-white;
            background-color: $c-white;

            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }
      }

      &-top {
        display: flex;
        justify-content: space-between;
      }

      &-bottom {
        display: flex;
        justify-content: space-between;
      }
    }

    &-wallpaper {
      position: relative;
      min-height: 357px;
      margin-bottom: 20px;
      border: 4px solid $c-white;
      background-color: $c-white;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-note {
      color: #273c43;
      line-height: 1.6;
      font-size: 16px;
      font-family: 'Ubuntu', sans-serif;

      a {
        color: #ff7236;
      }
    }
  }
  // gallery :: end

  // styles
  &--styles {
    .skin {
      &__header {
        background-color: #518da4;

        &:before {
          background-color: #45839a;
        }
      }

      &__body {
        display: flex;
        flex-direction: column;
        padding: 25px 20px 65px;
      }
    }
  }
  &__styles {
    .info__subtitle {
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    &-text {
      padding-bottom: 20px;
      color: #273c43;
      font-size: 16px;
      font-family: 'Ubuntu', sans-serif;
    }

    &-desc {
      display: flex;
      align-items: flex-start;
      padding-bottom: 24px;
      @include adaptive(575) {
        flex-wrap: wrap;
      }

      &-left {
        z-index: 1;
        position: relative;
        width: 209px;
        @include adaptive(575) {
          width: 100%;
        }

        .b-skin {
          width: 100%;
          height: 212px;
          @include adaptive(575) {
            width: 200px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      &-right {
        z-index: 0;
        position: relative;
        width: 100%;
        max-width: calc(100% - 209px);
        @include adaptive(575) {
          max-width: 100%;
        }
      }

      &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 118px;
        transform: translateX(-20px);
        padding: 5px 27px 25px 36px;
        background-color: #273f48;
        clip-path: polygon(0 5%, 98% 0, 100% 100%, 0 100%);

        p {
          color: $c-white;
          line-height: 1;
          text-transform: uppercase;
          @include fluid(font-size, 320px, 991px, 30px, 36px);
        }
      }

      &-btn {
        display: flex;
        align-items: center;
        @include adaptive(767) {
          flex-direction: column;
        }

        &--orange {
          color: #ff9839;

          &:hover {
            color: #ff9839;
          }
        }
        &--black {
          color: #282e42;

          &:hover {
            color: #282e42;
          }
        }

        a {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 99px;
          height: 41px;
          background-color: $c-white;
          clip-path: polygon(0 0, 100% 2%, 98% 98%, 1% 100%);
          text-transform: uppercase;

          &:last-of-type {
            margin-left: 9px;
            @include adaptive(767) {
              margin-top: 5px;
            }
          }

          &:before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #eef0f7;
            clip-path: polygon(0 100%, 70% 55%, 100% 0, 100% 100%);
          }
        }
      }

      &-info {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 36px;
        min-height: 126px;
        width: calc(100% + 20px);
        transform: translate(-20px, -25px);
        background-color: #1f2f35;
        clip-path: polygon(0 2%, 100% 0, 95% 99%, 0 100%);

        &:before {
          content: '';
          z-index: -1;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #152024;
          clip-path: polygon(0 100%, 70% 55%, 100% 0, 100% 100%);
        }

        p,
        i {
          padding-bottom: 14px;
          color: $c-white;
          font-size: 16px;
          font-family: 'Ubuntu', sans-serif;
          @include adaptive(767) {
            font-size: 14px;
          }
        }

        p {}

        i {
          font-style: italic;
        }
      }
    }

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      @include adaptive(767) {
        flex-wrap: wrap;
      }

      &-0 {
        margin-bottom: 20px;
      }

      .b-skin {
        width: 94px;
        height: 94px;
        margin: 0 1px;
        box-shadow: none;
        border-width: 4px;
        border-color: #e9f2ff;
      }
    }
  }
  // styles :: end

  // images
  &--images {
    .skin {
      &__header {
        background-color: #36caff;

        &:before {
          background-color: #1ac2fe;
        }
      }

      &__body {
        padding: 35px 20px;
      }
    }

    .s-leak__image-row {
      margin-bottom: 35px;
    }
  }
  &__images {
    .s-leak__image-block {
      @include adaptive(1199) {
        width: calc((100% - 66px) / 3);
      }
      @include adaptive(575) {
        width: 100%;

        > div {
          width: 100%;
          max-width: 100%;
        }
      }
      @include adaptive(374) {
        width: 100%;
      }
    }

    &-text {
      padding-bottom: 35px;
      color: #273c43;
      line-height: 1.6;
      font-size: 16px;
      font-family: 'Ubuntu', sans-serif;

      a {
        color: $c-black;
        font-weight: bold;
      }
    }
  }
  // images :: end

  // history
  &--history {
    .skin {
      &__header {
        background-color: #ffb45d;

        &:before {
          background-color: #eea341;
        }
      }

      &__body {
        padding: 24px 20px 38px;
      }
    }
  }
  &__history {
    &-row {
      &-0 {}

      &-1 {
        padding-bottom: 34px;
      }

      &-2 {
        display: flex;
        flex-direction: column;
        //align-items: center;
        //justify-content: space-between;
        @include adaptive(575) {
          flex-wrap: wrap;
        }
      }

      &-3 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 34px;
      }
    }

    &-text {
      padding-bottom: 24px;
      color: #273c43;
      line-height: 1.6;
      font-weight: 500;
      font-family: 'Ubuntu', sans-serif;
    }

    &-note {
      position: relative;
      min-height: 66px;
      padding: 19px 24px 13px 14px;
      background-color: #d0e9f1;
      clip-path: polygon(0 5%, 100% 0, 97% 98%, 1% 100%);

      p {
        color: #273c43;
        line-height: 1.6;
        font-weight: 500;
        font-family: 'Ubuntu', sans-serif;

        span {
          font-weight: bold;
        }
      }
    }

    &-col {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > div {
        width: 100%;
        max-width: calc(100% / 3);
        padding: 7px;
      }

      &:nth-of-type(1) {
        > div {
          @include adaptive(575) {
            max-width: 100%;
          }
        }
      }

      &:nth-of-type(2) {
        > div {
          @include adaptive(575) {
            max-width: 50%;
          }
        }
      }

      p {
        padding-bottom: 7px;
        color: #273c43;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
      }
    }

    &-block {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 100%;
      min-height: 45px;
      padding: 5px;
      clip-path: polygon(0 0, 100% 5%, 97% 98%, 1% 100%);

      &:before {
        content: '';
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 100%, 55% 70%, 100% 0, 100% 100%);
      }

      &:hover {
        span {
          color: initial;
          @include transition(color);
        }
      }

      &-0 {
        background-color: #fcdb90;
        color: #dc602c;

        &:before {
          background-color: #efcd7f;
        }
      }

      &-1 {
        margin-bottom: 7px;
        background-color: #ff7236;
        color: $c-white;

        &:before {
          background-color: #dc602c;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      span {
        z-index: 2;
        position: relative;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        @include transition(color);
        @include adaptive(575) {
          font-size: 14px;
        }
      }
    }

    &-ind {
      display: flex;
      align-items: center;


      &-0 {
        span {
          background-color: #ff7236;

          &:before {
            background-color: #dc602c;
          }
        }
      }

      &-1 {
        margin-left: 23px;

        span {
          background-color: #1ac2fe;

          &:before {
            background-color: #119ccd;
          }
        }
      }

      span  {
        position: relative;
        width: 19px;
        height: 17px;
        clip-path: polygon(0 5%, 100% 0, 97% 98%, 1% 90%);

        &:before {
          content: '';
          z-index: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          clip-path: polygon(0 100%, 55% 70%, 100% 0, 100% 100%);
        }
      }

      p {
        margin-left: 10px;
        line-height: 1;
        text-transform: uppercase;
        font-size: 18px;
      }
    }
  }
  // history :: end

  // like
  &--like {
    position: relative;
    margin-top: 50px;
    margin-bottom: 75px;

    .section-resize {
      @include adaptive(767) {
        width: calc(100% + 30px) !important;
      }
      &-bg {
        background-color: #262626;

        &:before {
          content: '';
          z-index: 0;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #1f1f1f;
          clip-path: polygon(0 0, 55% 20%, 75% 70%, 0 90%);
        }
      }

      &-triangle {
        img {
          &:nth-of-type(1) {
            top: 0;
            right: 0;
            @include adaptive(767) {
              display: none;
            }
          }
          &:nth-of-type(2) {
            bottom: 0;
            left: 20%;
          }
          &:nth-of-type(3) {
            bottom: -30px;
            left: 30%;
            @include adaptive(767) {
              display: none;
            }
          }
          &:nth-of-type(4) {
            bottom: -35px;
            right: 10%;
          }
          &:nth-of-type(5) {
            bottom: -15px;
            right: 0;
            @include adaptive(767) {
              display: none;
            }
          }
        }
      }
    }
  }
  &__like {
    &-header {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 90%;
      min-height: 97px;
      padding-left: 20px;
      background-color: #181818;
      clip-path: polygon(0 0, 100% 7%, 97% 96%, 2% 100%);

      h2 {
        padding-left: 15px;
        color: $c-white;
        line-height: 1;
        text-transform: uppercase;
        @include fluid(font-size, 320px, 767px, 25px, 48px);
      }
    }

    &-body {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      padding: 37px 15px 170px;
      @include adaptive(767) {
        padding-right: 15px;
        padding-bottom: 35px;
      }
    }

    &-block {
      display: flex;
      align-items: center;
      width: calc((100% - 15px) / 2);
      margin-bottom: 30px;
      @include adaptive(767) {
        width: 100%;
      }

      > div {
        &:nth-of-type(1) {
          width: 169px;
          @include adaptive(575) {
            width: 130px;
          }
        }
        &:nth-of-type(2) {
          width: 100%;
          max-width: calc(100% - 169px);
          padding-left: 15px;
          @include adaptive(575) {
            max-width: calc(100% - 130px);
          }
        }

        .b-skin {
          width: 100%;
          height: 138px;
        }

        h3,
        p {
          color: $c-white;
        }

        h3 {
          padding-bottom: 10px;
          line-height: 1;
          text-transform: uppercase;
          font-size: 18px;
        }

        p {
          font-size: 12px;
          font-family: 'Ubuntu', sans-serif;
        }
      }
    }

    .e-skin__block-wrapper {
      padding-top: 50px;
      padding-bottom: 50px;

      > div {
        max-width: 100%;
        padding-right: 50px;
      }

      .e-skin__block-figure {
        display: none;
      }

      .e-skin__block-desc {
        max-width: 90%;
      }

      .e-skin__block-right {
        &:before {
          //background-color: $c-white;
        }
      }
    }
  }
  // like :: end
}

// SECTION skin :: END