@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == alert {
		$char: "\E001";
	}
	@if $filename == all {
		$char: "\E002";
	}
	@if $filename == box-closed {
		$char: "\E003";
	}
	@if $filename == browse {
		$char: "\E004";
	}
	@if $filename == btn-arrow {
		$char: "\E005";
	}
	@if $filename == bubble {
		$char: "\E006";
	}
	@if $filename == calendar {
		$char: "\E007";
	}
	@if $filename == check {
		$char: "\E008";
	}
	@if $filename == comments-single {
		$char: "\E009";
	}
	@if $filename == comments {
		$char: "\E00A";
	}
	@if $filename == cube {
		$char: "\E00B";
	}
	@if $filename == diamond {
		$char: "\E00C";
	}
	@if $filename == dislike {
		$char: "\E00D";
	}
	@if $filename == embed {
		$char: "\E00E";
	}
	@if $filename == facebook {
		$char: "\E00F";
	}
	@if $filename == google-plus {
		$char: "\E010";
	}
	@if $filename == grid {
		$char: "\E011";
	}
	@if $filename == guides {
		$char: "\E012";
	}
	@if $filename == info {
		$char: "\E013";
	}
	@if $filename == instagram {
		$char: "\E014";
	}
	@if $filename == like-heart {
		$char: "\E015";
	}
	@if $filename == like {
		$char: "\E016";
	}
	@if $filename == megaphone {
		$char: "\E017";
	}
	@if $filename == menology {
		$char: "\E018";
	}
	@if $filename == pinterest {
		$char: "\E019";
	}
	@if $filename == play-button {
		$char: "\E01A";
	}
	@if $filename == polaroid {
		$char: "\E01B";
	}
	@if $filename == preview {
		$char: "\E01C";
	}
	@if $filename == rss {
		$char: "\E01D";
	}
	@if $filename == sales {
		$char: "\E01E";
	}
	@if $filename == search {
		$char: "\E01F";
	}
	@if $filename == send {
		$char: "\E020";
	}
	@if $filename == sets {
		$char: "\E021";
	}
	@if $filename == share {
		$char: "\E022";
	}
	@if $filename == shop {
		$char: "\E023";
	}
	@if $filename == sound {
		$char: "\E024";
	}
	@if $filename == sound2 {
		$char: "\E025";
	}
	@if $filename == star {
		$char: "\E026";
	}
	@if $filename == table {
		$char: "\E027";
	}
	@if $filename == triangle-rotate {
		$char: "\E028";
	}
	@if $filename == twitter {
		$char: "\E029";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-alert {
	@include icon(alert);

}
.icon-all {
	@include icon(all);

}
.icon-box-closed {
	@include icon(box-closed);

}
.icon-browse {
	@include icon(browse);

}
.icon-btn-arrow {
	@include icon(btn-arrow);

}
.icon-bubble {
	@include icon(bubble);

}
.icon-calendar {
	@include icon(calendar);

}
.icon-check {
	@include icon(check);

}
.icon-comments-single {
	@include icon(comments-single);

}
.icon-comments {
	@include icon(comments);

}
.icon-cube {
	@include icon(cube);

}
.icon-diamond {
	@include icon(diamond);

}
.icon-dislike {
	@include icon(dislike);

}
.icon-embed {
	@include icon(embed);

}
.icon-facebook {
	@include icon(facebook);

}
.icon-google-plus {
	@include icon(google-plus);

}
.icon-grid {
	@include icon(grid);

}
.icon-guides {
	@include icon(guides);

}
.icon-info {
	@include icon(info);

}
.icon-instagram {
	@include icon(instagram);

}
.icon-like-heart {
	@include icon(like-heart);

}
.icon-like {
	@include icon(like);

}
.icon-megaphone {
	@include icon(megaphone);

}
.icon-menology {
	@include icon(menology);

}
.icon-pinterest {
	@include icon(pinterest);

}
.icon-play-button {
	@include icon(play-button);

}
.icon-polaroid {
	@include icon(polaroid);

}
.icon-preview {
	@include icon(preview);

}
.icon-rss {
	@include icon(rss);

}
.icon-sales {
	@include icon(sales);

}
.icon-search {
	@include icon(search);

}
.icon-send {
	@include icon(send);

}
.icon-sets {
	@include icon(sets);

}
.icon-share {
	@include icon(share);

}
.icon-shop {
	@include icon(shop);

}
.icon-sound {
	@include icon(sound);

}
.icon-sound2 {
	@include icon(sound2);

}
.icon-star {
	@include icon(star);

}
.icon-table {
	@include icon(table);

}
.icon-triangle-rotate {
	@include icon(triangle-rotate);

}
.icon-twitter {
	@include icon(twitter);

}