$sprite: (
  arrow: (
    offset-x: -276px,
    offset-y: -32px,
    width: 21px,
    height: 23px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  backBling: (
    offset-x: -276px,
    offset-y: 0px,
    width: 21px,
    height: 27px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  battle-pass-challenges: (
    offset-x: -70px,
    offset-y: 0px,
    width: 53px,
    height: 61px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  c-bandage: (
    offset-x: -190px,
    offset-y: -125px,
    width: 33px,
    height: 37px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  c-book: (
    offset-x: -276px,
    offset-y: -110px,
    width: 18px,
    height: 20px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  c-music: (
    offset-x: -111px,
    offset-y: -186px,
    width: 33px,
    height: 26px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  c-pets: (
    offset-x: -161px,
    offset-y: -80px,
    width: 19px,
    height: 33px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  c-umbrella: (
    offset-x: -113px,
    offset-y: -139px,
    width: 33px,
    height: 35px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  c-wraps: (
    offset-x: -186px,
    offset-y: -186px,
    width: 33px,
    height: 22px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  emote: (
    offset-x: -242px,
    offset-y: -101px,
    width: 25px,
    height: 29px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  emoticon: (
    offset-x: 0px,
    offset-y: -224px,
    width: 33px,
    height: 18px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  eventbook: (
    offset-x: -276px,
    offset-y: -85px,
    width: 18px,
    height: 20px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  flip: (
    offset-x: -276px,
    offset-y: -135px,
    width: 20px,
    height: 18px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  glider: (
    offset-x: -72px,
    offset-y: -186px,
    width: 34px,
    height: 27px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  harvestingTool: (
    offset-x: -242px,
    offset-y: -68px,
    width: 27px,
    height: 28px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  i-comments-single: (
    offset-x: -190px,
    offset-y: 0px,
    width: 47px,
    height: 38px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  i-comments: (
    offset-x: -57px,
    offset-y: -139px,
    width: 51px,
    height: 35px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  i-comparison: (
    offset-x: -149px,
    offset-y: -186px,
    width: 32px,
    height: 24px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  i-get: (
    offset-x: -190px,
    offset-y: -43px,
    width: 42px,
    height: 41px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  i-guides: (
    offset-x: 0px,
    offset-y: -139px,
    width: 52px,
    height: 42px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  i-h-rotation: (
    offset-x: -151px,
    offset-y: -139px,
    width: 33px,
    height: 29px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  i-history: (
    offset-x: -128px,
    offset-y: 0px,
    width: 57px,
    height: 56px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  i-preview-small: (
    offset-x: -242px,
    offset-y: -195px,
    width: 23px,
    height: 13px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  i-preview: (
    offset-x: -190px,
    offset-y: -89px,
    width: 46px,
    height: 31px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  loadingScreen: (
    offset-x: -34px,
    offset-y: -186px,
    width: 33px,
    height: 28px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  outfit: (
    offset-x: 0px,
    offset-y: -186px,
    width: 29px,
    height: 33px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  skydivingTrails: (
    offset-x: -242px,
    offset-y: 0px,
    width: 29px,
    height: 31px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  spray: (
    offset-x: -242px,
    offset-y: -135px,
    width: 27px,
    height: 26px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  star-full: (
    offset-x: -59px,
    offset-y: -80px,
    width: 49px,
    height: 53px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  star-half: (
    offset-x: -113px,
    offset-y: -80px,
    width: 43px,
    height: 53px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  styles: (
    offset-x: 0px,
    offset-y: 0px,
    width: 65px,
    height: 75px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  token: (
    offset-x: -242px,
    offset-y: -36px,
    width: 29px,
    height: 27px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  toy: (
    offset-x: -242px,
    offset-y: -166px,
    width: 27px,
    height: 24px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  vbucks: (
    offset-x: -276px,
    offset-y: -158px,
    width: 18px,
    height: 20px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  vip: (
    offset-x: -276px,
    offset-y: -60px,
    width: 20px,
    height: 20px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
  weekly-challenges: (
    offset-x: 0px,
    offset-y: -80px,
    width: 54px,
    height: 54px,
    total-width: 297px,
    total-height: 242px,
    image: '../img/sprite.png'
  ),
);

@mixin sprite-size($image) {
  background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}
@mixin sprite-width($image) {
  width: map-get(map-get($sprite, $image), 'width');
}
@mixin sprite-height($image) {
  height: map-get(map-get($sprite, $image), 'height');
}
@mixin sprite-position($image) {
  background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}
@mixin sprite-image($image) {
  background-image: url(map-get(map-get($sprite, $image), 'image'));
}
@mixin sprite-image-retina($image) {
  $image-path: map-get(map-get($sprite, $image), 'image');
  $image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

  background-image: url($image-path-retina);
}
@mixin sprite($image, $size: true) {
  @include sprite-image($image);
  @include sprite-position($image);
  background-repeat: no-repeat;

  @if $size {
    @include sprite-width($image);
    @include sprite-height($image);
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx)
  {
    @include sprite-size($image);
    @include sprite-image-retina($image);
  }
}

.arrow:before {
  @include sprite(arrow);
}
.backBling:before {
  @include sprite(backBling);
}
.battle-pass-challenges:before {
  @include sprite(battle-pass-challenges);
}
.c-bandage:before {
  @include sprite(c-bandage);
}
.c-book:before {
  @include sprite(c-book);
}
.c-music:before {
  @include sprite(c-music);
}
.c-pets:before {
  @include sprite(c-pets);
}
.c-umbrella:before {
  @include sprite(c-umbrella);
}
.c-wraps:before {
  @include sprite(c-wraps);
}
.emote:before {
  @include sprite(emote);
}
.emoticon:before {
  @include sprite(emoticon);
}
.eventbook:before {
  @include sprite(eventbook);
}
.flip:before {
  @include sprite(flip);
}
.glider:before {
  @include sprite(glider);
}
.harvestingTool:before {
  @include sprite(harvestingTool);
}
.i-comments-single:before {
  @include sprite(i-comments-single);
}
.i-comments:before {
  @include sprite(i-comments);
}
.i-comparison:before {
  @include sprite(i-comparison);
}
.i-get:before {
  @include sprite(i-get);
}
.i-guides:before {
  @include sprite(i-guides);
}
.i-h-rotation:before {
  @include sprite(i-h-rotation);
}
.i-history:before {
  @include sprite(i-history);
}
.i-preview-small:before {
  @include sprite(i-preview-small);
}
.i-preview:before {
  @include sprite(i-preview);
}
.loadingScreen:before {
  @include sprite(loadingScreen);
}
.outfit:before {
  @include sprite(outfit);
}
.skydivingTrails:before {
  @include sprite(skydivingTrails);
}
.spray:before {
  @include sprite(spray);
}
.star-full:before {
  @include sprite(star-full);
}
.star-half:before {
  @include sprite(star-half);
}
.styles:before {
  @include sprite(styles);
}
.token:before {
  @include sprite(token);
}
.toy:before {
  @include sprite(toy);
}
.vbucks:before {
  @include sprite(vbucks);
}
.vip:before {
  @include sprite(vip);
}
.weekly-challenges:before {
  @include sprite(weekly-challenges);
}
