@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == all {
		$char: "\E001";
	}
	@if $filename == btn-arrow {
		$char: "\E002";
	}
	@if $filename == bubble {
		$char: "\E003";
	}
	@if $filename == comments-single {
		$char: "\E004";
	}
	@if $filename == comments {
		$char: "\E005";
	}
	@if $filename == dislike {
		$char: "\E006";
	}
	@if $filename == facebook {
		$char: "\E007";
	}
	@if $filename == google-plus {
		$char: "\E008";
	}
	@if $filename == instagram {
		$char: "\E009";
	}
	@if $filename == like {
		$char: "\E00A";
	}
	@if $filename == megaphone {
		$char: "\E00B";
	}
	@if $filename == pinterest {
		$char: "\E00C";
	}
	@if $filename == preview {
		$char: "\E00D";
	}
	@if $filename == rss {
		$char: "\E00E";
	}
	@if $filename == search {
		$char: "\E00F";
	}
	@if $filename == send {
		$char: "\E010";
	}
	@if $filename == sets {
		$char: "\E011";
	}
	@if $filename == shop {
		$char: "\E012";
	}
	@if $filename == star {
		$char: "\E013";
	}
	@if $filename == triangle-rotate {
		$char: "\E014";
	}
	@if $filename == twitter {
		$char: "\E015";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-all {
	@include icon(all);

}
.icon-btn-arrow {
	@include icon(btn-arrow);

}
.icon-bubble {
	@include icon(bubble);

}
.icon-comments-single {
	@include icon(comments-single);

}
.icon-comments {
	@include icon(comments);

}
.icon-dislike {
	@include icon(dislike);

}
.icon-facebook {
	@include icon(facebook);

}
.icon-google-plus {
	@include icon(google-plus);

}
.icon-instagram {
	@include icon(instagram);

}
.icon-like {
	@include icon(like);

}
.icon-megaphone {
	@include icon(megaphone);

}
.icon-pinterest {
	@include icon(pinterest);

}
.icon-preview {
	@include icon(preview);

}
.icon-rss {
	@include icon(rss);

}
.icon-search {
	@include icon(search);

}
.icon-send {
	@include icon(send);

}
.icon-sets {
	@include icon(sets);

}
.icon-shop {
	@include icon(shop);

}
.icon-star {
	@include icon(star);

}
.icon-triangle-rotate {
	@include icon(triangle-rotate);

}
.icon-twitter {
	@include icon(twitter);

}