$sprite: (
  arrow: (
    offset-x: -26px,
    offset-y: -157px,
    width: 21px,
    height: 23px,
    total-width: 200px,
    total-height: 184px,
    image: '../img/sprite.png'
  ),
  backBling: (
    offset-x: 0px,
    offset-y: -157px,
    width: 21px,
    height: 27px,
    total-width: 200px,
    total-height: 184px,
    image: '../img/sprite.png'
  ),
  battle-pass-challenges: (
    offset-x: 0px,
    offset-y: 0px,
    width: 53px,
    height: 61px,
    total-width: 200px,
    total-height: 184px,
    image: '../img/sprite.png'
  ),
  emote: (
    offset-x: -171px,
    offset-y: -101px,
    width: 25px,
    height: 29px,
    total-width: 200px,
    total-height: 184px,
    image: '../img/sprite.png'
  ),
  emoticon: (
    offset-x: -109px,
    offset-y: -124px,
    width: 33px,
    height: 18px,
    total-width: 200px,
    total-height: 184px,
    image: '../img/sprite.png'
  ),
  glider: (
    offset-x: -38px,
    offset-y: -124px,
    width: 34px,
    height: 27px,
    total-width: 200px,
    total-height: 184px,
    image: '../img/sprite.png'
  ),
  harvestingTool: (
    offset-x: -171px,
    offset-y: -68px,
    width: 27px,
    height: 28px,
    total-width: 200px,
    total-height: 184px,
    image: '../img/sprite.png'
  ),
  i-guides: (
    offset-x: -48px,
    offset-y: -66px,
    width: 52px,
    height: 42px,
    total-width: 200px,
    total-height: 184px,
    image: '../img/sprite.png'
  ),
  loadingScreen: (
    offset-x: 0px,
    offset-y: -124px,
    width: 33px,
    height: 28px,
    total-width: 200px,
    total-height: 184px,
    image: '../img/sprite.png'
  ),
  outfit: (
    offset-x: -105px,
    offset-y: -66px,
    width: 29px,
    height: 33px,
    total-width: 200px,
    total-height: 184px,
    image: '../img/sprite.png'
  ),
  skydivingTrails: (
    offset-x: -171px,
    offset-y: 0px,
    width: 29px,
    height: 31px,
    total-width: 200px,
    total-height: 184px,
    image: '../img/sprite.png'
  ),
  spray: (
    offset-x: -139px,
    offset-y: -66px,
    width: 27px,
    height: 26px,
    total-width: 200px,
    total-height: 184px,
    image: '../img/sprite.png'
  ),
  star-full: (
    offset-x: -117px,
    offset-y: 0px,
    width: 49px,
    height: 53px,
    total-width: 200px,
    total-height: 184px,
    image: '../img/sprite.png'
  ),
  star-half: (
    offset-x: 0px,
    offset-y: -66px,
    width: 43px,
    height: 53px,
    total-width: 200px,
    total-height: 184px,
    image: '../img/sprite.png'
  ),
  token: (
    offset-x: -171px,
    offset-y: -36px,
    width: 29px,
    height: 27px,
    total-width: 200px,
    total-height: 184px,
    image: '../img/sprite.png'
  ),
  toy: (
    offset-x: -77px,
    offset-y: -124px,
    width: 27px,
    height: 24px,
    total-width: 200px,
    total-height: 184px,
    image: '../img/sprite.png'
  ),
  weekly-challenges: (
    offset-x: -58px,
    offset-y: 0px,
    width: 54px,
    height: 54px,
    total-width: 200px,
    total-height: 184px,
    image: '../img/sprite.png'
  ),
);

@mixin sprite-size($image) {
  background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}
@mixin sprite-width($image) {
  width: map-get(map-get($sprite, $image), 'width');
}
@mixin sprite-height($image) {
  height: map-get(map-get($sprite, $image), 'height');
}
@mixin sprite-position($image) {
  background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}
@mixin sprite-image($image) {
  background-image: url(map-get(map-get($sprite, $image), 'image'));
}
@mixin sprite-image-retina($image) {
  $image-path: map-get(map-get($sprite, $image), 'image');
  $image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

  background-image: url($image-path-retina);
}
@mixin sprite($image, $size: true) {
  @include sprite-image($image);
  @include sprite-position($image);
  background-repeat: no-repeat;

  @if $size {
    @include sprite-width($image);
    @include sprite-height($image);
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx)
  {
    @include sprite-size($image);
    @include sprite-image-retina($image);
  }
}

.arrow:before {
  @include sprite(arrow);
}
.backBling:before {
  @include sprite(backBling);
}
.battle-pass-challenges:before {
  @include sprite(battle-pass-challenges);
}
.emote:before {
  @include sprite(emote);
}
.emoticon:before {
  @include sprite(emoticon);
}
.glider:before {
  @include sprite(glider);
}
.harvestingTool:before {
  @include sprite(harvestingTool);
}
.i-guides:before {
  @include sprite(i-guides);
}
.loadingScreen:before {
  @include sprite(loadingScreen);
}
.outfit:before {
  @include sprite(outfit);
}
.skydivingTrails:before {
  @include sprite(skydivingTrails);
}
.spray:before {
  @include sprite(spray);
}
.star-full:before {
  @include sprite(star-full);
}
.star-half:before {
  @include sprite(star-half);
}
.token:before {
  @include sprite(token);
}
.toy:before {
  @include sprite(toy);
}
.weekly-challenges:before {
  @include sprite(weekly-challenges);
}
