// SECTION :: START

-
  var combosBlock = [
    {
      classMod: 'legendary',
      iconName: 'outfit',
    },
    {
      classMod: 'epic',
      iconName: 'backBling',
    },
    {
      classMod: 'rare',
      iconName: 'harvestingTool',
    },
    {
      classMod: 'uncommon',
      iconName: 'skydivingTrails',
    },
    {
      classMod: 'common',
      iconName: 'emoticon',
    },
  ];

section.combo.combo__item.combo--item

  .section-resize(section-resize-js)
    .section-resize-bg
    .section-resize-triangle
      img(src="./img/img-combo-item-triangle-0.svg" alt="" title="")

  .combo__item-wrapper.combo__item-wrapper-0

    .combo__item-logo
      img(src="./img/img-logo-wlogo.png" srcset="./img/img-logo-wlogo@2x.png 2x" alt="" title="")

    .combo__item-title
      .combo__item-title-bg
      .combo__item-title-triangle
        img(src="./img/img-combo=title-item-triangle-0.svg" alt="" title="")
        img(src="./img/img-combo=title-item-triangle-1.svg" alt="" title="")
        img(src="./img/img-combo=title-item-triangle-2.svg" alt="" title="")
        img(src="./img/img-combo=title-item-triangle-3.svg" alt="" title="")
        img(src="./img/img-combo=title-item-triangle-4.svg" alt="" title="")

      h1!= "Make Combos"

// SECTION :: END