// SECTION :: START

section.combo.combo__create

  .combo__create-bg

  .combo__create-triangle
    img(src="./img/img-combo-custom-triangle-3.svg" alt="" title="")
    img(src="./img/img-combo-custom-triangle-4.svg" alt="" title="")
    img(src="./img/img-combo-custom-triangle-5.svg" alt="" title="")

  .combo__create-wrapper

    .combo__create-title
      i.icon-font.icon-paint
      p!= "Create Your Custom Combo"

    .combo__create-body
      a.c-btn.c-btn--bg(href="#" class="" title="")!= "Make custom combo <i class='icon-font icon-arr-dcc'></i>"

// SECTION :: END