// SECTION :: START

section#rarity.rarity.combo.combo__create
  .rarity__figure
    img(src="./img/img-rarity-figure-0.svg" alt="" title="")
    img(src="./img/img-rarity-figure-1.svg" alt="" title="")

  .rarity__triangle
    img(src="./img/img-rarity-triangle-0.svg" alt="" title="")
    img(src="./img/img-rarity-triangle-1.svg" alt="" title="")
    img(src="./img/img-rarity-triangle-2.svg" alt="" title="")
    img(src="./img/img-rarity-triangle-3.svg" alt="" title="")
    img(src="./img/img-rarity-triangle-4.svg" alt="" title="")
    img(src="./img/img-rarity-triangle-5.svg" alt="" title="")
    img(src="./img/img-rarity-triangle-6.svg" alt="" title="")

  .rarity__wrapper

    .combo__create-title
      i.icon-font.icon-paint
      p!= "Create Your Custom Combo"

    .combo__create-body
      a.c-btn.c-btn--bg(href="#" class="" title="")!= "Make custom combo <i class='icon-font icon-arr-dcc'></i>"

// SECTION :: END