// SECTION combo :: START

#combo {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 696px;
  margin-left: auto;
  @include adaptive(1199) {
    max-width: 100%;
  }
  @include adaptive(767) {
    overflow: hidden;
  }
}

.combo {
  &__title,
  &__text {
    color: $c-white;
    text-align: center;
  }

  &__title {
    padding-bottom: 20px;
    line-height: 1;
    text-shadow: 0 6px 0 rgba(0, 0, 0, 0.16);
    text-transform: uppercase;
    @include fluid(font-size, 320px, 768px, 50px, 100px);

    span {
      color: #ffd600;
    }
  }

  &__text {
    width: 100%;
    max-width: 962px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    font-family: 'Ubuntu', sans-serif;
    @include fluid(font-size, 320px, 768px, 16px, 20px);

    span {
      font-weight: bold;
    }
  }

  &__item {
    position: relative;
    min-height: 350px;

    .section-resize {
      &-bg {
        background-color: #1ac2fe;
        clip-path: polygon(0 0, 99% 5%, 100% 98%, 0 100%);

        &:before,
        &:after {
          content: '';
          z-index: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #23d6fe;
        }

        &:before {
          clip-path: polygon(0 0, 20% 0, 35% 20%, 0 55%);
        }

        &:after {
          clip-path: polygon(45% 100%, 10% 60%, 95% 15%, 100% 0, 100% 100%);
        }
      }

      &-triangle {
        img {
          &:nth-of-type(1) {
            top: 10%;
            right: 0;
          }
        }
      }
    }

    &-wrapper {
      &-0 {
        padding-top: 72px;
      }

      &-1 {
        padding-right: 15px;
        padding-bottom: 100px;
      }
    }

    &-logo {
      z-index: 2;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 342px;
      height: 88px;
      margin-left: auto;
      margin-right: auto;
      background-color: #2a2a2a;
      padding: 5px 10px;
      clip-path: polygon(0 0, 100% 2%, 96% 98%, 2% 100%);

      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #313131;
        clip-path: polygon(0 100%, 80% 75%, 100% 0%, 100% 100%);
      }
    }

    &-title {
      z-index: 1;
      position: relative;
      top: -15px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 568px;
      height: 158px;
      margin-left: auto;
      margin-right: auto;

      &-bg,
      &-triangle {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &-bg {
        background-color: #3f6c7c;
        clip-path: polygon(0 0, 100% 2%, 97% 98%, 2% 100%);

        &:before {
          content: '';
          z-index: -1;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #34606f;
          clip-path: polygon(0 100%, 85% 70%, 100% 0%, 100% 100%);
        }
      }

      &-triangle {
        img {
          position: absolute;

          &:nth-of-type(1) {
            left: -30px;
            top: -15px;
          }
          &:nth-of-type(2) {
            right: -30px;
            top: -15px;
          }
          &:nth-of-type(3) {
            top: 50%;
            left: -20px;
          }
          &:nth-of-type(4) {
            left: -20px;
            bottom: -10px;
          }
          &:nth-of-type(5) {
            right: -25px;
            bottom: -10px;
          }
        }
      }

      p {
        z-index: 2;
        position: relative;
        font-size: 64px;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        @include adaptive(991) {
          font-size: 50px;
        }
        @include adaptive(575) {
          font-size: 40px;
        }
      }
    }

    .combos {
      &__box {
        &-left {
          @include adaptive(991) {
            max-width: calc(100% - 245px);
          }
          @include adaptive(767) {
            max-width: 100%;
          }
        }
        &-right {
          @include adaptive(991) {
            width: 245px;
            padding: 0;
            padding-top: 80px;
            padding-right: 15px;

            > div {
              width: calc(100% / 2);
            }
          }
          @include adaptive(767) {
            width: 100%;
            padding-top: 30px;
            padding-left: 15px;
          }

          > div {
            @include adaptive(767) {
              width: calc(100% / 3);
            }
            @include adaptive(374) {
              width: calc(100% / 2);
            }
          }
        }
      }
    }
  }

  &__drop {
    overflow: hidden;
    z-index: 1000;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    max-height: 573px;

    &-bg {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 98%;
      background-color: #e0a038;
      clip-path: polygon(0 0, 100% 2%, 98% 99%, 1% 100%);

      &:before {
        content: '';
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #e4ac52;
        clip-path: polygon(0 100%, 75% 80%, 100% 0, 100% 100%);
      }
    }

    &-btn {
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      a {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    
    &-content {
      overflow-y: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;

      > div {
        width: 100%;
        max-width: calc(100% / 6);
        height: 220px;
        max-height: 220px;
        padding: 0 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        @include adaptive(1199) {
          max-width: calc(100% / 5);
        }
        @include adaptive(991) {
          max-width: calc(100% / 4);
        }
        @include adaptive(767) {
          max-width: calc(100% / 3);
        }
        @include adaptive(575) {
          max-width: calc(100% / 2);
          padding-left: 5px;
          padding-right: 5px;
        }
      }

      .combos {
        &__box {
          position: relative;
          display: flex;

          &.is-active {
            .combos__box-svg {
              opacity: 1;
              @include transition(opacity);
            }
          }

          &-svg {
            opacity: 0;
            z-index: 5;
            position: absolute;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include transition(opacity);

            svg {
              width: 100%;
              max-width: 114px;
            }
          }

          &-left {
            max-width: 100%;
            min-height: 220px;
            max-height: 100%;
            @include adaptive(575) {
              padding: 0;
            }

            img {
              max-height: 100%;
            }
          }

          &-title {
            height: 34px;

            &--triangle {
              img {
                transform-origin: center;
                transform: scale(0.5);

                &:nth-of-type(2) {
                  top: -5px;
                  right: -5px;
                }
                &:nth-of-type(3) {
                  bottom: -5px;
                  left: -5px;
                }
              }
            }

            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  &__custom {
    position: relative;
    margin-bottom: 50px;

    .p-combos & {
      margin-bottom: 0;
    }

    .section-resize {
      top: -30px;

      &-bg {
        background-color: #313131;
        clip-path: polygon(0 0, 100% 1%, 98% 98%, 0 100%);

        &:before {
          content: '';
          z-index: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #2a2a2a;
        }

        &:before {
          clip-path: polygon(0 100%, 80% 50%, 30% 0, 100% 0, 100% 100%);
        }
      }

      &-triangle {
        img {
          &:nth-of-type(1) {
            top: -20px;
            left: 10px;
          }
          &:nth-of-type(2) {
            top: -50px;
            left: 15%;
          }
          &:nth-of-type(3) {
            top: -20px;
            right: 30px;
          }
          &:nth-of-type(4) {
            left: 30px;
            bottom: -30px;
          }
          &:nth-of-type(5) {
            left: 30%;
            bottom: -25px;
          }
          &:nth-of-type(6) {
            right: -15px;
            bottom: -15px;
          }
        }
      }
    }

    &-wrapper {
      padding-top: 30px;
      padding-bottom: 100px;
    }

    &-title {
      position: relative;
      display: flex;
      align-items: center;
      width: 95%;
      height: 97px;
      padding: 5px 10px 5px 30px;
      background-color: #ffd600;
      clip-path: polygon(0 0, 100% 2%, 97% 98%, 2% 100%);

      i {
        color: #ffffff;
        font-size: 47px;
      }

      p {
        padding-left: 10px;
        font-size: 48px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.2;
        @include adaptive(1199) {
          font-size: 40px;
        }
        @include adaptive(767) {
          font-size: 35px;
        }
        @include adaptive(575) {
          font-size: 28px;
        }
      }
    }

    .combos {
      &__box {
        &-left {
          @include adaptive(991) {
            max-width: calc(100% - 245px);
          }
          @include adaptive(767) {
            max-width: 100%;
          }

          .combos__block {
            width: 100%;
            max-width: 295px;
            height: 408px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;

            &-top {
              height: 100%;
              .icon-font {
                font-size: 61px;
              }
            }
          }
        }

        &-right {
          @include adaptive(991) {
            width: 245px;
            padding-top: 80px;
            padding-right: 15px;

            > div {
              width: calc(100% / 2);
            }
          }
          @include adaptive(767) {
            width: 100%;
            padding-left: 15px;
            padding-top: 30px;
          }

          > div {
            @include adaptive(767) {
              width: calc(100% / 3);
            }
            @include adaptive(374) {
              width: calc(100% / 2);
            }
          }
        }

        &-bottom {
          justify-content: center;
          padding-top: 30px;
          @include adaptive(424) {
            flex-direction: column;
          }

          a {
            margin-left: 10px;
            margin-right: 10px;
            @include adaptive(424) {
              margin-bottom: 10px;
            }

            .icon-saves {
              font-size: 26px;
              margin-right: 5px;
            }
          }
        }

        &-title {
          top: 0;
        }
      }

      &__block {
        &-top {
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            background-color: transparent;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            @include transition(background-color, clip-path);

            &.is-open {
              background-color: #e0a038;
              clip-path: polygon(0 0, 100% 10%, 94% 100%, 8% 100%);
              @include transition(background-color, clip-path);

              .icon-font {
                opacity: 1;
                transform: scale(0.85);
                @include transition(opacity, transform);
              }
            }
           }

          .icon-font {
            opacity: 0.1;
            color: #ffffff;
            font-size: 43px;
            transform-origin: center;
            @include transition(opacity, transform);
          }
        }
      }
    }
  }

  &__skins {
    padding-top: 100px;
    padding-bottom: 100px;

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > div {
        width: 100%;
        max-width: calc((100% - 30px) / 2);
        margin-bottom: 50px;
        @include adaptive(575) {
          max-width: 100%;
          margin-bottom: 30px;
        }
      }
    }

    &-description {
      z-index: 2;
      position: relative;
      min-height: 170px;

      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #edf9fd;
        clip-path: polygon(0 0, 100% 0, 98% 99%, 0 100%);
      }

      &--triangle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
          position: absolute;

          &:nth-of-type(1) {
            left: 0;
            bottom: -20px;
          }
          &:nth-of-type(2) {
            bottom: -20px;
            left: 50px;
          }
          &:nth-of-type(3) {
            bottom: -10px;
            right: 50px;
          }
          &:nth-of-type(4) {
            bottom: -20px;
            right: 0;
          }
        }
      }

      p {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 65px;
        padding: 5px 15px 5px 11px;
        background-color: #ffd600;
        clip-path: polygon(0 0, 100% 0, 95% 93%, 2% 100%);


        .icon-font {
          color: #fff;
          font-size: 26px;
          margin-right: 9px;
        }

        > span {
          font-size: 30px;
          color: rgb(255, 255, 255);
          text-transform: uppercase;
          line-height: 1.2;
        }
      }

      > div {
        padding: 10px 20px 20px;

        span {
          font-size: 16px;
          font-family: "Ubuntu", sans-serif;
          font-weight: 500;
          color: rgb(39, 60, 67);
          line-height: 1.69;
        }
      }
    }

    .combos {
      &__box {
        &-triangle {
          img {
            &:nth-of-type(1) {
              top: 40px;
              left: -10px;
            }
            &:nth-of-type(2) {
              top: 50px;
              right: -10px;
              left: auto;
            }
            &:nth-of-type(3) {
              top: 150px;
              left: -10px;
            }
            &:nth-of-type(4) {
              left: -20px;
              top: 30%;
            }
            &:nth-of-type(5) {
              right: -10px;
              top: 35%;
              left: auto;
            }
          }
        }

        &-wrapper {
          &-0 {
            flex-direction: column;
          }
        }

        &-left {
          max-width: 100%;
          min-height: 0;
          padding-left: 30px;
          padding-right: 30px;
        }

        &-right {
          width: 100%;
          padding-top: 30px;

          > div {
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: calc(100% / 3);
          }
        }

        &-total {
          flex-direction: column;
          align-items: flex-start;
        }
      }

      &__block {
        width: 81px;
        margin-right: 0;

        &-top {
          height: 81px;
        }
      }
    }
  }

  &__like {
    position: relative;

    &-bg {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #edf9fd;
      clip-path: polygon(0 0, 100% 10px, 99% 99%, 20px 100%);
    }

    &-triangle {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;

        &:nth-of-type(1) {
          bottom: 5%;
          left: -15px;
        }
        &:nth-of-type(2) {
          bottom: -10px;
          left: 5%;
        }
        &:nth-of-type(3) {
          bottom: -15px;
          right: 10%;
        }
        &:nth-of-type(4) {
          top: 10px;
          right: -30px;
        }
      }
    }

    .skin__like-body {
      padding-bottom: 0;
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > div {
        width: 100%;
        max-width: calc((100% - 10px) / 2);
        margin-bottom: 30px;
        @include adaptive(424) {
          max-width: 100%;
        }
      }
    }

    &-footer {
      display: flex;
      justify-content: center;
      padding: 30px 0;
    }

    .combos {
      &__box {
        &-triangle {
          img {
            &:nth-of-type(1) {
              top: 5px;
            }
            &:nth-of-type(2) {
              top: 30%;
              right: -10px;
              left: auto;
            }
            &:nth-of-type(3) {
              top: 50%;
              right: auto;
              left: -10px;
            }
            &:nth-of-type(4) {
              left: 40%;
            }
            &:nth-of-type(5) {
              display: none;
            }
          }
        }

        &-wrapper {
          padding-bottom: 15px;
        }

        &-bg {
          z-index: 0;
          top: 0;
          height: 100%;
        }

        &-left {
          max-width: calc(100% - 144px);
          min-height: 0;
          padding-left: 5px;
          padding-right: 10px;
          @include adaptive(1199) {
            max-width: 100%;
          }

          .e-skin__block-points {
            img {
              transform: scale(0.8);
            }
            span {
              font-size: 14px;
            }
          }
        }

        &-right {
          position: relative;
          width: 144px;
          padding-top: 30px;
          @include adaptive(1199) {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
          }

          > div {
            @include adaptive(767) {
              width: calc(100% / 3);
            }
            @include adaptive(575) {
              width: calc(100% / 2);
            }
            @include adaptive(424) {
              width: calc(100% / 3);
            }
          }
        }

        &-title {
          height: 34px;

          p {
            font-size: 16px;
          }
        }

        &-bottom {
          @include adaptive(767) {
            flex-wrap: wrap;
          }
        }

        &-total {
          p {
            font-size: 12px;
          }

          .e-skin__block-points {
            span {
              font-size: 18px;
            }
          }
        }

        &-like {
          > span {
            font-size: 16px;
            @include adaptive(767) {
              font-size: 14px;
            }

            .icon {
              &-font {
                font-size: 16px;
                @include adaptive(767) {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }

      &__block {
        width: 62px;
        margin-right: 10px;
        @include adaptive(1199) {
          margin-right: 0;
        }

        &-top {
          height: 62px;
        }

        &-bottom  {
          p {
            font-size: 14px;
            padding-bottom: 0;
          }
        }

        &-badge {
          width: 17px;
          height: 17px;

          i {
            transform: scale(0.3);
          }
        }
      }
    }
  }

  &__create {
    position: relative;
    padding: 50px 0 0;

    &-bg {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #222838;
      clip-path: polygon(0 0, 100% 2%, 97% 98%, 2% 100%);

      &:before,
      &:after {
        content: '';
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #282f42;
      }

      &:before {
        clip-path: polygon(0 0, 25% 70%, 100% 100%, 0 100%);
      }

      &:after {
        clip-path: polygon(80% 25%, 95% 5%, 100% 0, 100% 40%);
      }
    }

    &-triangle {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;

        &:nth-of-type(1) {
          left: -15px;
          top: 60%;
        }
        &:nth-of-type(2) {
          top: 10%;
          left: -20px;
        }
        &:nth-of-type(3) {
          bottom: -15px;
          right: -15px;
        }
      }
    }

    &-title {
      position: relative;
      display: flex;
      align-items: center;
      width: 95%;
      height: 97px;
      margin-left: auto;
      margin-right: auto;
      padding: 5px 10px 5px 30px;
      background-color: #ffd600;
      clip-path: polygon(0 0, 100% 2%, 97% 98%, 2% 100%);

      i {
        color: #ffffff;
        font-size: 47px;
      }

      p {
        padding-left: 10px;
        font-size: 48px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.2;
        @include adaptive(1199) {
          font-size: 40px;
        }
        @include adaptive(767) {
          font-size: 35px;
        }
        @include adaptive(575) {
          font-size: 28px;
        }
      }
    }

    &-body {
      display: flex;
      justify-content: center;
      padding: 50px 30px;
    }
  }
}

// SECTION combo :: END