// SECTION combo :: START

#combo {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 696px;
  margin-left: auto;
  @include adaptive(1199) {
    max-width: 100%;
  }
  @include adaptive(767) {
    overflow: hidden;
  }
}

.combo {
  &__title,
  &__text {
    color: $c-white;
    text-align: center;
  }

  &__title {
    padding-bottom: 20px;
    line-height: 1;
    text-shadow: 0 6px 0 rgba(0, 0, 0, 0.16);
    text-transform: uppercase;
    @include fluid(font-size, 320px, 768px, 50px, 100px);

    span {
      color: #ffd600;
    }
  }

  &__text {
    width: 100%;
    max-width: 962px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    font-family: 'Ubuntu', sans-serif;
    @include fluid(font-size, 320px, 768px, 16px, 20px);

    span {
      font-weight: bold;
    }
  }

  &__item {
    position: relative;
    min-height: 350px;
    padding-bottom: 50px;

    .section-resize {
      &-bg {
        background-color: #1ac2fe;
        clip-path: polygon(0 0, 99% 5%, 100% 98%, 0 100%);

        &:before,
        &:after {
          content: '';
          z-index: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #23d6fe;
        }

        &:before {
          clip-path: polygon(0 0, 20% 0, 35% 20%, 0 55%);
        }

        &:after {
          clip-path: polygon(45% 100%, 10% 60%, 95% 15%, 100% 0, 100% 100%);
        }
      }

      &-triangle {
        img {
          &:nth-of-type(1) {
            top: 10%;
            right: 0;
          }
        }
      }
    }

    &-wrapper {
      &-0 {
        padding-top: 72px;
      }

      &-1 {
        padding-right: 15px;
        padding-bottom: 100px;
      }
    }

    &-logo {
      z-index: 2;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 342px;
      height: 88px;
      margin-left: auto;
      margin-right: auto;
      background-color: #2a2a2a;
      padding: 5px 10px;
      clip-path: polygon(0 0, 100% 2%, 96% 98%, 2% 100%);

      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #313131;
        clip-path: polygon(0 100%, 80% 75%, 100% 0%, 100% 100%);
      }
    }

    &-title {
      z-index: 1;
      position: relative;
      top: -15px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 568px;
      height: 158px;
      margin-left: auto;
      margin-right: auto;

      &-bg,
      &-triangle {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &-bg {
        background-color: #3f6c7c;
        clip-path: polygon(0 0, 100% 2%, 97% 98%, 2% 100%);

        &:before {
          content: '';
          z-index: -1;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #34606f;
          clip-path: polygon(0 100%, 85% 70%, 100% 0%, 100% 100%);
        }
      }

      &-triangle {
        img {
          position: absolute;

          &:nth-of-type(1) {
            left: -30px;
            top: -15px;
          }
          &:nth-of-type(2) {
            right: -30px;
            top: -15px;
          }
          &:nth-of-type(3) {
            top: 50%;
            left: -20px;
          }
          &:nth-of-type(4) {
            left: -20px;
            bottom: -10px;
          }
          &:nth-of-type(5) {
            right: -25px;
            bottom: -10px;
          }
        }
      }

      h1 {
        z-index: 2;
        position: relative;
        font-size: 64px;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        @include adaptive(991) {
          font-size: 50px;
        }
        @include adaptive(575) {
          font-size: 40px;
        }
      }
    }

    .combos {
      &__box {
        &-left {
          @include adaptive(991) {
            max-width: calc(100% - 245px);
          }
          @include adaptive(767) {
            max-width: 100%;
          }
        }
        &-right {
          @include adaptive(991) {
            width: 245px;
            padding: 0;
            padding-top: 80px;
            padding-right: 15px;

            > div {
              width: calc(100% / 2);
            }
          }
          @include adaptive(767) {
            width: 100%;
            padding-top: 30px;
            padding-left: 15px;
          }

          > div {
            @include adaptive(767) {
              width: calc(100% / 3);
            }
            @include adaptive(374) {
              width: calc(100% / 2);
            }
          }
        }
      }
    }
  }

  &__drop {
    //overflow: hidden;
    z-index: 1000;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1295px;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    max-height: 573px;

    ::-webkit-scrollbar {
      width: 4px;
    }
    ::-webkit-scrollbar-track {
      background: #fff;
      border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb {
      background: #333;
      border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #000;
    }

    &-corner {
      opacity: 0;
      z-index: 1000;
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      background-color: #e0a038;
      clip-path: polygon(0 0, 100% 10%, 94% 100%, 8% 100%);

      &.is-big {
        opacity: 1;
        width: 91px;
        height: 91px;
        @include transition(opacity);

        .icon-font {
          font-size: 61px;
        }
      }

      &.is-small {
        opacity: 1;
        width: 73px;
        height: 73px;
        @include transition(opacity);

        .icon-font {
          font-size: 43px;
        }
      }

      .icon-font {
        color: #fff;
      }
    }

    &-bg {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 98%;
      background-color: #e0a038;
      clip-path: polygon(0 0, 100% 2%, 100% 99%, 1% 100%);

      &:before {
        content: '';
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #e4ac52;
        clip-path: polygon(0 100%, 75% 80%, 100% 0, 100% 100%);
      }
    }

    &-btn {
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      a {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    
    &-content {
      overflow-y: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      height: calc(100% - 10px);
      padding-left: 15px;
      padding-right: 15px;

      > div {
        width: 100%;
        max-width: calc(100% / 6);
        padding: 0 15px;
        margin-top: 5px;
        @include adaptive(1199) {
          max-width: calc(100% / 5);
        }
        @include adaptive(991) {
          max-width: calc(100% / 4);
        }
        @include adaptive(767) {
          max-width: calc(100% / 3);
        }
        @include adaptive(575) {
          max-width: calc(100% / 2);
          padding-left: 5px;
          padding-right: 5px;
        }
      }

      .combos {
        &__box {
          position: relative;
          display: flex;

          &.is-active {
            .combos__box-svg {
              opacity: 1;
              @include transition(opacity);
            }
          }

          &-svg {
            opacity: 0;
            z-index: 5;
            position: absolute;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include transition(opacity);

            svg {
              width: 100%;
              max-width: 114px;
            }
          }

          &-left {
            display: block;
            max-width: 100%;
            min-height: 0;
            @include adaptive(575) {
              padding: 0;
            }

            img {
              max-height: 100%;
            }
          }

          &-title {
            height: 34px;

            &--triangle {
              display: none;

              img {
                transform-origin: center;
                transform: scale(0.5);

                &:nth-of-type(2) {
                  top: -5px;
                  right: -5px;
                }
                &:nth-of-type(3) {
                  bottom: -5px;
                  left: -5px;
                }
              }
            }

            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  &__custom {
    position: relative;
    margin-bottom: 50px;

    .p-combos & {
      margin-bottom: 0;
    }

    .section-resize {
      top: -30px;

      &-bg {
        background-color: #313131;
        clip-path: polygon(0 0, 100% 1%, 98% 98%, 0 100%);

        &:before {
          content: '';
          z-index: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #2a2a2a;
        }

        &:before {
          clip-path: polygon(0 100%, 80% 50%, 30% 0, 100% 0, 100% 100%);
        }
      }

      &-triangle {
        img {
          &:nth-of-type(1) {
            top: -20px;
            left: 10px;
          }
          &:nth-of-type(2) {
            top: -50px;
            left: 15%;
          }
          &:nth-of-type(3) {
            top: -20px;
            right: 30px;
          }
          &:nth-of-type(4) {
            left: 30px;
            bottom: -30px;
          }
          &:nth-of-type(5) {
            left: 30%;
            bottom: -25px;
          }
          &:nth-of-type(6) {
            right: -15px;
            bottom: -15px;
          }
        }
      }
    }

    &-wrapper {
      padding-top: 30px;
      padding-bottom: 100px;
    }

    &-title {
      position: relative;
      display: flex;
      align-items: center;
      width: 95%;
      height: 97px;
      padding: 5px 10px 5px 30px;
      background-color: #ffd600;
      clip-path: polygon(0 0, 100% 2%, 97% 98%, 2% 100%);

      i {
        color: #ffffff;
        font-size: 47px;
      }

      h2 {
        padding-left: 10px;
        font-size: 48px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.2;
        @include adaptive(1199) {
          font-size: 40px;
        }
        @include adaptive(767) {
          font-size: 35px;
        }
        @include adaptive(575) {
          font-size: 28px;
        }
      }
    }

    .combos {
      &__box {
        &-left {
          @include adaptive(991) {
            max-width: calc(100% - 245px);
          }
          @include adaptive(767) {
            max-width: 100%;
          }

          .combos__block {
            width: 100%;
            max-width: 295px;
            height: 408px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;

            &-top {
              height: 100%;
              .icon-font {
                font-size: 61px;
              }
            }
          }
        }

        &-right {
          @include adaptive(991) {
            width: 245px;
            padding-top: 80px;
            padding-right: 15px;

            > div {
              width: calc(100% / 2);
            }
          }
          @include adaptive(767) {
            width: 100%;
            padding-left: 15px;
            padding-top: 30px;
          }

          > div {
            @include adaptive(767) {
              width: calc(100% / 3);
            }
            @include adaptive(374) {
              width: calc(100% / 2);
            }
          }
        }

        &-bottom {
          justify-content: center;
          padding-top: 30px;
          @include adaptive(424) {
            flex-direction: column;
          }

          a {
            margin-left: 10px;
            margin-right: 10px;
            @include adaptive(424) {
              margin-bottom: 10px;
            }

            .icon-saves {
              font-size: 26px;
              margin-right: 5px;
            }
          }
        }

        &-title {
          top: 0;
        }
      }

      &__block {
        &-top {
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            background-color: transparent;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            @include transition(background-color, clip-path);

            &.is-open {
              background-color: #e0a038;
              clip-path: polygon(0 0, 100% 10%, 94% 100%, 8% 100%);
              @include transition(background-color, clip-path);

              .icon-font {
                opacity: 1;
                transform: scale(0.85);
                @include transition(opacity, transform);
              }
            }
           }

          .icon-font {
            opacity: 0.1;
            color: #ffffff;
            font-size: 43px;
            transform-origin: center;
            @include transition(opacity, transform);
          }
        }
      }
    }
  }

  &__skins {
    padding-top: 50px;
    padding-bottom: 100px;

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > div {
        width: 100%;
        max-width: calc((100% - 30px) / 2);
        margin-bottom: 50px;
        @include adaptive(575) {
          max-width: 100%;
          margin-bottom: 30px;
        }
      }
    }

    &-description {
      z-index: 2;
      position: relative;
      min-height: 170px;

      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #edf9fd;
        clip-path: polygon(0 0, 100% 0, 98% 99%, 0 100%);
      }

      &--triangle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
          position: absolute;

          &:nth-of-type(1) {
            left: 0;
            bottom: -20px;
          }
          &:nth-of-type(2) {
            bottom: -20px;
            left: 50px;
          }
          &:nth-of-type(3) {
            bottom: -10px;
            right: 50px;
          }
          &:nth-of-type(4) {
            bottom: -20px;
            right: 0;
          }
        }
      }

      p {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 65px;
        padding: 5px 15px 5px 11px;
        background-color: #ffd600;
        clip-path: polygon(0 0, 100% 0, 95% 93%, 2% 100%);


        .icon-font {
          color: #fff;
          font-size: 26px;
          margin-right: 9px;
        }

        > span {
          font-size: 30px;
          color: rgb(255, 255, 255);
          text-transform: uppercase;
          line-height: 1.2;
        }
      }

      > div {
        padding: 10px 20px 20px;

        span {
          font-size: 16px;
          font-family: "Ubuntu", sans-serif;
          font-weight: 500;
          color: rgb(39, 60, 67);
          line-height: 1.69;
        }
      }
    }

    .combos {
      &__box {
        &-triangle {
          img {
            &:nth-of-type(1) {
              top: 40px;
              left: -10px;
            }
            &:nth-of-type(2) {
              top: 50px;
              right: -10px;
              left: auto;
            }
            &:nth-of-type(3) {
              top: 150px;
              left: -10px;
            }
            &:nth-of-type(4) {
              left: -20px;
              top: 30%;
            }
            &:nth-of-type(5) {
              right: -10px;
              top: 35%;
              left: auto;
            }
          }
        }

        &-wrapper {
          &-0 {
            flex-direction: column;
          }
        }

        &-left {
          max-width: 100%;
          min-height: 0;
          padding-left: 30px;
          padding-right: 30px;
        }

        &-right {
          width: 100%;
          padding-top: 30px;

          > div {
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: calc(100% / 3);
          }
        }

        &-total {
          flex-direction: column;
          align-items: flex-start;
        }
      }

      &__block {
        width: 81px;
        margin-right: 0;

        &-top {
          height: 81px;
        }
      }
    }
  }

  &__like {
    position: relative;

    &-bg {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #edf9fd;
      clip-path: polygon(0 0, 100% 10px, calc(100% - 10px) calc(100% - 20px), 10px 100%);
    }

    &-triangle {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;

        &:nth-of-type(1) {
          bottom: 5%;
          left: -15px;
        }
        &:nth-of-type(2) {
          bottom: -10px;
          left: 5%;
        }
        &:nth-of-type(3) {
          bottom: -15px;
          right: 10%;
        }
        &:nth-of-type(4) {
          top: 10px;
          right: -30px;
        }
      }
    }

    .skin__like-header {
      position: relative;
      background-color: #ffd600;

      &:before {
        content: '';
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 100%, 80% 75%, 100% 0, 100% 100%);
        background-color: #f0ca07;
      }

      .icon {
        &-info {
          color: #fff;
          font-size: 36px;
        }
      }

      h2 {
        z-index: 2;
        position: relative;
        padding-left: 15px;
        line-height: 1;
        text-transform: uppercase;
        @include fluid(font-size, 320px, 767px, 25px, 48px);
      }
    }

    .skin__like-body {
      padding-bottom: 0;
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      > div {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
        @include adaptive(424) {
          max-width: 100%;
        }
      }
    }

    &-footer {
      display: flex;
      justify-content: center;
      padding: 0 0 30px 0;
    }

    .combos {
      &__box {

        @each $className, $colorVal, $bg1, $bg2 in
            ('legendary', 'radial-gradient(#ea8d23,#c04d1f)', #e38748, #c04d1f),
            ('epic', 'radial-gradient(#c359ff,#701fe5)', #b04eec, #701fe5),
            ('rare', 'radial-gradient(#2cc1ff,#215dc2)', #3ad6ff, #215dc2),
            ('uncommon', 'radial-gradient(#69bb1e,#227622)', #8fee3b, #227622),
            ('common', 'radial-gradient(#bebebe,#848282)', #bebebe, #848282)
        {
          &--#{$className} {
            .combos__box-img {
              background-image: #{$colorVal};
            }
            .combos__box-title--bg {
              background-color: $bg1;

              &:before {
                background-color: $bg2;
              }
            }
          }
        }

        &-triangle {
          img {
            &:nth-of-type(1) {
              display: none;
              top: 5px;
            }
            &:nth-of-type(2) {
              top: 30%;
              right: -10px;
              left: auto;
            }
            &:nth-of-type(3) {
              top: 50%;
              right: auto;
              left: -10px;
            }
            &:nth-of-type(4) {
              display: none;
              left: 40%;
            }
            &:nth-of-type(5) {
              display: none;
            }
          }
        }

        &-bg {
          z-index: 0;
          top: 40px;
          height: calc(100% - 40px);
        }

        &-heading {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          background-color: #518DA4;
          width: 95%;
          min-height: 80px;
          margin-left: auto;
          margin-right: auto;
          padding: 5px 15px;
          clip-path: polygon(0 0, 100% 7%, 97% 96%, 2% 100%);
          @include adaptive(575) {
            flex-wrap: wrap;
          }

          > div {
            z-index: 2;
            position: relative;

            &:nth-of-type(1) {
              display: flex;
              align-items: center;
              @include adaptive(575) {
                padding-top: 5px;
              }
            }

            &:nth-of-type(2) {
              width: 100%;
              max-width: 162px;
              padding-right: 10px;
              @include adaptive(575) {
                display: flex;
                justify-content: flex-end;
                max-width: 100%;
                padding-top: 10px;
                padding-bottom: 5px;
              }

              .combos__box-like {
                position: relative;
                top: -4px;
                height: 40px;

                > a {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 50%;
                  height: 100%;
                  color: $c-white;
                  font-size: 16px;
                  font-weight: bold;
                  font-family: 'Ubuntu', sans-serif;
                  @include adaptive(575) {
                    font-size: 14px;
                  }

                  .icon {
                    &-font {
                      position: relative;
                      font-size: 16px;
                      @include adaptive(575) {
                        font-size: 14px;
                      }
                    }
                    &-like {
                      top: -3px;
                    }
                    &-dislike {
                      bottom: -2px;
                    }
                  }

                  span {
                    padding-left: 3px;
                  }
                }
              }
            }
          }

          &:before {
            content: '';
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            clip-path: polygon(0 100%, 80% 75%, 100% 0, 100% 100%);
            background-color: #45839A;
          }

          .icon-font {
            color: #fff;
            font-size: 33px;
          }

          p,
          h1 {
            padding-left: 15px;
            color: #fff;
            line-height: 1;
            text-transform: uppercase;
            @include fluid(font-size, 320px, 767px, 25px, 42px);
          }
        }

        &-left {
          max-width: calc(100% - 265px);
          padding-left: 30px;
          padding-right: 30px;
          @include adaptive(1199) {
            max-width: 100%;
          }
          @include adaptive(991) {
            max-width: calc(100% - 265px)
          }
          @include adaptive(767) {
            max-width: 100%;
            min-height: 0;
            padding-top: 30px;
          }
        }

        &-right {
          width: 265px;
          padding-top: 50px;
          @include adaptive(1199) {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
          }
          @include adaptive(991) {
            width: 265px;
            padding-left: 15px;
            padding-right: 15px;
          }
          @include adaptive(767) {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            padding-top: 30px;
          }

          > div {
            @include adaptive(991) {
              width: calc(100% / 2);
            }
            @include adaptive(767) {
              width: calc(100% / 3);
            }
            @include adaptive(424) {
              width: calc(100% / 2);
            }
          }
        }

        &-bottom {
          display: flex;
          justify-content: center;
          max-width: 265px;
          margin-left: auto;
          padding-right: 15px;
          padding-bottom: 30px;
        }

        &-img {
          border-style: solid;
          border-width: 4px;
          border-color: rgb(232, 242, 255);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.17);
          background-image: radial-gradient(#bebebe,#848282);

          img {
            display: block;
            max-width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            filter: drop-shadow(10px 5px 0px #171f32);
          }
        }
      }
    }
  }

  &__create {
    position: relative;
    padding: 50px 0 0;

    &-bg {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #222838;
      clip-path: polygon(0 0, 100% 2%, 97% 98%, 2% 100%);

      &:before,
      &:after {
        content: '';
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #282f42;
      }

      &:before {
        clip-path: polygon(0 0, 25% 70%, 100% 100%, 0 100%);
      }

      &:after {
        clip-path: polygon(80% 25%, 95% 5%, 100% 0, 100% 40%);
      }
    }

    &-triangle {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;

        &:nth-of-type(1) {
          left: -15px;
          top: 60%;
        }
        &:nth-of-type(2) {
          top: 10%;
          left: -20px;
        }
        &:nth-of-type(3) {
          bottom: -15px;
          right: -15px;
        }
      }
    }

    &-title {
      position: relative;
      display: flex;
      align-items: center;
      width: 95%;
      height: 97px;
      margin-left: auto;
      margin-right: auto;
      padding: 5px 10px 5px 30px;
      background-color: #ffd600;
      clip-path: polygon(0 0, 100% 2%, 97% 98%, 2% 100%);

      i {
        color: #ffffff;
        font-size: 43px;
      }

      p {
        padding-left: 10px;
        font-size: 43px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.2;
        @include adaptive(1199) {
          font-size: 38px;
        }
        @include adaptive(767) {
          font-size: 33px;
        }
        @include adaptive(575) {
          font-size: 25px;
        }
      }
    }

    &-body {
      display: flex;
      justify-content: center;
      padding: 50px 30px 15px;
    }
  }

  &__preview {
    margin-bottom: 50px;

    .section-resize {
      &-bg {
        background-color: #232F4C;

        &:before {
          background-color: #1D2841;
        }
      }
      &-triangle {
        img {
          &:nth-of-type(1),
          &:nth-of-type(3),
          &:nth-of-type(4),
          &:nth-of-type(5) {
            display: none;
          }

          &:nth-of-type(2) {
            bottom: -10px;
          }
        }
      }
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptive(575) {
        flex-wrap: wrap;

        > div {
          width: 100%;
          margin-bottom: 10px;
        }
      }

      .skin__like-header {
        width: auto;
        max-width: initial;
        padding-right: 30px;
        @include adaptive(575) {
          width: 100%;
          max-width: 100%;
        }
      }

      .icon-i-combos {
        color: #fff;
        @include fluid(font-size, 320px, 992px, 30px, 42px);
      }
    }

    &-body {
      padding-bottom: 50px;
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptive(575) {
        flex-wrap: wrap;

        > div {
          width: 100%;
          margin-bottom: 10px;
        }

        a {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .combos {
      &__box {

        @each $className, $colorVal, $bg1, $bg2 in
            ('legendary', 'radial-gradient(#ea8d23,#c04d1f)', #e38748, #c04d1f),
            ('epic', 'radial-gradient(#c359ff,#701fe5)', #b04eec, #701fe5),
            ('rare', 'radial-gradient(#2cc1ff,#215dc2)', #3ad6ff, #215dc2),
            ('uncommon', 'radial-gradient(#69bb1e,#227622)', #8fee3b, #227622),
            ('common', 'radial-gradient(#bebebe,#848282)', #bebebe, #848282)
        {
          &--#{$className} {
            .combos__box-img {
              background-image: #{$colorVal};
            }
            .combos__box-title--bg {
              background-color: $bg1;

              &:before {
                background-color: $bg2;
              }
            }
          }
        }

        &-bg,
        &-triangle {
          display: none;
        }

        &-heading {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          width: 95%;
          min-height: 80px;
          margin-left: auto;
          margin-right: auto;
          padding: 5px 15px;
          background-color: #4d5f88;
          clip-path: polygon(0 0, 100% 7%, 97% 96%, 2% 100%);
          @include adaptive(575) {
            flex-wrap: wrap;
          }

          > div {
            z-index: 2;
            position: relative;

            &:nth-of-type(1) {
              display: flex;
              align-items: center;
              @include adaptive(575) {
                padding-top: 5px;
              }
            }

            &:nth-of-type(2) {
              width: 100%;
              max-width: 162px;
              padding-right: 10px;
              @include adaptive(575) {
                display: flex;
                justify-content: flex-end;
                max-width: 100%;
                padding-top: 10px;
                padding-bottom: 5px;
              }

              .combos__box-like {
                position: relative;
                top: -4px;
                height: 40px;

                > a {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 50%;
                  height: 100%;
                  color: $c-white;
                  font-size: 16px;
                  font-weight: bold;
                  font-family: 'Ubuntu', sans-serif;
                  @include adaptive(575) {
                    font-size: 14px;
                  }

                  .icon {
                    &-font {
                      position: relative;
                      font-size: 16px;
                      @include adaptive(575) {
                        font-size: 14px;
                      }
                    }
                    &-like {
                      top: -3px;
                    }
                    &-dislike {
                      bottom: -2px;
                    }
                  }

                  span {
                    padding-left: 3px;
                  }
                }
              }
            }
          }

          &:before {
            content: '';
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #4d5f88;
            clip-path: polygon(0 100%, 80% 75%, 100% 0, 100% 100%);
          }

          .icon-font {
            color: #fff;
            font-size: 33px;
          }

          p,
          h1 {
            padding-left: 15px;
            color: #fff;
            line-height: 1;
            text-transform: uppercase;
            @include fluid(font-size, 320px, 767px, 25px, 42px);
          }
        }

        &-left {
          max-width: calc(100% - 265px);
          padding-left: 30px;
          padding-right: 30px;
          @include adaptive(1199) {
            max-width: 100%;
          }
          @include adaptive(991) {
            max-width: calc(100% - 265px)
          }
          @include adaptive(767) {
            max-width: 100%;
            min-height: 0;
            padding-top: 30px;
          }
        }

        &-right {
          width: 265px;
          padding-top: 50px;
          @include adaptive(1199) {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
          }
          @include adaptive(991) {
            width: 265px;
            padding-left: 15px;
            padding-right: 15px;
          }
          @include adaptive(767) {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            padding-top: 30px;
          }

          > div {
            @include adaptive(991) {
              width: calc(100% / 2);
            }
            @include adaptive(767) {
              width: calc(100% / 3);
            }
            @include adaptive(424) {
              width: calc(100% / 2);
            }
          }
        }

        &-bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding-right: 30px;
          @include adaptive(575) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            padding-right: 0;

            a {
              margin-top: 30px;
              margin-left: auto;
              margin-right: auto;
            }

            .combos__box-total {
              margin-left: auto;
            }
          }

          .item__btn.c-btn {
            display: flex;
            background-color: #4d5f88;
            color: #fff;

            .icon-paint {
              padding-left: 0;
              color: #fff;
              margin-right: 10px;
              font-size: 24px;
            }
          }
        }

        &-img {
          border-style: solid;
          border-width: 4px;
          border-color: rgb(232, 242, 255);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.17);
          background-image: radial-gradient(#bebebe,#848282);

          img {
            display: block;
            max-width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            filter: drop-shadow(10px 5px 0px #171f32);
          }
        }
      }
    }
  }
}

// SECTION combo :: END